:scss
  .program {
    .fact {
      text-align: right;
    }
    .bar {
      margin-top: 50px;
      text-align: center;
      h3 { display: inline; }
    }

  }



.program
  .fact.col-xs-3
    =t('.done')
    %h2
      -unless program[:budget_sum].nil?
        = number_to_currency(program[:budget_sum][year][:fact][:sum], unit: '')


  .bar.col-xs-6
    -unless program[:budget_sum].nil?
      = render partial: 'programs/targeted_programs/program/progress', locals: { perc: calc_percentage(program[:budget_sum][year][:plan][:sum], program[:budget_sum][year][:fact][:sum]) }
    =t('.remains')
    %h3
      -unless program[:years].nil?
        = number_to_currency(program[:budget_sum][year][:plan][:sum] - program[:budget_sum][year][:fact][:sum], unit: '')

  .col-xs-3
    =t('.planned')
    %h3
      -unless program[:budget_sum].nil?
        = number_to_currency(program[:budget_sum][year][:plan][:sum], unit: '')
