:scss
  .indicators {
    .title {
      font-weight: normal;
      font-family: 'Lato', sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 15px;
    }
    .program-indicators {
      padding: 0;
    }
  }

-#TODO: Unless indicators check
.col-xs-12.indicators
  .title
    = t('.group_indicators')
  .col-xs-12.program-indicators

    -#tabs partial
    = render partial: 'programs/targeted_programs/program/indicators_tabs',
    locals: { indicators: indicators }

    -#content partial
    = render partial: 'programs/targeted_programs/program/indicators_content',
    locals: { indicators: indicators }

:javascript
  $(document).ready(function(){
    $('#main-navs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var nav_href = $(e.target).attr('href');
      // if we don't choose pig bubble
      if(nav_href != '#tab_bubble'){
        // get active panel dom
        var active_div = $('.indicate-list').find($(e.target).attr('href'));
        // reset active li
        active_div.find('ul > li').removeClass('active');
        // find first li in active dom
        var first_li = active_div.find('ul > li').first();
        first_li.addClass('active');
        // reset indicator pane
        $('.indicate-pane').find('.active').removeClass('active');
        // find indicator by id and show him
        $(first_li.find('a').attr('href')).addClass('active in');
      }

    })

    $("a[href$='#tab_bubble']").click(function(){
      $('.indicate-list').find('.active').removeClass('active');
    })
  })