.calendar_action
  %h4.title{ 'style' => "color: #{calendar_action.text_color || "black"}; background-color: #{calendar_action.color} || silver"}
    %span.fa{:class => calendar_action.icon}
    %strong= calendar_action.title
  %div.description
    = calendar_action.description.html_safe
