:scss
  .default_action{
    margin: 0;
    div{
      border-radius: 2px;
      border: 1px solid white;
      padding: 0px;
    }
    p{
      margin: 5px 0;
      color:white;
      text-align: center;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px){
    .default_action{
      p{
        font-size: 13px;
      }
    }
  }
  #folding{
    background: #{CalendarAction::ACTION_TYPE_FOLDING_COLOR};
  }
  #analysis{
    background: #{CalendarAction::ACTION_TYPE_ANALYSIS_COLOR};
     p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  #discussion{
    //width: 30%;
    background: #{CalendarAction::ACTION_TYPE_DISCUSSION_COLOR};
    p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  #execution{
    background: #{CalendarAction::ACTION_TYPE_EXECUTION_COLOR};
  }
.row.default_action
  .col-sm-5.col-md-2#folding
    %p=t('calendar_actions.form.radio_folding')
  .col-sm-7.col-md-3#analysis
    %p=t('calendar_actions.form.radio_analysis')
  .col-sm-9.col-md-5#discussion
    %p=t('calendar_actions.form.radio_discussion')
  .col-sm-3.col-md-2#execution
    %p=t('calendar_actions.form.radio_execution')
