:scss

  .partners{
    font-size: 0;
    .reset-padding{
      padding: 0;
    }
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .partner{
        background: linear-gradient(to right, transparent, silver, transparent);
        display: inline-block;
        width: 19%;
        margin-right: 1.25%;
        margin-bottom: 10px;
        text-align: center;
      .logo{
        border-bottom: 2px solid red;
        margin-bottom: 5px;
        padding-bottom: 5px;
        .logo-partner{
          height: 100px;
          margin: 0 auto;
        }
      }
      .data-actions{
        font-size: 14px;
        p{
          padding-left: 3px;
          text-align: left;
          overflow: hidden;
          margin-bottom: 5px;
          white-space: nowrap;
          word-wrap: normal; /* for IE */
          text-overflow: ellipsis;
        }
        .info-show-logo {
          text-align: left;
          color: #2CC185;
        }
        .logo-actions{
          text-align: right;
          color: #0a6aa1;
        }
        .fa{
          margin: 3px 4px 0 4px;
        }
      }
    }
    .partner:nth-child(5n){
      margin-right: 0%;
    }
    @media (min-width: 500px) and (max-width: 768px) {
      .partner{
        width: 33%;
        margin-right: 0.5%;
        .logo-partner{
        }
      }
      .partner:nth-child(5n){
        margin-right: 0.5%;
      }
      .partner:nth-child(3n){
        margin-right: 0;
      }
    }
    @media (max-width: 500px){
      .partner{
        width: 100%;
        .logo-partner{
        }
      }
    }
  }


.col-md-10.col-md-offset-1.partners
  .header
    %h2= t('.header')
    .new-budget-btn
      %h2= link_to t('.new_btn_name'), new_modules_partner_path, :class => 'btn btn-info'
  %hr
  .list-partners
    = render 'list_partners'