.container.partners-form
  %h1 New modules_partner
  %p
    Щоб логотипи партнерів ідеально виглядали на головній сторінці їх розміри повинні бути 166х100px або з відповідним співвідношенням сторін.

  = render 'form'

  -#= link_to 'Back', modules_partners_path
