:scss
  $dark-blue: #0d0b5e;
  $light-yellow: cornsilk;
  .partners-form{
    > p{
      color: $dark-blue;
      background: $light-yellow;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;
    }
  }

.container.partners-form
  %h2
    = t('modules.partners.form.new_header')
  %p
    = t('modules.partners.form.message_for_admin')

  = render 'form'
