:scss
  .banners-form{
    > p{
      color: #0d0b5e;
      background: cornsilk;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;
    }
  }

.col-md-6.col-md-offset-3.banners-form
  %h2
    New banner
  %p
    Для кращого відображення банер повинен бути 360*200px або з відповідним співвідношенням сторін.

  = render 'form'
