:scss
  .banners-form{
    > p{
      color: #0d0b5e;
      background: cornsilk;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;
    }
  }

.col-md-6.col-md-offset-3.banners-form
  %h2
    = t('modules.banners.form.new_header')
  %p
    = t('modules.banners.form.message_for_admin')

  = render 'form'
