= bootstrap_form_for @documentation_branch, :html => { :class => 'form-vertical' } do |f|
  .form-group.fg-line
    = f.text_field :title, :class => 'form-control'

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), documentation_branches_path, :class => 'btn btn-default'
