.col-sm-12
  = bootstrap_form_for @documentation_branch, :html => { :class => 'form-horizontal' } do |f|

    = f.text_field :title, :class => 'form-control'

    .form-group
      %label Color
      .input-group.color-select
        %input{name: "documentation_branch[color]", value: @documentation_branch['color'] }
        %span.input-group-addon
          %i

    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), documentation_branches_path, :class => 'btn btn-default'

  :javascript

    $(document).ready(function(){
      $(".color-select").colorpicker();
    })