%div{:style => "min-height: 100px;
                line-height: 100px;
                background: blue;
                color: white;
                font-size: 35px;
                vertical-align: middle;
                text-align: center;"}
  Ключові документи


  -#  text_style = "style='font-size: 22px;'"
  -#
  -#
  -#
  -#  pre_header_style = "style='font-size:26px;
  -#    text-align:center;
  -#      color:#216BA1;'"
  -#
  -#
  -#  input_place_style = "style='font-size: 14px;
  -#    background: gray;
  -#    opacity: 0.5;
  -#    width: 50%;
  -#    height: 150px;
  -#    margin-left: 25%;
  -#    text-align: center;'"
  -#
  -#  document_text = "<div " + header_style + " >Ключові документи</div>
  -#
  -#<div " + text_style +">для детального дослідження бюджету м. Одеса
  -#Натисніть на назву документа, щоб перейти на офіційну сторінку органу
  -#влади, де він розміщений
  -#Бюджет м. Одеси на 2013 рік
  -#Звіт про виконання бюджету м. Одеси на 2012 рік
  -#Джерела фактично отриманих доходів в 2012 р., напрямки та статті витрат, порівняння з
  -#запланованими доходами і видатками.
  -#Пояснювальна записка про виконання бюджету м. Одеси на
  -#2012 рік
  -#Рівень ключових бюджетних показників (напр., рівня виконання бюджету, обсягу власних
  -#доходів, обсягу надходжень до бюджету розвитку) у порівнянні із попереднім роком,
  -#заборгованість міського бюджету, структуру окремих статей та іншу інформацію.
  -#Генеральний план м. Одеси
  -#Плани щодо використання території м. Одеси на найближчі роки.
  -#Стратегія економічного та соціального розвитку м. Одеси до 2022 р.
  -#Довгострокові цільові показники розвитку міста, досягнення яких заплановано до 2022 року;
  -#Програма соціально-економічного розвитку м. Одеси на 2013 р.
  -#Запланований рівень основних соціально-економічних показників (напр., середньомісячної
  -#заробітна плата, площі введеного в експлуатацію житла, кількість зареєстрованих безробітних)
  -#станом на кінець року.
  -#Програма комплексного соціально-економічного розвитку
  -#м. Одеси на 2005-2015 роки
  -#Програма запланованих заходів у м. Одесі до 2015 року, із зазначенням запланованого обсягу
  -#їхнього фінансування в тому числі з державного та обласного бюджетів.
  -#Міські програми м. Одеси
  -#В міських програмах визначено перелік заходів в конкретних сферах життя міста на найближчі
  -#роки та очікувані результати від їхньої реалізації.
  -#Регламент Одеської міської ради VI скликання
  -#Інформація про порядок затвердження та виконання бюджету м. Одеса.</div>"
  -#
  -#info_text = "Джерела інформації
  -#1. Бюджетний кодекс України.
  -#2. http://www.odessa.ua – офіційний сайт міста Одеси.
  -#3. http://www.od.ukrstat.gov.ua – Головне управління статистики в
  -#Одескій області (офіційний веб-сайт).
  -#4. Звіт про виконання бюджету м. Одеси на 2012 рік.
  -#5. Звіт про виконання бюджету м. Одеси на 2011 рік.
  -#6. Звіт про виконання бюджету м. Одеси на 2010 рік.
  -#7. Пояснювальна записка про виконання бюджету м. Одеси на 2012 р.
  -#8. Аналитическая информация о результатах деятельности системы
  -#образования города Одессы за 2011 г. и 9 месяцев 2012 г.
  -#9. Відповіді Одеської міської ради на інформаційні запити.
  -#10. Лондар С. Л., Тимошенко О. В. Фінанси. Навчальний посібник.– Ві-
  -#нниця: Нова Книга, 2009 – 384 с.
  -#11. Ганущак Ю. І. Місцеві бюджети.– К. : Легальний статус, 2011.– 48 с.
  -#12. Залучення громадян до діяльності органів місцевого самовряду-
  -#вання: Навч. посіб./ І. Бураковський, В. Зайчикова, С. Максименко, І. Пара-
  -#сюк. – За ред. І. Бураковського. – К. : УНІСЕРВ, 2004
  -#Громадський бюджет підготувала експертна група
  -#Центру Політичних Студій та Аналітики у складі
  -#Володимира ТАРНАЯ, Павла МИРОНОВА та Віктора ТАРАНА.
  -#Візуальне оформлення Вадима МІСЬКОГО."
  -#
  -## /////////////////////////////////////////////////



  -#<div " + pre_header_style + " >Календар громадської участі у бюджетному процесі</div>
  -#" + img_input