.content_page{:style => content_page_style}
  %p
    .header_title{:style => header_style,"header_number" => 5}
      Як впливати на бюджет міста?
  %p
    %div{:style => 'font-size:26px;text-align:center;color:#216BA1;'}
      Календар громадської участі у бюджетному процесі
  %p
    .visual_place.disabled{"data-number" => "4", :style => visual_place_style}
      Місце для вставки візуалізації
      %br
        Натисніть на цей блок і виберіть візуалізацію
  %p
    Текст