.content_page{:style => content_page_style}
  %p
    .header_title{:style => header_style,"header_number" => 1}
      Бюджет міста: просто про складне
  %p{:style => 'font-size: 22px;'}
    Бюджет відображає план
    отримання доходів та їх використання для досягнення поставлених цілей.
    За принципом бюджетої рівноваги доходи та
    видатки бюджету повинні бути збалансованими.
    Фінуправління можуть формувати бюджетну інформацію в
    різних розрізах в залежності від
    потреби користувачів інформації.
    Найчастіше інформацію про
    видатки відображають за функціями які покладені на міську владу:
  %p
    .visual_place.disabled{"data-number" => "1", :style => visual_place_style}
      Місце для вставки візуалізації
      %br
        Натисніть на цей блок і виберіть візуалізацію
  %p{:style => 'font-size: 22px;'}
    Дізнатися звідки беруться гроші в бюджеті міста та куди вони витрачаються Ви можете на наступній сторінці.
