-page_style = "height: 1165px; width:794px; background: blue;color: white;font-size: 16px;padding:25% 15%"
-hr_style = "margin:5px -15px !important"
.content_page{style: page_style}
  .row
    %h1{style: "text-align:center"}
      Зміст

  .row
    %p
      .pull-left.content_page_title{'data-header-numb' => 0}
        Що таке громадський бюджет?
      .pull-right
        3
  %hr{style: hr_style}
  .row
    %p
      .pull-left.content_page_title{'data-header-numb' => 1}
        Бюджет міста: просто про складне
      .pull-right
        4
  %hr{style: hr_style}
  .row
    %p
      .pull-left.content_page_title{'data-header-numb' => 2}
        Куди йдуть мої гроші?
      .pull-right
        5
  %hr{style: hr_style}
  .row
    %p
      .pull-left.content_page_title{'data-header-numb' => 3}
        Скільки витрачають на мене?
      .pull-right
        6
  %hr{style: hr_style}
  .row
    %p
      .pull-left.content_page_title{'data-header-numb' => 4}
        Показники діяльності міста
      .pull-right
        7
  %hr{style: hr_style}
  .row
    %p
      .pull-left.content_page_title{'data-header-numb' => 5}
        Як впливати на бюджет міста?
      .pull-right
        8
  %hr{style: hr_style}
