-hr_style = ''
-right_style = 'display:inline-block;float:right;width:10%;text-align:right;'
-left_style = 'display:inline-block;float:left;width:89%;'
-row_style = 'margin:7px 0px;'
.page_for_pdf{:style => "width:794px;background: blue;color: white;height:1135px;font-size: 18px;"}
  .contents{style: "padding: 25% 15%;"}
    .col-xs-12
      %h1{style: "text-align:center"}
        Зміст
    .row{style: row_style}
      .content_page_title{style: left_style,'data-header-numb' => 0}
        Що таке громадський бюджет?
      .page_number{style: right_style}
        3
    .row{style: row_style}
      .content_page_title{style: left_style,'data-header-numb' => 1}
        Бюджет міста: просто про складне
      .page_number{style: right_style}
        4
    .row{style: row_style}
      .content_page_title{style: left_style,'data-header-numb' => 2}
        Куди йдуть мої гроші?
      .page_number{style: right_style}
        5
    .row{style: row_style}
      .content_page_title{style: left_style,'data-header-numb' => 3}
        Скільки витрачають на мене?
      .page_number{style: right_style}
        6
    .row{style: row_style}
      .content_page_title{style: left_style,'data-header-numb' => 4}
        Показники діяльності міста
      .page_number{style: right_style}
        7
    .row{style: row_style}
      .content_page_title{style: left_style,'data-header-numb' => 5}
        Як впливати на бюджет міста?
      .page_number{style: right_style}
        8
