%div{:style => "min-height:#{page_height};width:#{page_width}"}
  %p
    .header_title{:style => header_style,"header_number" => 4}
      Показники діяльності міста
  %p
    %div{:style => 'font-size:26px;text-align:center;color:#216BA1;'}
      та їх динаміка у 2012, 2013 та 2014 роках
  %p{:style => 'font-size: 22px;'}
    Тут зібрані ключові показники діяльності міста
  %p
    .visual_place.disabled{"data-number" => "3", :style => visual_place_style}
      Місце для вставки візуалізації
      %br
        Натисніть на цей блок і виберіть візуалізацію
  %p
    Текст