.content_page{:style => content_page_style}
  %p
    .header_title{:style => header_style,"header_number" => 3}
      Скільки витрачають на мене?
  %p{:style => 'font-size: 22px;'}
    Знайдіть послугу, якою користуєтесь, і перегляньте скільки коштів з міського бюджету було витрачено у 2015 році в середньому
    на одного отримувача
