.content_page{:style => content_page_style}
  %p
    .header_title{:style => header_style,"header_number" => 3}
      Заголовок
  %p{:style => 'font-size: 22px;'}
    Текст
  %p
  .visual_place.disabled{"data-number" => "3", :style => visual_place_style}
    Місце для вставки візуалізації
    %br
      Натисніть на цей блок і виберіть візуалізацію
  %p{:style => 'font-size: 22px;'}
    Текст

