-#-binding.pry
%div{:style => "height:#{page_height};width:#{page_width};text-overflow:elepsis;overflow: hidden;"}
  %p
    .header_title{:style => header_style,"header_number" => 0}
      Що таке громадський бюджет?
  %p{:style => 'font-size: 22px;'}
    Громадський бюджет – це зрозуміла форма презентації основних бюджетних документів та результатів їх впровадження. Він
    покликаний в доступній формі та доступною мовою дати громадянам розуміння ключових аспектів формування,
    результатів виконання та контролю за виконанням міського бюджету.
    Громадський бюджет надає короткий екскурс до ключових документів
    міста та головних результатів його функціонування з точки зору
    корисності їх для пересічного громадянина.
    Показники функціонування міста не обов’язково є безпосереднім результатом діяль-
    ності міськради чи її виконавчих органів, проте істотно впливають на життя громадян.
    Громадський бюджет сприяє підвищенню прозорості та
    доступності основної бюджетної інформації, результатів діяльності
    органів влади на місцях, коли будь-якому користувачеві стає зрозуміло,
    яким чином міська влада здійснює акумулювання, розподіл і використання коштів міського бюджету.
    Для зручності користування громадський бюджет містить
    гіперпосилання на ключові документи для детального
    дослідження бюджету міста та департаменти і управління міської
    ради які відають основними галузями на які спрямовані кошти
    міськради. Ми переконані, що платники податків повинні знати,
    яким чином використовуються їхні кошти, та знати про свої
    можливості впливати на цей процес їх використання.
    Тому складовою частиною громадського бюджету є бюджетний календар
    з зазначенням інструментів участі громадськості в бюджетному
    процесі міста.