%div{:style => "width:100%; background: blue;color: white;height:297mm"}
  -#%div{:style => "padding-left:20%;padding-top: 183px;height:335px"}
  .col-xs-12{:style => "padding:25%;"}
    =image_tag('export_budget/pig.png',width: '100%')
    #title_page_title{:style => "padding-top: 40px;font-size: 60px;text-align:center;"}
      Ltvjycnhfwsz da ad a
    #title_page_city{:style => 'padding-top: 20px;font-size: 40px;text-align:center;'}
      Vinnitsa
    #title_page_year{:style => 'padding-top: 20px;font-size: 30px;text-align:center;'}
      2016