%div{:style => "min-height:#{page_height};width:#{page_width}"}
  %p
    .header_title{:style => header_style,"header_number" => 2}
      Куди йдуть мої гроші?
  %p{:style => 'font-size: 22px;'}
    Перегляд кошторису
  %p
    .visual_place.disabled{"data-number" => "2", :style => visual_place_style}
      Місце для вставки візуалізації
      %br
        Натисніть на цей блок і виберіть візуалізацію
    %br