%a{ href: '#', id: 'description', 'data-type' => 'wysihtml5', 'data-escape' => false, 'data-pk' => "#{@documentation_category.id}", 'data-resource' => 'documentation_category', 'data-url' => "#{documentation_category_path}", 'data-emptytext' => 'Докладніше про категорію...' }
  = @documentation_category.description.html_safe() if @documentation_category.description

:javascript
  $(document).ready(function() {
      $('#description').editable({
        escape: false,

        "font-styles":  true, //Font styling, e.g. h1, h2, etc
        "color":        true, //Button to change color of font
        "emphasis":     true, //Italics, bold, etc
        "textAlign":    true, //Text align (left, right, center, justify)
        "lists":        true, //(Un)ordered lists, e.g. Bullets, Numbers
        "blockquote":   true, //Button to insert quote
        "link":         true, //Button to insert a link
        "table":        true, //Button to insert a table
        "image":        true, //Button to insert an image
        "video":        true, //Button to insert YouTube video
        "html":         false //Button which allows you to edit the generated HTML
      });
  });