%a{ href: '#', id: 'description', 'data-type' => 'wysihtml5', 'data-escape' => false, 'data-pk' => "#{@documentation_category.id}", 'data-resource' => 'documentation_category', 'data-url' => "#{documentation_category_path}", 'data-emptytext' => 'Докладніше про категорію...' }
  = @documentation_category.description.html_safe() if @documentation_category.description

:javascript
  $(document).ready(function() {
      $('#description').editable({
        escape: false,
      });
  });
