= stylesheet_link_tag "themes/default/style.min.css", :media => "all"
= javascript_include_tag "jstree.js"

:css
  .documentation #category_tree{
    /*min-height: 600px;*/
    padding-top: 25px;
  }

  .documentation .documents {
    max-height: 1200px;
    overflow: auto;
  }

= content_for :header do
  .head.pull-left
    Категорії документів

.documentation

  .col-sm-4
    %button#create.btn.btn-success.btn-sm{ type: 'button' }
      %i.glyphicon.glyphicon-asterisk
        Додати
    %button#rename.btn.btn-warning.btn-sm{ type: 'button' }
      %i.glyphicon.glyphicon-pencil
        Редагувати
    %button#delete.btn.btn-danger.btn-sm{ type: 'button' }
      %i.glyphicon.glyphicon-remove
        Видалити

    #category_tree

    #category_content

  .col-sm-8
    .panel.panel-default
      .panel-heading
        Новий документ
      .new_document.panel-body
        = render :partial => 'documentation/documents/new_document', :locals => { :new_document => Documentation::Document.new }

    .panel.panel-default
      .panel-heading
        Завантажені документи
      .documents.panel-body.col-sm-12


:javascript
  $(document).ready(function() {
    $('.documentation .file_upload form').bind("ajax:success", function(f){
      console.log(f)
    });
  });


:javascript
  $(document).ready(function() {
    $('.documentation .document a[data-method="delete"]').bind("ajax:success", function(f){
      console.log(f)
    });
  });



:javascript

  $(document).ready(function() {
    $('.documentation #create').on('click', function() {
      var ref = $('#category_tree').jstree(true),
          sel = ref.get_selected();
      sel = sel.length > 0 ? sel[0] : null
      sel = ref.create_node(sel, {"type":"file"});
      if (sel) {
          ref.edit(sel);
      }
    })
    $('.documentation #rename').on('click', function() {
        var ref = $('#category_tree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        ref.edit(sel);
    })
    $('.documentation #delete').on('click', function() {
      var ref = $('#category_tree').jstree(true),
          sel = ref.get_selected();
      if(!sel.length) { return false; }
      ref.delete_node(sel);
    })
  })

  $(document).ready(function() {

    $('#category_tree').jstree({
      "core" : {
        "animation" : 0,
        "check_callback" : true,
        "themes" : { "stripes" : true },
        'data' : {
          'url' : function (node) {
            return node.id === '#' ?
              'categories_tree_root.json' : 'categories_tree.json';
          },
          'data' : function (node) {
            return { 'id' : node.id };
          }
        },
        "types" : {
          "default" : {
            "icon" : "glyphicon glyphicon-flash"
          },
          "demo" : {
            "icon" : "glyphicon glyphicon-ok"
          }
        },
      },
      "plugins" : [
        "contextmenu", "dnd", "search",
        "state", "types", "wholerow"
      ]

    })
    .on('delete_node.jstree', function (e, data) {
      $.ajax({
        method: 'DELETE',
        url: 'categories/' + data.node.id + '.json'
      })
      .fail(function () {
          data.instance.refresh();
      });
    })
    .on('create_node.jstree', function (e, data) {
      $.ajax({
        method: 'post',
        url: '',
        dataType: 'json',
        data: {
          documentation_category: {
            category_id: data.node.parent,
            title: data.node.text
          }
        }
      })
      .done(function (d) {
        data.instance.set_id(data.node, d.id);
      })
      .fail(function () {
        data.instance.refresh();
      });
    })
    .on('rename_node.jstree', function (e, data) {
        $.ajax({
          method: 'PUT',
          url: 'categories/' + data.node.id + '.json',
          data: {
            documentation_category: {
              title: data.text
            }
          }
        })
        .fail(function () {
            data.instance.refresh();
        });
    })
    .on('move_node.jstree', function (e, data) {
        $.ajax({
          method: 'PUT',
          url: 'categories/' + data.node.id + '.json',
          data: {
            documentation_category: {
              category_id: data.parent,
              position: data.position
            }
          }
        })
        .fail(function () {
            data.instance.refresh();
        });
    })
    .on('copy_node.jstree', function (e, data) {
      $.post('.json', {
        documentation_category: {
          category_id: data.node.parent,
          title: data.node.text,
          position: data.position
        }
      })
      .always(function () {
        data.instance.refresh();
      });
    })
    .on('changed.jstree', function (e, data) {
        if(data && data.selected && data.selected.length) {
            $.get('categories/' + data.selected, function (d) {
            });
        }
        else {
            $('.documentation #category_content').html('')
        }
    });
  });
