.town {
  width: 250px;
  margin: 10px;
  height: 250px;
  background-color: rgba(128, 128, 128, 0.05);
  transition: all .25s ease;
  text-align: center;

  &:hover {
    background-color: rgba(128, 128, 128, 0.1);
  }

  h3 {
    text-decoration: none;
  }
  img {
  }
}

