@-moz-document url-prefix() {

  .title-town {
    h3 {
      font-size: 1.25em !important;
    }
  }
}

.town {
  width: 250px;
  margin: 10px;
  height: 250px;
  //  background-color: rgba(128, 128, 128, 0.05);
  transition: all .25s ease;
  text-align: center;

  &:hover {
    //    background-color: rgba(128, 128, 128, 0.1);
  }

  .title-town {
    margin: 0;
    height: 2.92em;
    transform-style: preserve-3d;
    text-decoration: none;

    h3 {
      position: relative;
      top: 50%;
      margin: 0;
      font-size: 1em;
      text-decoration: none;
      transform: translateY(-50%);
    }
  }

  .img-town {
    margin: .5em;
    height: 10.5em;
    transform-style: preserve-3d;

    img {
      display: inline-block;
    }
  }
}

#portfolio {
  margin-top: 25px;

  hr {
    margin-bottom: 0;
  }

  .portfolio-title {
    height: 10px;
  }

  .row div {
    margin: 0 0 15px 0;
  }

  .circle_block {
    width: 125px;
    height: 165px;
    text-align: center;
    float: left;
  }

  .circle {
    width: 115px;
    height: 115px;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .circle:hover {
    width: 125px;
    height: 125px;
    margin-top: 0;
    opacity: 0.7;
  }
}

#sidebar_info {
  margin-top: 25px;
}

#coins_chart {
  .axis text {
    font-size: 1.0em;
    font-weight: bold;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .bar {
    fill-opacity: .7;
  }
}

/*Begin. towns/docs block*/

.bsize {
  font-size: .73em;
  background-color: rgba(128, 128, 128, .35);
  border-radius: 4px;
  line-height: 1.2em;
  padding: 4px 4px;

}

.nav > li > a:hover > .bsize {
  background-color: rgba(128, 128, 128, .85);
}

.nav > li.active > a:focus > .bsize {
  background-color: rgba(128, 128, 128, .85);
}

.fa-t-fix {
  font-size: .47em;
}

.fa-folder-o {
  color: #808080;
}

.fa-stack:hover .fa-folder-o, .bcol :hover {
  //  color: #0099da !important;
}

.stat {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

/*End. towns/docs block*/

/*Begin. Folder view block*/
.folder {
  -webkit-perspective: 500px;
  perspective: 500px;
  width: 146px;
  height: 45px;
  background: #2980DE;
  //  position: absolute;
  top: 20%;
  left: 50%;
  //  -webkit-transform: translate(-50%, -50%);
  //  transform: translate(-50%, -50%);
  border-top-right-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;

  &::before {
    width: 40px;
    height: 10px;
    content: '';
    background: #2980DE;
    position: absolute;
    top: -10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &::after {
    width: 146px;
    height: 90px;
    position: absolute;
    content: '';
    background: #2980DE;
    top: 15px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }

}

.folder-text {
  p {
//    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
    color: rgb(255, 255, 255);
    font: normal 15px sans-serif;
  }
  padding: 5px;
  position: absolute;
  top: 35%;
  left: 2%;
  display: flex;
  width: 143px;
  height: 90px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.folder-inside {
  width: 132px;
  height: 83px;
  position: absolute;
  background: #fff;
  top: 7px;
  left: 7px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;

  &::before {
    content: '';
    background: -webkit-repeating-linear-gradient(145deg, white, white 10px, #333333 7px, #333333 20px);
    background: repeating-linear-gradient(0deg, white, white 5px, #333333 5px, #333333 10px);
    position: absolute;
    top: -20px;
    left: 25px;
    width: 83px;
    height: 130px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0.15;
  }

}

.folder:hover {
  //  -webkit-transform: translate(-50%, -52%);
  //  transform: translate(-50%, -52%);

  &::after {
    -webkit-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
  }

  .folder-inside {
    -webkit-transform: rotate(-7deg) translateY(-15%);
    transform: rotate(-7deg) translateY(-15%);
  }

}

.icon-folder-num {
  background-color: #FFF;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 75px;
  z-index: 1;
  position: relative;
  float: right;
  left: -100px;
  top: -20px;
  //  border: 1px solid;
  text-align: center;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 14px sans-serif;
  color: rgb(41, 128, 222);
}

.docs-inline {
  margin: 20px 0 0 0;
  display: block;
}

.fol {
  display: inline-block;
  height: 120px;
  margin: 0 30px 20px 0;
}
/*End. Folder view block*/

/*Begin. Blazon border fix*/
.thumbnail {
  border: none;
  margin-bottom: 10px !important;
}
/*End. Blazon border fix*/

.nav-tabs {
  padding-right: 0;
}

hr.towns-form {
  margin: 0 0 5px 0;
}

/*Begin. Toggle button*/
.toggle-element {
  overflow: hidden;
  transition: all 0.3s ease-out;
  .r-pad {
    padding: 0 5px 0 0 !important;
  }
  .control-label {
    resize: vertical;
  }
}
.toggle-element[data-state=closed] {
  max-height: 0;
}
.toggle-element[data-state=open] {
//  max-height: 15em;
}
/*End. Toggle button*/
/*Begin. Town profile buttons menu*/
//Top menu
.top-user-menu {
  margin-top: -15px;
  margin-bottom: 5px;

  .fix-pad {
    padding: 0;
  }
  .btn {
    margin-left: 1px;
  }
  #title {
    font-style: normal;
    font-size: 20px;
  }
  .editable {
    border: none;
    color: black;
  }
  .editable-click, a.editable-click, a.editable-click:hover {
    border: none;
  }
  .editable-click, a.editable-click, a.editable-click:focus {
    text-decoration: none;
  }
  .editable:before {
    content: "\270E";
    font-size: 16px;
    margin-top: -5px;
  }
  .editable-disabled:before {
    content: none !important;
  }
}
//Bottom menu
.buttom-user-menu {

  .fix-pad {
    padding: 0;
  }
  .btn {
    margin-left: 5px;
  }

}
/*End. Town profile buttons menu*/
