:scss
  .margin_like_form{
    margin: 15px;
  }
  #user_calendar{
    margin: 0px;
  }


.margin_like_form
  .form-group
    =label_tag('tax_rot',t('taxonomy_rot'))
    =select_tag 'tax_rot', options_from_collection_for_select(@presenter.taxonomies_rot,'id','title'),
      class:'form-control',:prompt => t('.choose_taxonomy_rot')
  .form-group
    =label_tag('tax_rov',t('taxonomy_rov'))
    =select_tag 'tax_rov', options_from_collection_for_select(@presenter.taxonomies_rov,'id','title'),
      class:'form-control',:prompt => t('.choose_taxonomy_rov')
  .form-group
    =label_tag('sankey',t('sankeys.get_sankey'))
    =check_box_tag 'sankey',false,false,disabled: true

  .form-group
    =label_tag('user_calendar',t('choose_calendar'))
    =select_tag 'user_calendar', options_from_collection_for_select(@presenter.calendars,'id','title'),
      class:'form-control',:prompt => t('.choose_calendar')
  .form-group
    =label_tag('indicates',t('indicate.taxonomies.form.header'))
    =select_tag 'indicates', options_from_collection_for_select(@presenter.indicates,'id','id'),
      class:'form-control',:prompt => t('.choose_indicate')
:javascript

    $(document).ready(function(){
       var set_sankey_button_status = function(){
        var sankey_dom = $('#sankey');
        sankey_dom.attr('disabled','disabled');
        // sankey object should be init in parent window
        // with two field :
        // first  sankey.tax_rot = ''
        // second sankey.tax_rov = ''
        if (sankey.tax_rot && sankey.tax_rov){
          sankey_dom.removeAttr('disabled');
        }
      }

      var set_taxonomies_in_select = function(){
        if(sankey.tax_rot){
          $('#tax_rot').val(sankey.tax_rot);
        }
        if(sankey.tax_rov){
          $('#tax_rov').val(sankey.tax_rov);
        }
      };
      set_taxonomies_in_select();
      set_sankey_button_status();

      $('#user_calendar').change(function(){
        var calendar_id = $(this).val();
        if (calendar_id){
          show_iframe_in_modal('/widgets/calendar/show/' + calendar_id);
        }
      });

      $('#tax_rot').change(function(){
        var tax_rot_id = $(this).val();
        if(tax_rot_id){
          // sankey object init in parent window
          // set to sankey object taxonomy rot id
          sankey.tax_rot = tax_rot_id;
          show_iframe_in_modal('/widgets/visify/bubbletree/' + tax_rot_id);
        }
        set_sankey_button_status();
      });

      $('#tax_rov').change(function(){
        var tax_rov_id = $(this).val();
        if(tax_rov_id){
          // sankey object init in parent window
          // set to sankey object taxonomy rov id
          sankey.tax_rov = tax_rov_id;
          show_iframe_in_modal('/widgets/visify/bubbletree/' + $(this).val());
        }
        set_sankey_button_status();
      });

      $('#indicates').change(function(){
        if($(this).val()){
          show_iframe_in_modal('/widgets/town_profile/show_indicates/' + $(this).val(),'#indicators');
        }
      });

      $('#sankey').change(function(){
        if($(this).is(":checked")) {
          if(sankey.tax_rot && sankey.tax_rov){
            // sankey object init in parent window
            show_iframe_in_modal('/widgets/town_profile/sankey_by_taxonomies/' +
                sankey.tax_rot + '/' + sankey.tax_rov);
          }
        }
      });
      var show_iframe_in_modal = function(iframe_url,panel_selector) {
        if (panel_selector == undefined){
          panel_selector = 'div.active'
        }

        // set iframe url
        $('#export_budget_visualisation_modal_window').find('#iframe').attr('src',iframe_url + "?locale=#{params[:locale]}");
        // set div what we should copy
        $('#export_budget_visualisation_modal_window').find('#iframe').attr('data-panel-selector',panel_selector);
        // set place where we should place img
        $('#export_budget_visualisation_modal_window').find('#iframe').attr('data-input-selector',"#{params[:data_number]}");
        // set textarea where we push visualisation btn
        $('#export_budget_visualisation_modal_window').find('#iframe').attr('data-textarea-id',"#{params[:page_id]}");
        // hide this modal
        $('#visualisation_list').modal('hide');
        $('#export_budget_visualisation_modal_window').modal();
        };

  });


