:scss
  $button-background: #0c2231;
  $button-text: black;

    #export_classifier,
    #statistic_classifier {
      margin: 5px;
      color: $button-text;
      font-weight: bold;
      font-size: 17px;
      margin: 3px 20px;
      display: inline;
      i {
        padding-right: 5px;
        color: $button-text;
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  .statistic-link {
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin: 3px 5px;
    display: inline;
    &:hover {
      color: black;
    }
  }

.col-sm-2.reset-padding.pull-right
  %a#export_classifier{ href: properting_choosed_file_upload_by_year_path(params[:id]), target: '_blank' }
    %i.fa.fa-sign-out{"aria-hidden" => "true"}
    |
    =t('helpers.links.export')

-#.col-sm-2.reset-padding.text-center
  %a#statistic_classifier{ href: properting_maps_statistic_path(params[:town_id]), target: '_blank' }
    %i.fa.fa-stack-overflow{ "aria-hidden" => "true" }
    |
    = t('helpers.links.statistics')
