%input#Radio1.radio{"data-value" => 1, :name => "hitmap", :type => "radio"}>/
true
%input#Radio2.radio{"data-value" => 0, :name => "hitmap", :type => "radio"}>/
false

-#%form
  .radio
    %label
      %input.radio{ checked: 'checked', name: 'hitmap', id: 'Radio1', type: 'radio', 'data-value' => true }
      hit on
  .radio
    %label
      %input.radio{ name: 'hitmap', id: 'Radio2', type: 'radio', 'data-value' => false }
      hit off




