:scss
  .wrap-st-content {
    padding: 20px 0;
  }

.wrap-st-content
  .row
    .col-sm-4
      %h4 Загальна к-сть об’єктів оренди:
    .col-sm-4
      %h4 385
  .row
    .col-sm-4
      %h4 Загальна площа орендованого майна:
    .col-sm-4
      %h4 24732
  .row
    .col-sm-4
      %h4 Кількість об’єктів соціального призначення:
    .col-sm-4
      %h4 98
  .row
    .col-sm-4
      %h4 Середня вартість оренди квадратного метру комерційної оренди:
    .col-sm-4
      %h4 102
  .row
    .col-sm-4
      %h4 Середня площа приміщення, що здається в оренду:
    .col-sm-4
      %h4 78
  .row
    .col-sm-4
      %h4 Сумарна оцінка вартості комунального майна:
    .col-sm-4
      %h4 78097775
  .row
    .col-sm-4
      %h4 RoE:
    .col-sm-4
      %h4 1350
  .row
    .col-sm-4
      %h4 К-сть вільних приміщень:
    .col-sm-4
      %h4 350
