:css
  .collapse_btn {
    border-radius: 10px;
  }

  .collapse_btn.active {
    color: inherit;
  }

  .collapse_btn.non-active {
    color: transparent;
  }

  .group_header {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .select_tag {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
  }

  @media screen and (min-width: 1300px) {
    h2 {
      /*font-size: 1.4em;*/
      /*moz-font-size: 1.0em;*/
    }
  }

- if @indicator_keys.length > 0
  = render partial: 'year_select'
  .tab-content.group_content
    - i = 0
    - @indicator_keys.each do |group, value|
      .tab-pane{:class => @group ? (group == @group ? "in active" : "") : (i == 0 ? "in active" : ""), :id => "group_" + i.to_s}
        .group_header
          = group
        %table
          %tbody
            - j = 0
            - value['indicators'].each do |indicator|
              %tr
                %td
                  .collapse_btn.btn.btn-default.btn-xs{:class => @selected_key ? (group == @group ? (indicator['id'] == @selected_key ? "active" : "non-active") : (j == 0 ? "active" : "non-active")) : (j == 0 ? "active" : "non-active"), 'data-id' => indicator['id'], 'data-name' => indicator['name'] }
                    %i.fa.fa-circle
                %td{:class => 'key_href'}
                  %a{:href => '#'}
                    = indicator['name']
              - j = j + 1
      - i = i + 1
  #key_description
    %h4
      Пояснення
    .content