:css
  .map_container {
    height: 600px;
  }

  .map_container svg {
    position: relative;
  }

  .map_container path {
    fill: orange;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .map_container path:hover {
    fill-opacity: 1.0;
  }

  .leaflet-container {
    background: transparent;
  }

  .leaflet-top.leaflet-left, .leaflet-control-attribution.leaflet-control {
    display: none;
  }

= content_for :top do
  .map_container.col-sm-12.col-md-8
    = render partial: 'map'

:javascript

  $(document).ready(function() {

    var aRepairMap = RepairMap({ scrollWheelZoom: false, zoom: 6,
      center: [48.5, 31],
      bounds: [ [47.54677, 21.44531], [52.32182, 41.52832]]
    });

    // one collapse panel would be always open
    $('.panel-heading a').on('click',function(e){
        if($(this).parents('.panel').children('.panel-collapse').hasClass('in')){
            e.stopPropagation();
        }
    });

    // trigger map click on collapse button click
    $('.collapse_btn').click(function(){
      var collapse_btn = $('.collapse.in .collapse_btn');
      collapse_btn.removeClass('active').addClass('non-active');
      $('.collapse.in .collapse_descr.in').removeClass('in');
      var current_btn = $(this);
      current_btn.removeClass('non-active').addClass('active');
      aRepairMap.resetData(current_btn.data('id'));
    });

    // find active button with key in shown collapse panel
    $('.key_groups').click(function(){
      var current_btn = $($(this).attr('href')).find('.collapse_btn.active')[0];
      aRepairMap.resetData($(current_btn).data('id'));
    });

    // add Areas
    $.ajax({
      method: 'get',
      url: '/key_indicate_map/indicators/geo_json/areas',
      dataType: 'json',
    })
    .done(function (data) {
      var key = $('.collapse.in .collapse_btn.active').data('id');
      aRepairMap.addGeoJsonSvg(data, key, {
        zIndex: 1,
        featureClickCallback: onFeatureClick,
        getInfoContent: getInfoContent
      })
    })
    .fail(function () {
    });


    // add markers
    $.ajax({
      method: 'get',
      url: '/key_indicate_map/indicators/geo_json',
      dataType: 'json'
    })
    .done(function (data) {
      aRepairMap.addGeoJsonPoints(data, getPoint, {
        clustered: true,
        style: {
          opacity: 0.8,
        },
        hoverStyle: {
          opacity: 1,
        },
        featureClickCallback: onFeatureClick,
        getInfoContent: getInfoContent
      })
    })
    .fail(function () {
    });


    var CityIcon = L.Icon.extend({ options: { iconSize: [32, 32] }});
    var TownIcon = L.Icon.extend({ options: { iconSize: [32, 32] }});

    var icons = {}
    icons.city = new CityIcon({iconUrl: '/assets/map/iconCity.png'})
    icons.town = new TownIcon({iconUrl: '/assets/map/iconTown.png'})

    function getPoint(properties) {
      var point = {}
      switch (properties.level) {
        case 'city':
          point.icon = icons.city
          break
        case 'town':
          point.icon = icons.town
          break
        default:
          point.icon = new L.Icon.Default()
          break
      }

      return point
    }

    function onFeatureClick(feature) {
      var town_url = "#{public_path('ID')}".replace('ID', feature.properties.id)
      window.location = town_url
    }

    function getInfoContent(properties) {
      var content =
        '<h3>' + properties.title + '</h3>' +
        '<p>Документів: ' + properties.indicators + '</p>'
      return content
    }
  });
