:css
  @media screen and (max-width: 1500px) {
    #key_comparison table tr td:nth-child(3) {
        display: block;
    }
    #key_comparison table tr td:nth-child(1), table tr td:nth-child(2) {
        display: inline-block;
    }
  }

#key_comparison
  %h4
    = t('key_indicate_map.indicators.indicators_list.comparison')
  %table.table
    %thead
      %tr
        %th
        %th
        %th
    %tbody
  %small
    *
    = t('key_indicate_map.indicators.indicators_list.hint1')
    %br
    *
    = t('key_indicate_map.indicators.indicators_list.hint2')
