/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ===== Media ===== */

@media all and (max-width: 1665px) {
    .main-section .clouds-block {
        background-position: -1050px 215px;
        background-size: 2508px auto;
    }
    .main-section .town-block {
        background-position: -870px 0;
        background-size: 2500px auto;
    }
}
@media (min-width: 1320px) and (max-width: 1410px) {
    .main-section .row{
        margin: 0 6%;
    }
    .main-section .titles-blocks .titles {
        padding: 0 0 0 5%;
    }
}
@media (min-width: 1198px) and (max-width: 1319px) {
    .main-section .row{
        margin: 0 2%;
    }
    .main-section .titles-blocks .titles {
        padding: 0 0 0 4%;
    }
    .main-section .icons-block {
        margin: 0 50px;
    }
}
@media (min-width: 1098px) and (max-width: 1199px) {
    nav > .container {
        width: 1100px;
    }
    .main-section .row{
        margin: 0 1%;
    }
    .main-section .titles-blocks .titles {
        padding: 0 0 0 5%;
    }
    .main-section .icons-block {
        margin: 0 50px;
    }
    .main-section .titles-blocks .titles .main-title > p {
        font-size: 38px;
    }
}
@media (min-width: 960px) and (max-width: 1097px) {
    .navbar .container .navbar-header .logo-block .title{
        word-wrap: break-word;
        margin-left: 42px;
    }
    .main-section .icons-block {
        margin: 0 30px;
    }
    .main-section .titles-blocks .titles .main-title > p {
        font-size: 33px;
    }
    .main-section .row{
        margin: 0;
    }
    .main-section .titles-blocks .titles {
        padding: 0 0 0 10%;
    }
    .main-section .titles-blocks .titles .text {
        margin: 95px 0;
    }
    .main-section .icons-block .first-row {
        margin: 0;
    }
    .main-section .icons-block .second-row {
        padding-left: 60px;
    }
}
@media (min-width: 768px) and (max-width: 959px) {
    .main-section .icons-block {
        margin: 0;
    }
    .main-section .row {
        margin: 0;
    }
    .main-section .titles-blocks .titles .main-title {
        height: 100px;
    }
    .main-section .titles-blocks .titles .main-title > p {
        font-size: 31px;
    }
    .main-section .icons-block .first-row {
        margin: 0;
    }
    .main-section .icons-block .second-row {
        padding-left: 60px;
    }
    .main-section .titles-blocks .titles {
        padding: 0 0 0 70px;
    }
    .main-section .titles-blocks .titles .text {
        margin: 105px 0;
    }
}
@media (min-width: 920px) and (max-width: 1099px) {
    nav > .container {
        width: 920px;
    }
    .navbar .container .navbar-header .logo-block .title{
        font-size: 13px;
        top: 25px;
    }
    .navbar .container .navbar-header .logo-block {
        width: 140px;
    }
    .navbar .container .navbar-collapse ul.navbar-nav > li > a {
        font-size: 13px;
    }
    .nav > li > a {
        padding: 15px 10px;
    }
}
@media (min-width: 820px) and (max-width: 919px) {
    nav > .container {
        width: 820px;
    }
    .navbar .container .navbar-header .logo-block .title{
        font-size: 12px;
        top: 25px;
    }
    .navbar .container .navbar-header .logo-block {
        width: 140px;
    }
    .navbar .container .navbar-collapse ul.navbar-nav > li > a {
        font-size: 12px;
    }
    .nav > li > a {
        padding: 15px 8px;
    }
    .main-section .titles-blocks .titles {
        padding: 0 0 0 110px;
    }
    .main-section .titles-blocks .titles .main-title > p {
        font-size: 26px;
    }
    .main-section .titles-blocks .titles .button {
        width: 330px;
    }
    .main-section .titles-blocks .titles .button .try > p {
        font-size: 35px;
        margin: 6px 0 6px 10px;
    }
    .main-section .titles-blocks .titles .main-title {
        height: 80px;
    }
    .main-section .titles-blocks .titles .text {
        margin: 115px 0;
    }
}
@media (min-width: 768px) and (max-width: 819px) {
    nav > .container {
        width: 768px;
    }
    .navbar .container .navbar-header .logo-block .title{
        font-size: 11px;
        top: 27px;
    }
    .navbar .container .navbar-header .logo-block {
        width: 130px;
    }
    .navbar .container .navbar-collapse ul.navbar-nav > li > a {
        font-size: 11px;
    }
    .nav > li > a {
        padding: 15px 8px;
    }
    .main-section .titles-blocks .titles {
        padding: 0 0 0 150px;
    }
    .main-section .titles-blocks .titles .main-title > p {
        font-size: 1.425em;
    }
    .main-section .titles-blocks .titles .text > p {
        font-size: 1.425em;
    }
    .main-section .titles-blocks .titles .button {
        width: 230px;
    }
    .main-section .titles-blocks .titles .button .try > p {
        font-size: 1.7em;
        margin: .65em 0 .65em .3em;
    }
    .main-section .titles-blocks .titles .button .try .icon-block > i {
        font-size: 40px;
        margin: 10px;
    }
}
@media (max-width: 767px) {
    nav.min .container .navbar-header button.navbar-toggle {
        margin-top: 8px;
    }
    .navbar .container .navbar-header .logo-block {
        margin-left: 10px;
    }
    nav.min .container .navbar-header .logo-block {
        margin-left: 10px;
    }
    nav .container .navbar-header button.navbar-toggle {
        margin-top: 15px;
    }
    .navbar .container .navbar-collapse {
        overflow-y: visible;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar .container .navbar-collapse ul.navbar-nav {
        float: none;
        background: #0c2231;
    }
    .navbar .container .navbar-collapse ul.navbar-nav > li > a:hover, .navbar .container .navbar-collapse ul.navbar-nav > li > a:focus {
        border: none;
        padding-bottom: 10px;
    }
    nav .container .navbar-collapse ul > li {
        text-align: center;
    }
}
@media (max-width: 768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top: 0 none;
    }
    .main-section .titles-blocks .titles{
        top: -400px;
    }
    .main-section .icons-block{
        display: none;
    }
    .main-section .titles-blocks .icons{
        top: 90px;
    }
    .main-section .titles-blocks .icons .people{
        margin-left: 50px;
        margin-right: 0;
    }
    .main-section .titles-blocks .icons .official{
        margin-right: 50px;
        margin-left: 0;
    }
    .main-section .titles-blocks .titles .main-title > p{
        font-size: 40px;
    }
    .main-section .titles-blocks .titles .text{
        margin-top: 50px;
        margin-bottom: 320px;
    }
    .main-section .titles-blocks .titles .text > p{
        text-align: center;
    }
    .main-section .titles-blocks .titles .button{
        margin: 0 60px;
    }
    .map-section .container .map-title-block,
    .news-section .container .news-title-block{
        padding: 0;
    }
    .map-section .container .map-title-block .map-title,
    .news-section .container .news-title-block .news-title{
        padding: 0;
    }
    .map-section .container .map-title-block .map-title > p,
    .news-section .container .news-title-block .news-title > p{
        font-size: 32px;
        padding: 0 90px;
    }
    .map-section .container .map-title-block .map-title > hr,
    .news-section .container .news-title-block .news-title > hr{
        width: 45%;
    }
    .map-section{
        top: -40px;
        position: relative;
    }
    .map-section .container .map-block{
        padding: 0;
    }
    footer .footer-wrapper .footer-logos{
        position: relative;
        top: -140px;
    }
    footer .footer-wrapper .footer-text{
        position: relative;
        top: 100px;
    }
}