%h1 Файли комунальних підприємств

%table
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @municipal_enterprise_files.each do |enterprise_file|
      %tr
        %td= enterprise_file.file_identifier
        -#%td= link_to 'Show', enterprise_file
        -#%td= link_to 'Edit', edit_municipal_enterprise_file_path(enterprise_file)
        %td= link_to 'Destroy', enterprise_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Додати файл', new_municipal_enterprise_file_path, class: 'btn btn-info'
