:scss
  .clarity-analysis{
    a{
      display: inline-block;
      &:nth-child(1){
        margin-right: 10px;
      }
      img {
        max-width: 100% !important;
        max-height: 30px;
      }
    }
  }

.row.clarity-analysis
  .col-xs-12
    - if @repairing_repairs.edrpou_spending_units
      = link_to image_tag('repairing/customer.png', class: 'img-responsive'),
                "https://clarity-project.info/entity/#{correct_edrpou(@repairing_repairs.edrpou_spending_units)}",
                target: '_blank'
    - if @repairing_repairs.edrpou_artist
      = link_to image_tag('repairing/contractor.png', class: 'img-responsive'),
                "https://clarity-project.info/entity/#{correct_edrpou(@repairing_repairs.edrpou_artist)}",
                target: '_blank'