.btn-group{'data-toggle' => 'buttons'}
  %label.btn.btn-default.active.level_select{:value => "ktfk_aaa ktfk kekv"}
    %input{:name => "level", :type => "radio"}
    = t('widgets.visify.bubbletree.programmatic')

  %label.btn.btn-default.level_select{:value => "kekv ktfk_aaa ktfk"}
    %input{:name => "level", :type => "radio"}
    = t('widgets.visify.bubbletree.economic')

-# catch click on host page
