.btn-group{'data-toggle' => 'buttons'}
  %label.btn.btn-default.amountype_select{'data-amountype' => "plan", :class => "active"}
    %input{'type' => 'radio', 'name' => 'options', 'autocomplete' => 'off', 'checked' => "checked"}
      План
  %label.btn.btn-default.amountype_select{'data-amountype' => "fact"}
    %input{'type' => 'radio', 'name' => 'options', 'autocomplete' => 'off'}
      Факт

-# catch click on host page
