:scss
  $dark-blue: #0c2231;
  $white: #ffffff;
  $no-color: transparent;
  .select2-drop-active {
    border: 1px solid #0c2231;
    border-top: 0;
    border-radius: 0;
    .select2-search{
      display: none;
    }
  }
  .select-year{
    .select2-container {
      .select2-choice{
        height: 32px;
        border-radius: 0;
        border-color: $dark-blue;
        background-color: $no-color;
        background-image: none;
        abbr{
          right: 32px;
        }
        .select2-chosen{
          margin-top: 3px;
          margin-right: 46px;
          font-size: 16px;
          color: #999;
        }
        .select2-arrow{
          border-left: 0;
          border-radius: 0;
          background: blue;
          &:before {
            content: '\f04b';
            transform: rotate(90deg);
            font-family: FontAwesome;
            position: absolute;
            right: 0;
            cursor: pointer;
            font-size: 20px;
            color: #ACA99F;
            width: 32px;
            height: 32px;
            background: $dark-blue;
            color: $white;
            padding: 3px 0 2px 9px;
          }
        }
      }
    }
  }

.select-year
  = select_tag :year_select, options_for_select(years.to_a.reverse), {include_blank: true}