:css
  .popover {
    width: 300px;
  }

  .popover-title {
    font-weight: bold;
  }

  .form-horizontal {
    margin: 10px;
  }

  .form-horizontal table {
    width: 100%;
  }

  .form-horizontal table tr {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-horizontal table tr td:nth-child(1) {
    width: 20%;
  }

  .form-horizontal table tr td:nth-child(2) {
    width: 80%;
  }

  .form-group label {
    position: relative;
    font-weight: normal;
    top: 0;
    right: 0;
    width: 20%;
  }

  .form-group select {
    display: inline-block;
    width: 70%;
  }


.embed_btn.pull-right
  %button.btn.btn-primary.btn_embed{"data-toggle" => "popover"}
    %i.fa.fa-code

#embed_visual.embed_hide.embed{'data-width' => data_width, 'data-height' => data_height, 'data-name' => data_name}
  .form-horizontal
    .form-group
      %input.form-control{'readonly' => 'readonly'}
    -if data_name != "timelinejs"
      %table
        %tr
          %td
            =t('iframe.select')
          %td
            %select.form-control.iframe_size_select{ :id => data_id}
        %tr
          %td
          %td.iframe_other_size

:javascript

  $(document).ready(function() {

    I18n.locale = window.aHelper.lang();

    $('.embed_btn').find('[data-toggle="popover"]').popover({
      html: true,
      placement : 'left',
      title: I18n.t('embed'),
      content: function() {
        var content = "";
        src = $('iframe').attr('src');
        $('#embed_visual input').val("<iframe width='900' height='1200' src='" + src + "'></iframe>")
        $('#embed_visual').find('.iframe_size_select').html("<option value=\"300\">450x600</option>\
                                                              <option value=\"default\" selected>900x1200</option>\
                                                              <option value=\"900\">1350x1900</option>\
                                                              <option value=\"other\">" + I18n.t('iframe.size') + "</option>")
        $('#embed_visual').find('.iframe_other_size').html("");
        content = $('#embed_visual .form-horizontal');
        return content;
      }
    })

    // hide popover if click outside
    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });

    $(document.body).on('hide.bs.popover', function (){
      console.log('change')
    })

    $(document.body).on('shown.bs.popover', function () {
      $('.iframe_size_select').change(function(e) {
          var option = $(this).find(":selected").val();
          if(option == "other" && $('.iframe_other_size').text() == "") {
              $('.iframe_other_size').html("<input autofocus type=\"number\" min=\"100\" max=\"1000\" step=\"1\" name=\"width\" placeholder=\"width\"'></input> X \
                                            <input type=\"number\" min=\"100\" max=\"1000\" step=\"1\" name=\"height\" placeholder=\"height\"'></input> px");
          } else if (option != "other") {
              $('.iframe_other_size').html('');
              var size = $(this).find(":selected").text().split("x");
              var width = size[0];
              var height = size[1];
              var frame_url = $('.popover-content input').val().split("src='")[1];
              document.querySelector('.popover-content input').value = "<iframe width='" + width + "' height='" + height + "' src='" + frame_url;
          }
      })

      // function to dynamically fill the embed code with indicator_file width and height
      $('.iframe_other_size').on('focusout', 'input', function(event){
          var curr_value = $(this).val();
          var sibling_value = $(this).siblings().val();
          if(!$.isNumeric(curr_value)) {
              curr_value = 100;
          } else if(curr_value < 100) {
              curr_value = 100;
          } else if(curr_value > 1500) {
              curr_value = 1500;
          }
          if(sibling_value != "") {
              if(sibling_value < 100) {
                  sibling_value = 100;
              } else if(sibling_value > 1500) {
                  sibling_value = 1500;
              }
              var width, height;
              if($(this).attr('name') == "width") {
                  width = curr_value;
                  height = sibling_value;
              } else {
                  width = sibling_value;
                  height = curr_value;
              }
              //if($('#sankey_chart')) {
              //    if(width < 900) width = 900;
              //    if(height < 500) height = 500;
              //}
              var frame_url = $('.popover-content input').val().split("src='")[1];
              document.querySelector('.popover-content input').value = "<iframe width='" + width + "' height='" + height + "' src='" + frame_url;
          }
      });
    })

    $("#embed_visual input").on("click", function () {
        $(this).select();
    });

  })