:css

  .popover {
    width: 700px;
  }

  .popover-title {
    font-weight: bold;
  }

  .embed_code {
    display: inline;
  }

  .form-horizontal {
    margin: 10px;
  }

  .form-horizontal table {
    width: 100%;
  }

  .form-horizontal table tr {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-horizontal table tr td:nth-child(1) {
    width: 20%;
  }

  .form-horizontal table tr td:nth-child(2) {
    width: 80%;
  }

  .form-group label {
    position: relative;
    font-weight: normal;
    top: 0;
    right: 0;
    width: 20%;
  }

  .form-group select {
    display: inline-block;
    width: 70%;
  }

  input[type="number"] {
     width:60px;
  }


.embed_btn.pull-right
  %button.btn.btn-primary.btn_embed{"data-toggle" => "popover"}
    %i.fa.fa-code

.embed-hide{'style' => 'display: none;'}
  .form-horizontal
    .form-group
      %input.form-control{}
    %table
      %tr
        %td
          =t('iframe.select')
        %td
          %select.form-control.iframe_size_select
      %tr
        %td
        %td.iframe_other_size
.clear

