-# http://bl.ocks.org/mbostock/1005873
-#http://bl.ocks.org/mbostock/4347473
-#http://bl.ocks.org/mbostock/1005873

.icicle
  #sidebar.col-xs-3
  #chart



:javascript

  $(document).ready(function() {

    var width = $(document).width() - $('#sidebar').width() - 50,
        height = $(document).height() - 120

    var x = d3.scale.linear()
        .range([0, width]);

    var y = d3.scale.linear()
        .range([0, height]);

    var color = d3.scale.category20c();

    var partition = d3.layout.partition()
        .size([width, height])
        .value(function(d) { return d.size; })

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    var rect = svg.selectAll("rect");

    d3.json("/widgets/visify/get_sunburst_data/#{budget_file_id}", function(error, root) {
      var nodes = partition.nodes(root);

      rect = rect
          .data(nodes)
        .enter().append("rect")
          .attr("x", function(d) { return x(d.x); })
          .attr("y", function(d) { return y(d.y); })
          .attr("width", function(d) { return x(d.dx); })
          .attr("height", function(d) { return y(d.dy); })
          .attr("fill", function(d) { return color((d.children ? d : d.parent).size); })
          .on("click", clicked);
    });

    function clicked(d) {
      x.domain([d.x, d.x + d.dx]);
      y.domain([d.y, 1]).range([d.y ? 20 : 0, height]);

      rect.transition()
          .duration(750)
          .attr("x", function(d) { return x(d.x); })
          .attr("y", function(d) { return y(d.y); })
          .attr("width", function(d) { return x(d.x + d.dx) - x(d.x); })
          .attr("height", function(d) { return y(d.y + d.dy) - y(d.y); });
    }
  })
