.pull-right
  .btn-group{'data-toggle' => 'buttons'}
    %label.btn.btn-default.active.data_type
      %input{:name => "data_type", :type => "radio", :value => "plan"}
      = t('js.visify.plan')
    %label.btn.btn-default.data_type
      %input{:name => "data_type", :type => "radio", :value => "fact"}
      = t('js.visify.fact')

