
#sidebar.col-xs-12.col-sm-12.col-md-4.col-lg-4
  = render partial: 'sidebar_table', :locals => { budget_file_id: budget_file_id }

  %hr
    #description


:javascript

  function aSidebar(aContainer) {
    var table;

    return {
      container: aContainer,

      initialize: function(height){
        table = aSidebarTable('#sidebar')
        table.initialize(450)
      },

      hide: function(){
        $(aContainer + ' #sidebar #description').html('');
        table.hide();
      },
      show: function(node){
        this.showUndersequence(node);
        this.getLevelInfo(node)
      },

      getLevelInfo: function(node) {
        $(aContainer + ' #description').html('');
        $.getJSON("/widgets/visify/get_bubbletree_nodedata/#{@budget_file.id}/" + node.taxonomy + "/" + node.key, function(data) {
          div_descr = ''
          if (data.description) {
            div_descr = "<div class='description'>" + data.description + "</div>"
          }
          $(aContainer + ' #description').html(div_descr)
        })

        table.show(node.children);

      },

      showUndersequence: function(node) {
        I18n.locale = window.aHelper.lang()
        label = node.label || ''
        icon = node.icon || ''

        if (node.parent && node.amount <= node.parent.amount) {
          percentage = aVisify.helpers.getPercentageString(node, node.parent.amount)
          percParentTitle = I18n.t("js.visify.of") + "<span style='font-weight: bold;'>" + node.parent.label || ''
        }
        else {
          percentage = '100%'
          percParentTitle = ''
        }

        div = '<h4 style="color: #FF9933;"><i class="fa ' + icon + '"></i><span style="font-weight: bold;"> ' + label
          + ": " + aVisify.helpers.formatNumber(node.amount)
          + ", <small class='percentage'>" + percentage + percParentTitle + "</small>"
          //+ ", " + I18n.t("js.visify.plan") + ": " + aVisify.helpers.formatNumber(node.amount)
          + "</h4>"
          //+ ", " + I18n.t("js.visify.fact") + ": " + aVisify.helpers.formatNumber(node.amount * .95) + "</h5>"

        $(aContainer + ' #under_sequence').html(div)
      },
    }
  }