#sidebar_table

:javascript
  function aSidebarTable() {
    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width, height

    function hide() {
      $("#sidebar_table").height(0).html('')
    }


    return {
      initialize: function(pHeight) {
        width = $('#sidebar_chart').width() - margin.left - margin.right,
        height = pHeight - margin.top - margin.bottom;

      },
      hide: hide,
      show: function(data) {
        hide()

        if (data == null)
          return

        $("#sidebar_table").height(height + margin.top + margin.bottom)

        div = '<table class="table table-hover">'
        $.each(data, function( index, value ) {
          div += '<tr>'
            + '<td><div style="float: left; margin-right: 10px; margin-top: 4px; width:10px; height:10px; background-color:' + value.color + '"></div>'
            + value.label + '</td>'
            + '<td>' + aVisify.helpers.formatNumber(value.amount) + '</td>'
            + '<td>' + aVisify.helpers.getPercentageString(value, value.parent.amount) + '</td>'
            + '</tr>'
        });
        div += '</table>'

        $('#sidebar_table').html(div)
      },
    }
  }