#sidebar.col-xs-4

  #title
  #accordion.panel-group{ 'role' => 'tablist', 'aria-multiselectable' => 'true'}
    .panel.panel-default
      #heading1.panel-heading{'role' => 'tab'}
        %h4.panel-title
          %a{'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapse1', 'aria-expanded' => 'true', 'aria-controls' => 'collapse1'}
            =t('.explanation')
      #collapse1.panel-collapse.collapse.in{'role' => 'tabpanel', 'aria-labelledby' => 'heading1' }
        .panel-body
          #description

    .panel.panel-default
      #headingCompare.panel-heading{'role' => 'tab'}
        %h4.panel-title
          %a.collapsed{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href'=> '#collapseCompare', 'aria-expanded' => 'false', 'aria-controls' => 'collapseCompare'}
            =t('.comparison_within_years')
      #collapseCompare.panel-collapse.collapse{'role' => 'tabpanel', 'aria-labelledby' => 'headingCompare' }
        .panel-body
          = render partial: 'sidebar_compare', :locals => { budget_file_id: budget_file_id }

    .panel.panel-default
      #headingChart.panel-heading{'role' => 'tab'}
        %h4.panel-title
          %a.collapsed{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href'=> '#collapseChart', 'aria-expanded' => 'false', 'aria-controls' => 'collapseChart'}
            =t('.chart')
      #collapseChart.panel-collapse.collapse{'role' => 'tabpanel', 'aria-labelledby' => 'headingChart' }
        .panel-body
          = render partial: 'sidebar_chart', :locals => { budget_file_id: budget_file_id }

    .panel.panel-default
      #heading2.panel-heading{'role' => 'tab'}
        %h4.panel-title
          %a.collapsed{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href'=> '#collapse2', 'aria-expanded' => 'false', 'aria-controls' => 'collapse2'}
            =t('.pie')
      #collapse2.panel-collapse.collapse{'role' => 'tabpanel', 'aria-labelledby' => 'heading2' }
        .panel-body
          = render partial: 'sidebar_pie', :locals => { budget_file_id: budget_file_id }


    .panel.panel-default
      #heading3.panel-heading{'role' => 'tab'}
        %h4.panel-title
          %a.collapsed{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href'=> '#collapse3', 'aria-expanded' => 'false', 'aria-controls' => 'collapse3'}
            =t('.table')
      #collapse3.panel-collapse.collapse{'role' => 'tabpanel', 'aria-labelledby' => 'heading3' }
        .panel-body
          = render partial: 'sidebar_table', :locals => { budget_file_id: budget_file_id }


:javascript

  function aSidebar(aContainer) {

    return {
      container: aContainer,

      initialize: function(height){
        $(aContainer + ' #sidebar').height(height)

        compare = aSidebarCompare('#sidebar')
        compare.initialize(250)

        chart = aSidebarChart('#sidebar')
        chart.initialize(350)

        pie = aSidebarPie('#sidebar')
        pie.initialize(350)

        table = aSidebarTable('#sidebar')
        table.initialize(450)
      },

      hide: function(){
        $(aContainer + ' #sidebar #title').html('')
        $(aContainer + ' #sidebar #description').html('')

        compare.hide()
        chart.hide()
        pie.hide()
        table.hide()
      },
      show: function(node){
        I18n.locale = window.aHelper.lang()
        label = node.label || ''

        if (node.parent && node.amount <= node.parent.amount) {
          percentage = aVisify.helpers.getPercentageString(node, node.parent.amount)
          percParentTitle = I18n.t("js.visify.of") + node.parent.label || ''
        }
        else {
          percentage = '100%'
          percParentTitle = ''
        }

        div = '<h3>' + label
          + ", <span class='percentage'>" + percentage + "<small>" + percParentTitle + "</small></span></h3>"
          + "<h4>" + I18n.t("js.visify.plan") + ": " + aVisify.helpers.formatNumber(node.amount)
          + ", " + I18n.t("js.visify.fact") + ": " + aVisify.helpers.formatNumber(node.amount * .95) + "</h4>"

        $(aContainer + ' #title').html(div)

        div_descr = ''
        if (node.description) {
          div_descr = "<div class='description'>" + node.description + "</div>"
        }
        $(aContainer + ' #description').html(div_descr)

        if (node.history) {
          compare.show(node.history)
        } else {
          compare.hide()
        }

        chart.show(node.children)
        pie.show(node.children)
        table.show(node.children)
      }
    }
  }