:css
  table {
      table-layout:fixed;
  }

  .div-table-content {
    overflow-y:auto;
  }

.sidebar.col-xs-12.col-md-4#accordionDesc.panel-group{ 'role' => 'tablist', 'aria-multiselectable' => 'true'}
  .panel.panel-default
    %table.table.table-condensed
      %thead
        %tr
          %th
            #headingDesc.panel-heading{'role' => 'tab'}
              %h4.panel-title
                %a.collapsed{ 'data-toggle' => 'collapse', 'data-parent' => '#accordionDesc', 'href'=> '#collapseDesc', 'aria-expanded' => 'true', 'aria-controls' => 'collapseDesc'}
                  =t('widgets.visify.sidebar.description')
    .div-table-content#collapseDesc.panel-collapse.collapse.in{'role' => 'tabpanel', 'aria-labelledby' => 'headingDesc' }
      .panel-body
        %table.table.table-condensed
          %tbody
            %tr
              %td
                #description

.sidebar.col-xs-12.col-md-4#attachments_list
  - @budget_file.taxonomy_attachments.each do |attachment|
    = link_to attachment.attachment.url do
      %i.fa.fa-download.fa-border
      = attachment.title
    %br

:javascript

  function aSidebar(aContainer) {
    var chart, pie, table, height;

    return {
      container: aContainer,

      initialize: function(height, options){
        chart = aSidebarChartBattery('.sidebar')
        chart.initialize(options)

        pie = aSidebarPie('.sidebar')
        pie.initialize(350, options)

        table = aSidebarTable('.sidebar')
        table.initialize(450, options)
      },

      hide: function(){
        //$(aContainer + ' #sidebar #description').html('');

        chart.hide();
        pie.hide();
        table.hide();
      },
      show: function(node){
        this.getLevelInfo(node)
      },

      getLevelInfo: function(node) {

        $.getJSON("/widgets/visify/get_bubbletree_nodedata/#{@budget_file.id}/" + node.taxonomy + "/" + node.key, function(data) {
          div_descr = '';
          if (data.description) {
            div_descr = "<div class='description'>" + data.description + "</div>"
            if(!height) { // asign height equal to chart
              height = $('.chart').height();
            }
          }
          $(aContainer + ' #description').html(div_descr)
          if($(aContainer + ' .div-table-content').height() > height) {
            $(aContainer + ' .div-table-content').height(height);
          }

          if(node.children && node.children.length != 0) {
              chart.show(node.children);
              pie.show(node.children);
              table.show(node.children);
          }
        })
      },
    }
  }