.sidebar
  %table#description_table
    %thead
      %tr
        %th
          =t('widgets.visify.sidebar.description')
    %tbody
      %tr
        %td
          #description

  - if file.taxonomy_attachments && file.taxonomy_attachments.length > 0
    %table#attachments_table
      %thead
        %tr
          %th
            =t('widgets.visify.sidebar.attachments')
      %tbody
        - file.taxonomy_attachments.each do |attachment|
          %tr
            %td
              = link_to attachment.attachment.url do
                %i.fa.fa-download.fa-border
                = attachment.title

:javascript

  function aSidebar(aContainer) {
    var chart, pie, table;

    return {
      container: aContainer,

      initialize: function(height, options){
        chart = aSidebarChartBattery('.sidebar')
        chart.initialize(options)

        pie = aSidebarPie('.sidebar')
        pie.initialize(500, options)

        table = aSidebarTable('.sidebar')
        table.initialize(500, options)
      },

      hide: function(){
        //$(aContainer + ' #sidebar #description').html('');

        chart.hide();
        pie.hide();
        table.hide();
      },
      show: function(node){
        this.getLevelInfo(node)
      },
      description: function(node){
        if(!node) return;

        $.getJSON("/widgets/visify/get_bubbletree_nodedata/#{file.id}/" + node.taxonomy + "/" + node.key, function(data) {
          div_descr = '';
          $('#collapseDesc').height('auto');
          if (data.description) {
            div_descr = "<div class='description'>" + data.description + "</div>"
          }
          $(aContainer + ' #description').html(div_descr);
        })
      },
      getLevelInfo: function(node) {
        this.description(node);
        if(node.children && node.children.length != 0) {
            chart.show(node.children);
            pie.show(node.children);
            table.show(node.children);
        }
      },
    }
  }