%p
#slider_container
  .btn-group{"aria-label" => "...", :role => "group"}
    %button.btn.btn-default{:type => "button", :id => "slider_button_left"}
      %span.glyphicon.glyphicon-step-backward{"aria-hidden" => "true"}
    %button.btn.btn-default{:type => "button", :id => "slider_button_right"}
      %span.glyphicon.glyphicon-step-forward{"aria-hidden" => "true"}
    %select
      %option{:value => "12"}
        = t("datetime.prompts.by_year")
      %option{:value => "3"}
        = t("datetime.prompts.by_quarter")
      %option{:value => "1", :selected => "selected"}
        = t("datetime.prompts.by_month")
  #slider
  #slider_scale2.steps
  #slider_scale.steps

:javascript

  $(function() {

    I18n.locale = window.aHelper.lang();

    var range = #{@range.to_json};
    var years = [];
    for(var i = 0; i < range.length; i++) {
      years[i] = range[i][0];
    }
    var year = years[years.length-1]; // slider should begin from the last year
    var step = 1;
    var min_val = 0;
    var max_val = 12;

    $('#slider_button_right').click(function(){
      $('#slider_button_left').removeAttr("disabled", "disabled");
      var sliderCurrentValue = $( "#slider" ).slider( "option", "value" );
      slider.slider( "value", sliderCurrentValue + step );
      if (sliderCurrentValue == max_val && year != years[years.length-1]) {
        year++;
        $('#slider_year').text(year + " " + I18n.t("datetime.prompts.y") + "|");
      } else if (sliderCurrentValue >= max_val-step && year == years[years.length-1]) {
        $('#slider_button_right').attr("disabled", "disabled");
      }
    })

    $('#slider_button_left').click(function(){
      $('#slider_button_right').removeAttr("disabled", "disabled");
      var sliderCurrentValue = $( "#slider" ).slider( "option", "value" );
      slider.slider( "value", sliderCurrentValue - step );
      if (sliderCurrentValue == min_val && year != years[0]) {
        year--;
        $('#slider_year').text(year + " " + I18n.t("datetime.prompts.y") + "|");
      } else if (sliderCurrentValue <= min_val+step && year == years[0]) {
        $('#slider_button_left').attr("disabled", "disabled");
      }
    })

    var slider = $("#slider").slider({
            min: min_val,
            max: max_val,
            step: step,
            create: function (event, ui) {
              create_slider();
            },
            change: function (event, ui) {
              change_visify();
            },
        })

    function create_slider() {
       var months = I18n.t("date.abbr_month_names");
       var data = "<span class=\"tick\" style=\'left: 1%;\'>|1 " + I18n.t("datetime.prompts.qr") + "</span>";
       var data2 = "<span class=\"tick\" style=\'left: 1.5%;\'>" + months[1] + "</span>";
       for(var i = 1; i < 4; i++) {
          data = data + "<span class=\"tick\" style=\'left: " + (i*25) + "%;\'>|" + (i + 1) + " " + I18n.t("datetime.prompts.qr") + "</span>";
       }
       data = data + "<span id='slider_year' class=\"tick\" style=\'font-weight: bold; left: 96%;\'>" + year + " " + I18n.t("datetime.prompts.y") + "|</span>";
       for(var i = 1; i < 12; i++) {
          data2 = data2 + "<span class=\"tick\" style=\'left: " + (i*8.333333333333332) + "%;\'>|" + months[i+1] + "</span>";
       }
       $('#slider_scale').html(data);
       $('#slider_scale2').html(data2);
    }

    function change_visify() {
      month = $("#slider").slider("option", "value");
    }

    //$("#slider").keyup(function (event) {
    //  if (event.keyCode == 37) {
    //    // go left
    //    $('#slider_button_left').trigger("click");
    //  } else if (event.keyCode == 39) {
    //    // go right
    //    $('#slider_button_right').trigger("click");
    //  }
    //})

    $("#slider_container select").change(function(){
      $('#slider').slider('value', 0); // reset slider to zero point
      step = parseInt($("#slider_container select option:selected").val());
      $("#slider").slider('option', 'step', step);
    })

  });



