-#%p
-##slider_container
-#  .btn-group{"aria-label" => "...", :role => "group"}
-#    %button.btn.btn-default{:type => "button", :id => "slider_button_left"}
-#      %span.glyphicon.glyphicon-step-backward{"aria-hidden" => "true"}
-#    %button.btn.btn-default{:type => "button", :id => "slider_button_right"}
-#      %span.glyphicon.glyphicon-step-forward{"aria-hidden" => "true"}
-#  #slider
-#  #slider_scale.steps
-#
-#:javascript
-#
-#  $(function() {
-#
-#    var start_year = 2010;
-#    var min_val = 0;
-#    var max_val = 20;
-#
-#    $('#slider_button_right').click(function(){
-#      var sliderCurrentValue = $( "#slider" ).slider( "option", "value" );
-#      slider.slider( "value", sliderCurrentValue + 1 );
-#      if (sliderCurrentValue == max_val && start_year != 2010) {
-#        start_year = start_year + 1;
-#        create_slider(start_year);
-#      } else if (sliderCurrentValue >= max_val-1 && start_year == 2010) {
-#        $('#slider_button_right').attr("disabled", "disabled");
-#      }
-#    })
-#
-#    $('#slider_button_left').click(function(){
-#      $('#slider_button_right').removeAttr("disabled", "disabled");
-#      var sliderCurrentValue = $( "#slider" ).slider( "option", "value" );
-#      slider.slider( "value", sliderCurrentValue - 1 );
-#      if (sliderCurrentValue == min_val) {
-#        start_year = start_year - 1;
-#        create_slider(start_year);
-#      }
-#    })
-#
-#    var slider = $("#slider").slider({
-#            min: min_val,
-#            max: max_val,
-#            step: 1,
-#            create: function (event, ui) {
-#              create_slider(start_year);
-#            },
-#            change: function(event, ui) {
-#            }
-#        })
-#
-#    function create_slider(start_year) {
-#       var data = "";
-#       var k = 1;
-#       for(var i = 0; i <= 5; i++) {
-#          data = data + "<span class=\"tick\" style=\'left: " + (i*20) + "%;\'>|<br>" + (start_year + i) + "</span>";
-#          for(var j = k; j < k+3 && i!=5; j++) {
-#             data = data + "<span class=\"tick\" style=\'font-size: 8px; left: " + (j*5+1) + "%;\'>|<br></span>";
-#          }
-#          k = j+1;
-#       }
-#       $('#slider_scale').html(data);
-#    }
-#
-#  $("#slider").keyup(function (event) {
-#    if (event.keyCode == 37) {
-#      // go left
-#      $('#slider_button_left').trigger("click");
-#    } else if (event.keyCode == 39) {
-#      // go right
-#      $('#slider_button_right').trigger("click");
-#    }
-#  })
-#
-#  });
-#
-#
-#
