%p
#slider_container
  .btn-group{"data-toggle" => "buttons"}
    %label.btn.btn-primary
      %input{:type => "checkbox"}
        Параметр 1
    %label.btn.btn-primary
      %input{:type => "checkbox"}
        Параметр 2
    %label.btn.btn-primary
      %input{:type => "checkbox"}
        Параметр 3

:javascript

  $(function() {

    I18n.locale = window.aHelper.lang();

    var range = #{@range.to_json};
    var years = [];
    for(var i = 0; i < range.length; i++) {
      years[i] = range[i][0];
    }
    var year = years[years.length-1]; // slider should begin from the last year

    $("#slider_container .btn").click(function() {
        $(this).siblings().removeClass("active");
    });

  });



