#year_group
#month_group
#quarter_group

:javascript

  $(function() {

    I18n.locale = window.aHelper.lang();

    // years group slider
    var range = #{@range.to_json};
    var years = [];
    for(var i = 0; i < range.length; i++) {
      years[i] = range[i][0];
    }
    var button_group = "<div class='btn-group' data-toggle='buttons'>";
    var year_group = button_group;
    var label_open = "<label class='btn btn-primary'><input type='radio'>";
    var label_close = " </input></label>";
    for(var i = 0; i < years.length; i++) {
      if(i == years.length-1) {
        label_open = "<label class='btn btn-primary active'><input type='radio'>";
      }
      year_group = year_group + label_open + years[i] + label_close;
    }
    year_group = year_group + "</div>";
    $("#year_group").html(year_group);

    // months group slider
    var months = I18n.t('date.abbr_month_names');
    label_open = "<label class='btn btn-primary'><input type='checkbox'>";
    var month_group = button_group;
    for(var i = 1; i <= 12; i++) {
        month_group = month_group + label_open + months[i] + label_close;
    }
    month_group = month_group + "</div>";
    $("#month_group").html(month_group);

    // quarter group slider
    var quarter_group = button_group;
    for(var i = 1; i <= 4; i++) {
        quarter_group = quarter_group + label_open + i + " " + I18n.t('datetime.prompts.quarter') + label_close;
    }
    quarter_group = quarter_group + "</div>";
    $("#quarter_group").html(quarter_group);

    $("#month_group .btn").click(function() {
        $(this).siblings().removeClass("active");
        $("#quarter_group .btn").removeClass("active");
    });

    $("#quarter_group .btn").click(function() {
        $(this).siblings().removeClass("active");
        $("#month_group .btn").removeClass("active");
    });
  });