:css
  .axis text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
    fill-opacity: 0.5;
    cursor: pointer;
  }

  .bartext {
    color: black;
    font-size: 9px;
  }

  .x.axis path {
    display: none;
  }

  label {
    position: absolute;
    top: 10px;
    right: 10px;
  }

#slider_year_chart.col-xs-12
-#%svg{:height => "200", :width => "500"}
-#  %polyline{:points => "20,20 40,25 60,40 80,120 120,140 200,180", :style => "fill:none;stroke:black;stroke-width:3"}

:javascript
  function aSliderYearChart(aContainer) {
    var margin = {top: 20, right: 20, bottom: 30, left: 20},
        width, height;

    var x, y, xAxis, yAxis;

    var svg;

    var color;

    var data;

    var current_month = 0, current_year = 0;

    function delay(d, i) { return i * 5; }

    function hide() {
      $("#slider_year_chart").height(0)
      svg.selectAll("*").remove()
    }

    function sort(data) {
      var x0 = x.domain(data.sort(false
              ? function(a, b) { return a.amount - b.amount; }
              : function(a, b) { return d3.ascending(parseInt(a.label), parseInt(b.label)); })
              .map(function(d) { return d.label; }))
              .copy();

      var transition = svg.transition().duration(150),
          delay = function(d, i) { return i * 10; };

      transition.selectAll(".bar")
          .delay(delay)
          .attr("x", function(d) { return x0(d.label); });

      transition.select(".x.axis")
          .call(xAxis)
        .selectAll("g")
          .delay(delay);
    }

    function get_history_data(data) {
      compare_years = []
      $.each( data, function( year, months ) {
        compare_years.push( { label: year, amount: months['0'] } )
      })
      return compare_years
    }

    function mouseclick(d) {
      $("#slider_year_chart").find("rect").css("fill-opacity", "0.5").css("stroke", "none").css("pointer-events", "auto");
      $(this).css("fill-opacity", "1.0").css("stroke", "red").css("pointer-events", "none");
      current_year = d.label;
      chart.show(current_year, current_month);
    }

    function mouseover(d) {
      $(this).css("fill-opacity", "1.0");
    }

    function mouseout(d) {
      if(d.label != current_year) {
        $(this).css("fill-opacity", "0.5");
      }
    }

    function get_month_by_num(month) {
      return #{I18n.t :abbr_month_names, :scope => :date}[month]
    }

    function show(data) {

      sort(data);

      svg.selectAll("*").remove();
      $("#slider_year_chart").height(height + margin.top + margin.bottom);

      x.domain(data.map(function(d) { return d.label; }));
      y.domain([0, d3.max(data, function(d) { return d.amount; })]);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

      svg.selectAll(".bar")
          .data(data)
        .enter().append("rect")
          .attr("class", "bar")
          .style("fill", function(d) { return d.color || color(d.label); })
          .style("fill-opacity", function(d) { return d.label == current_year ? "1.0" : "0.5"; })
          .style("pointer-events", function(d) { return d.label == current_year ? "none" : "auto"; })
          .style("stroke", function(d) { return d.label == current_year ? "red" : "none"; })
          .attr("x", function(d) { return x(d.label); })
          .attr("width", x.rangeBand())
          .attr("y", height)
          .attr("height", 0)
          .on("mouseover", mouseover)
          .on("mouseout", mouseout)
          .on("click", mouseclick);

      svg.selectAll(".bartext")
        .data(data)
      .enter().append("text")
        .attr("class", "bartext")
        .attr("text-anchor", "middle")
        .attr("x", function(d) { return x(d.label) + x.rangeBand() / 2; })
        .attr("y", function(d) { return height; })

      svg.transition().duration(250).selectAll(".bar")
        .attr("height", function(d) { return height - y(d.amount); })
        .attr("y", function(d) { return y(d.amount); })

      svg.transition().duration(250).selectAll(".bartext")
        .attr("y", function(d) { return y(d.amount) - 5; })
        .text(function(d){
          return aVisify.helpers.formatNumber(d.amount);
        })

    }

    return {
      initialize: function(pHeight) {
        width = $(aContainer).width() - margin.left - margin.right,
        height = pHeight - margin.top - margin.bottom;

        x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

        y = d3.scale.linear()
            .range([height, 0]);

        xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        svg = d3.select("#slider_year_chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        color = d3.scale.category20c();

      },
      hide: hide,
      show: function(node, month, year) {

        data = get_history_data(node.history);

        if (data == null || data.length == 0){
          return;
        }
        current_month = month;
        current_year = year;
        show(data);
      },
      current_month: function() {
        return current_month;
      },
      set_month: function(month) {
        current_month = month;
      }
    }
  }
