:css
  #under_sequence {
    margin-bottom: 10px;
  }

#under_sequence

:javascript

  function aUnderSequence(aContainer) {
    var self;

    var fonds = #{fond_codes.to_json()}


    return {
      container: aContainer,

      show: function(node) {
        if(!node) return;

        label = node.label || ''


        amount_tag = aVisify.helpers.formatNumber(node.amount) + ', <small>' + node.amount.toLocaleString() + '</small>'
        if (aTreeChart.divider.amount_pre) {
          amount_tag += ' <small>' + aTreeChart.divider.amount_pre + '</small>'
        }

        recipient_amount_tag = ''
        if (node.recipient_amount) {
          recipient_amount = aVisify.helpers.formatNumber(node.recipient_amount)
          recipient_amount_tag = ", <small class='recipient_amount'>" + recipient_amount + " на одного отримувача</small>"
        }

        percentage_tag = ''
        if (node.parent && node.amount <= node.parent.amount) {
          percentage = aVisify.helpers.getPercentageString(node.amount, node.parent.amount)
          percParentTitle = I18n.t("js.visify.of") + "<span style='font-weight: bold;'>" + node.parent.label || ''

          percentage_tag = "<small class='percentage'>" + percentage + percParentTitle + "</small>"
        }

        var fond_count = 0
        amountFonds = '<div style="height: 50px">'
        if (node.amount_fond) {
          amountFonds += '<small>'
          $.each(node.amount_fond, function(k, v) {
            fond = fonds[k]
            if (fond == undefined)
              fond = { color: 'black', title: 'Фонд не вказаний' };
            else
              fond_count++

            amountFonds += '<i style="color:' + fond.color + '"class="fa fa-folder-o"></i> ' + fond.title + ' - <b>' + aVisify.helpers.formatNumber(v) + '</b> '
          })
          amountFonds += '</small>'

          if (fond_count == 0)
            amountFonds = ''
        }
        amountFonds += '</div>'

        amount_type_tag = ''
        if(aTreeChart.data_type == "fact" || node.amount_plan) {
          amount_type_tag = "<div style='height: 50px'><h5>" + I18n.t("js.visify.fact") + ": <b>" + aVisify.helpers.formatNumber(node.amount) + "</b>"
        } else {
          amount_type_tag = "<div style='height: 50px'><h5>" + I18n.t("js.visify.plan") + ": <b>" + aVisify.helpers.formatNumber(node.amount) + "</b>"
        }

        amountFact_tag = ''
        if (node.amount_fact){
          amountFact_tag = ", " + I18n.t("js.visify.fact") + ": <b>" + aVisify.helpers.formatNumber(node.amount_fact) + "</b>"
        }

        icon_tag = ''
        if (node.icon)
          icon_tag =  '<i class="fa ' + node.icon + '"></i> '


        div = '<div style="height: auto; color: #FF9933;">'
          + '<h2>' + amount_tag + recipient_amount_tag + '</h2>'
          + '<h4>' + icon_tag + ' ' + label + "</h4>"
          + "</div>"

          + '<h5>'
          + percentage_tag
          + amount_type_tag
          + amountFact_tag
          + "</h5>"

          + amountFonds

        $(aContainer + ' #under_sequence').html(div)
      },
    }
  }
