:css
  #under_sequence {
    margin-bottom: 10px;
  }

#under_sequence

:javascript

  function aUnderSequence(aContainer) {
    var self;

    var fonds = #{fond_codes.to_json()}


    return {
      container: aContainer,

      show: function(node) {
        I18n.locale = window.aHelper.lang()
        label = node.label || ''

        percentage_tag = ''
        if (node.parent && node.amount <= node.parent.amount) {
          percentage = aVisify.helpers.getPercentageString(node.amount, node.parent.amount)
          percParentTitle = I18n.t("js.visify.of") + "<span style='font-weight: bold;'>" + node.parent.label || ''

          percentage_tag = "<br/><small class='percentage'>" + percentage + percParentTitle + "</small>"
        }

        var fond_count = 0
        amountFonds = '<div style="height: 50px">'
        if (node.amount_fond) {
          amountFonds += '<small>'
          $.each(node.amount_fond, function(k, v) {
            fond = fonds[k]
            if (fond == undefined)
              fond = { color: 'black', title: 'Фонд не вказаний' };
            else
              fond_count++

            amountFonds += '<i style="color:' + fond.color + '"class="fa fa-folder-o"></i> ' + fond.title + ' - <b>' + aVisify.helpers.formatNumber(v) + '</b> '
          })
          amountFonds += '</small>'

          if (fond_count == 0)
            amountFonds = ''
        }
        amountFonds += '</div>'

        amountFact_tag = ''
        if (node.amount_fact){
          amountFact_tag = ", " + I18n.t("js.visify.fact") + ": <b>" + aVisify.helpers.formatNumber(node.amount_fact) + "</b>"
        }

        icon_tag = ''
        if (node.icon)
          icon_tag =  '<i class="fa ' + node.icon + '"></i> '


        div = '<div style="height: 50px"><h4 style="color: #FF9933;">' + icon_tag + '<span>' + label + ': '
          + '<b>' + aVisify.helpers.formatNumber(node.amount) + '</b>'
          + percentage_tag
          + "</h4></div>"
          + "<div style='height: 50px'><h5>" + I18n.t("js.visify.plan") + ": <b>" + aVisify.helpers.formatNumber(node.amount) + "</b>"
          + amountFact_tag
          + "</h5></div>"
          + amountFonds

        $(aContainer + ' #under_sequence').html(div)
      },
    }
  }
