.sunburst-seq
  = render partial: 'tree_chart', :locals => { budget_file_id: @budget_file.id }
  #explanation{ style: "visibility: hidden;" }
    %span#percentage

:javascript
  function aTreeChart(aContainer) {
    var totalSize, self;
    var width, height, radius;
    var color;
    var vis, partition, arc;
    var current_year, current_month;
    var centerNode = null;

    function getAncestors(node) {
      var path = [];
      var current = node;
      while (current.parent) {
        path.unshift(current);
        current = current.parent;
      }
      path.unshift(current);
      return path;
    }

    // Main function to draw and set up the visualization, once we have the data.
    function createVisualization(json) {
      // Bounding circle underneath the sunburst, to make it easier to detect
      // when the mouse leaves the parent g.

      vis.append("svg:circle")
          .attr("r", radius)
          .style("opacity", 0);

      // For efficiency, filter nodes to keep only those large enough to see.
      var nodes = partition.nodes(json)
          .filter(function(d) {
            return (d.dx > 0.005); // 0.005 radians = 0.29 degrees
          });

      var path = vis.data([json]).selectAll("path")
          .data(nodes)
          .enter().append("svg:path")
          .attr("display", function(d) { return d.depth ? null : "none"; })
          .attr("d", arc)
          .attr("fill-rule", "evenodd")
          .style("fill", function(d) { return d.color || color(d.value); })
          .style("opacity", 1)
          .on("mouseover", mouseover);

      // Add the mouseleave handler to the bounding circle.
      d3.select("#container").on("mouseleave", mouseleave);

      // Get total size of the tree = value of root node from partition.
      totalSize = json.amount;
    };

    // Fade all but the current sequence, and show it in the breadcrumb trail.
    function mouseover(d) {
      // Fade all the segments.
      vis.selectAll("path")
          .style("opacity", 0.6);

      var sequenceArray = getAncestors(d);

      // Then highlight only those that are an ancestor of the current segment.
      vis.selectAll("path")
          .filter(function(node) {
                    return (sequenceArray.indexOf(node) >= 0);
                  })
          .style("opacity", 1);


      d3.select(".sunburst-seq #explanation #percentage")
          .html(d.label + "<br />" + aVisify.helpers.formatNumber(d.amount));

      d3.select(".sunburst-seq #explanation")
          .style("visibility", "");
      self.clickCallback(d);
    }

    // Restore everything to full opacity when moving off the visualization.
    function mouseleave(d) {
      d3.select("#explanation")
        .style("visibility", "hidden");

      // Deactivate all segments during transition.
      vis.selectAll("path").on("mouseover", null);

      // Transition each segment to full opacity and then reactivate it.
      vis.selectAll("path")
          .transition()
          .duration(100)
          .style("opacity", 1)
          .each("end", function() {
                  d3.select(this).on("mouseover", mouseover);
                });
      self.clickCallback(d);
    }

    function clear() {
      vis.selectAll("*").remove();
    }


    return {
      initialize: function(options) {
        self = this;
        self.clickCallback = options.clickCallback;
        width = options.width;
        height = options.height;

        $('.sunburst-seq #chart').width(width).height(height)

        $('.sunburst-seq #explanation').width(120).css("top", height / 2 + 20 ).css("left", width/2 - 60 );

        // Dimensions of sunburst.
        radius = Math.min(width, height) / 2;

        color = d3.scale.category20c()

        //$(".sunburst-seq #explanation").width(120).css("top", height / 2 ).css("left", width/2 - 70);


        // Mapping of step names to colors.
        // Total size of all segments; we set this later, after loading the data.
        totalSize = 0;

        vis = d3.select(".sunburst-seq #chart").append("svg:svg")
            .attr("width", width)
            .attr("height", height)
            .attr("version", 1.1)
            .attr("xmlns", "http://www.w3.org/2000/svg")
            .append("svg:g")
            .attr("id", "container")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        partition = d3.layout.partition()
            .size([2 * Math.PI, radius * radius])
            .value(function(d) { return d.amount; });

        arc = d3.svg.arc()
            .startAngle(function(d) { return d.x; })
            .endAngle(function(d) { return d.x + d.dx; })
            .innerRadius(function(d) { return Math.sqrt(d.y); })
            .outerRadius(function(d) { return Math.sqrt(d.y + d.dy); });
      },
      clear: clear,
      show: function(data) {
        clear();
        createVisualization(data);
      },
      selectNode: function (node) {
        click(node);
      },
      set_centerNode: function(node) {
        centerNode = node;
      }
    }
  }