-#http://bl.ocks.org/mbostock/5944371


.sunburst-zoomable
  = render partial: 'tree_chart', :locals => { budget_file_id: @budget_file.id }

:javascript
  function aTreeChart(aContainer, sequence, sidebar) {
    var totalSize
    var width, height, radius
    var color
    var vis, partition, arc

    }

    return {
      initialize: function(pWidth, pHeight) {
        width = pWidth
        height = pHeight

        $(aContainer + ' #chart').width(width).height(height)
        color = d3.scale.category20c()

      },
      clear: function() {
        sequence.hideBreadcrumb()
        sidebar.hide()
        vis.selectAll("*").remove()
      },
      show: function(year, month) {
        d3.json("/widgets/visify/get_sunburst_data/#{@budget_file.id}/"+ year+ "/" + month, function(data) {
          createVisualization(data);
        });
      }
    }
  }


