-#Render main block [ clouds, town, icons, titles ]
=render partial: 'public/home/new_design/main_section'

-#Render map block
=render partial: 'public/home/new_design/map_section'

-#Render news block
=render partial: 'public/home/new_design/news_section'

-#Render our partners
=render partial: 'public/home/new_design/our_partners'