:scss
  .container-fluid {
    padding: 0;
    .town-nav {
      border: 1px solid red;
      position: relative;
      float: left;
      width: 20%;
    }
    .content {
      border: 1px solid blue;
      position: relative;
      float: left;
      width: 80%;
    }
  }
.container-fluid
  .town-nav
    nav
  .content
    content