:scss
  .wrapper {
    display: flex;
    margin-top: 73px;
    //padding: 73px 0 0;
    //height: calc(100vh - 121.39px);
    //min-height: calc(100vh - 121.39px);
    //height: 100%;
    //min-height: calc(100% - 193px);
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    //min-height: calc(100% - 73px);
    padding-top: 73px;
  }

  .content {
    //height: 100%;
    height: calc(100% - 193px);
    min-height: calc(100vh - 193px);
    margin-left: 50px;
    margin-bottom: 120px;
    padding: 30px;
    //padding-top: 73px;
    background: white;
    z-index: 4;
    //box-shadow: 0 0 5px rgba(0,0,0,1);
    transform: translate3d(0,0,0);
    transition: transform .5s;
    width: calc(100% - 50px);
    .content-wrapper {
      //padding-top: 30px;
      position: relative;
      display: block;
      height: 100%;
      overflow: auto;
      .breadcrumb {
        padding: 0 0 30px;
        margin: 0;
        background-color: transparent;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 500;
        li {
          a {
            color: black;
            text-decoration: none;
            &:hover,
            &:focus {
              color: #ffd304;
            }
          }
        }
        .active {
          a {
            color: black;
            text-decoration: none;
            cursor: text;
            border-bottom: 2px solid #ffd304;
            padding-bottom: 2px;
            &:hover,
            &:focus {
              color: black;
            }
          }
        }
      }
      .breadcrumb li + li:before {
        font: 26px fontawesome;
        content: '\f105';
        padding: 0 5px;
        color: black;
        position: relative;
        bottom: -3px;
      }
      .breadcrumb li:nth-child(1):before {
        display: none;
      }
      .modules {
        //border: 1px solid red;
        .module {
          padding: 0 3rem 0 0;
          margin-bottom: 3rem;
          a {
            .town-budget {
              background: url('assets/new_design/money.jpg');
              background-position: center;
              background-size: cover;
              .icon {
                .icon-border {
                  .svg {
                    width: 78%;
                    margin: 11%;
                  }
                }
              }
            }
            .repair-map {
              background: url('assets/new_design/road.jpg');
              background-position: center;
              background-size: cover;
              .icon {
                .icon-border {
                  .svg {
                    width: 68%;
                    margin: 16%;
                  }
                }
              }
            }
            .local-programs {
              background: url('assets/new_design/invest.jpg');
              background-position: center;
              background-size: cover;
              .icon {
                .icon-border {
                  .svg {
                    width: 70%;
                    margin: 15%;
                  }
                }
              }
            }
            .indicators {
              background: url('assets/new_design/indicators.jpg');
              background-position: center;
              background-size: cover;
              .icon {
                .icon-border {
                  .svg {
                    width: 70%;
                    margin: 12% 15% 18%
                  }
                }
              }
            }
            .docs {
              background: url('assets/new_design/docs.jpg');
              background-position: center;
              background-size: cover;
              .icon {
                .icon-border {
                  .svg {
                    width: 70%;
                    margin: 15%;
                  }
                }
              }
            }
            .town-budget,
            .repair-map,
            .local-programs,
            .indicators,
            .docs {
              //border: 1px solid transparent;
              .img {
                width: calc(100% - 3rem);
                min-height: 243px;
                height: 100%;
                position: absolute;
                background: #000;
                opacity: .5;
                z-index: 1;
              }
              .icon {
                position: relative;
                z-index: 2;
                padding: 2rem 0;
                //top: 0;
                .icon-border {
                  width: 88px;
                  height: 88px;
                  border-radius: 50%;
                  border: 1px solid white;
                  margin: 0 auto;
                }
              }
              .title {
                position: relative;
                z-index: 2;
                font-family: 'Lato', sans-serif;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                color: white;
                text-transform: uppercase;
                margin: 0;
                padding: 1rem 0;
              }
              .more {
                width: 100%;
                min-height: 75px;
                padding: 1rem 0;
                .more-btn {
                display: none;
                  border: 2px solid white;
                  border-radius: 4px;
                  width: 112px;
                  height: 50px;
                  margin: 0 auto;
                  p {
                    font-family: 'Lato', sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: white;
                    margin: 10px 20px;
                  }
                }
              }
            }
            &:hover,
            &:focus {
              text-decoration: none;
              .town-budget,
              .repair-map,
              .local-programs,
              .indicators,
              .docs {
                .img {
                  background: darkkhaki;
                }
                .more {
                  .more-btn {
                    display: block;
                    position: relative;
                    z-index: 2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .content.is-open {
    margin-left: 0;
    transform: translate3d(220px,0,0);
    width: calc(100% - 220px);
  }

  /* Navigation */


  .button {
    cursor: pointer;
    &:before {
      font: 40px fontawesome;
      color: white;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .blason-block {
    padding: 5% 30%;
  }

  .sidebar {
    .sidebar-nav {
      padding: 0;
      .button {
        float: left;
        padding: 0 15px;
        transform: rotate(180deg);
        transition: transform 1s;
        &:before {
          content: '\f100';
        }
      }
    }
  }
  .is-full {
    .sidebar-nav {
      .button {
        float: right;
        padding: 0 10px;
        transform: rotate(0deg);
        transition: transform 1s;
        &:before {
          content: '\f100';
        }
      }
    }
  }

  .sidebar-nav li a {
    position: relative;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 15px 15px 50px;
    color: #eee;
  }

  .sidebar-nav li a:before {
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
  }

  .sidebar-nav li:nth-child(1) a:before { content: '\f129'; }
  .sidebar-nav li:nth-child(2) a:before { content: '\f200'; }
  .sidebar-nav li:nth-child(3) a:before { content: '\f0f6'; }
  .sidebar-nav li:nth-child(4) a:before { content: '\f0c1'; }
  .sidebar-nav li:nth-child(5) a:before { content: '\f09d'; }
  .sidebar-nav li:nth-child(6) a:before { content: '\f1c1'; }

  .sidebar-nav li a:hover {
    background: #807023;
    text-decoration: none;
  }

  .sidebar-nav li a.active {
    //box-shadow: inset 5px 0 0 #ffd304, inset 6px 0 0 #0c2231;
    background: #ffd304;
    color: #0c2231;
  }

  /* Description */

  h1 {
    margin: 25px 0 15px;
    font-size: 28px;
    font-weight: 400;
  }

  @media (max-width: 991px) {
    body {
      .blocks {
        .wrapper {
          .content {
            margin-bottom: 193px;
          }
        }
      }
    }
  }

.wrapper
  .sidebar
    .blason-block
      =image_tag('new_design/blason.svg', class: 'img-responsive')
    %ul.sidebar-nav
      %li
        %a Короткі відомості
      %li
        %a.active Візуалізації
      %li
        %a Документи
      %li
        %a Посилання
      %li
        %a Громадський бюджет
      %li
        %a PDF DOC'S
      %a.button
  .content
    .content-wrapper
      %ol.breadcrumb
        %li.active
          %a{:href => "#"} Доступні модулі
        -#%li.active
        -#  %a{:href => '#'} Активний модуль
      .modules
        .col-xs-12.col-sm-6.col-md-4.module
          %a{:href => '#'}
            .town-budget
              .img
              .icon
                .icon-border
                  =image_tag('new_design/icons/!icon1w.svg', class: 'svg')
              .title
                Місцевий бюджет
              .more
                .more-btn
                  %p Більше
        .col-xs-12.col-sm-6.col-md-4.module
          =link_to demo_repair_roads_map_path do
            .repair-map
              .img
              .icon
                .icon-border
                  =image_tag('new_design/icons/!shovel.svg', class: 'svg')
              .title
                Карта ремонтів
              .more
                .more-btn
                  %p Більше
        .col-xs-12.col-sm-6.col-md-4.module
          %a{:href => '#'}
            .local-programs
              .img
              .icon
                .icon-border
                  =image_tag('new_design/icons/!office.svg', class: 'svg')
              .title
                Місцеві програми
              .more
                .more-btn
                  %p Більше
        .col-xs-12.col-sm-6.col-md-4.module
          %a{:href => '#'}
            .indicators
              .img
              .icon
                .icon-border
                  =image_tag('new_design/icons/!bar-chart.svg', class: 'svg')
              .title
                Ключові показники
              .more
                .more-btn
                  %p Більше
        .col-xs-12.col-sm-6.col-md-4.module
          %a{:href => '#'}
            .docs
              .img
              .icon
                .icon-border
                  =image_tag('new_design/icons/!folders.svg', class: 'svg')
              .title
                Ключові документи
              .more
                .more-btn
                  %p Більше

:javascript

  $(document).ready(function() {
  //Show full sidebar on desctops [md/lg size]
    if($(window).width() > 1200){
      $('.blocks > .wrapper > .sidebar').addClass('is-full');
      $('.blocks > .wrapper > .content').addClass('is-open');
     };
  //Toggle button action [hide/show sidebar]
    $('.button').on('click', function() {
      $('.blocks > .wrapper > .sidebar').toggleClass('is-full');
      $('.blocks > .wrapper > .content').toggleClass('is-open');
    });
  });

  //Resize window sidebar view
  $(window).resize(function(){
    if($(window).width() < 1199){
      $('.blocks > .wrapper > .sidebar').removeClass('is-full');
      $('.blocks > .wrapper > .content').removeClass('is-open');
    } else
    if($(window).width() > 1200){
      $('.blocks > .wrapper > .sidebar').addClass('is-full');
      $('.blocks > .wrapper > .content').addClass('is-open');
    };
  });

