:scss
  .news-list-item {
    position: relative;
    min-height: calc(100vh - (103px + 120px));
    height: auto;
    top: 73px;
    margin-bottom: 73px;
    .row{
      .news-item-article {
        //border: 1px solid red;
        .article-title {
          font-family: 'Lato', sans-serif;
          font-weight: 600;
          font-size: 2rem;
          line-height: 1.2;
        }
        .article-data {
          margin: 10px 0;
          padding: 0 10px;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 1.5rem;
          i.fa-clock-o {
            &:before {
              padding: 0 5px 0 0;
            }
          }

        }
        .artcile-content {
          p {
            text-align: justify;
          }
          img {
            width: 100%;
            margin-bottom: 15px;
          }
        }
        .article-social-btns {
          margin-bottom: 20px;
          .social-buttons {
            height: 40px;
            margin: auto;
            font-size: 0;
            text-align: center;
            //position: relative;
            //top: 0;
            //bottom: 0;
            //left: 0;
            //right: 0;
          }

          .social-button {
            display: inline-block;
            background-color: #e0e0e0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin: 0 10px;
            text-align: center;
            position: relative;
            overflow: hidden;
            opacity: .99;
            border-radius: 28%;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
            transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
          }
          .social-button:before {
            content: '';
            background-color: #000;
            width: 120%;
            height: 120%;
            position: absolute;
            top: 90%;
            left: -110%;
            transform: rotate(45deg);
            transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
          }
          .social-button .fa {
            font-size: 19px;
            vertical-align: middle;
            transform: scale(0.8);
            transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
          }
          .social-button.facebook:before {
            background-color: #3B5998;
          }
          .social-button.facebook .fa {
            color: #3B5998;
          }
          .social-button.twitter:before {
            background-color: #3CF;
          }
          .social-button.twitter .fa {
            color: #3CF;
          }
          .social-button.google:before {
            background-color: #DC4A38;
          }
          .social-button.google .fa {
            color: #DC4A38;
          }
          .social-button.dribbble:before {
            background-color: #F26798;
          }
          .social-button.dribbble .fa {
            color: #F26798;
          }
          .social-button.skype:before {
            background-color: #00AFF0;
          }
          .social-button.skype .fa {
            color: #00AFF0;
          }
          .social-button:hover:before {
            top: -10%;
            left: -10%;
          }
          .social-button:hover .fa {
            color: #fff;
            transform: scale(1);
          }
          .social-button:focus {
            opacity: .85;
          }

        }
      }
      .baners-blocks {
        //border: 1px solid red;
        img {
          margin-bottom: 15px;
        }
      }
    }
  }
.container.news-list-item
  .row
    .col-xs-8.news-item-article
      .article-title
        Сергій Карелін розповів про боротьбу із корупцією під час тренінгу
        "Українська регіональна платформа громадських
      .article-data
        %i.fa.fa-clock-o{"aria-hidden" => "true"} 26.05.2016
      .artcile-content
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae odio finibus, mattis nulla et,
          rutrum justo. Cras vulputate gravida magna sit amet fringilla. Sed egestas, arcu eget dictum tempus,
          sapien sapien lacinia ipsum, vel consectetur nisi lorem at orci. Duis vitae nunc dapibus, accumsan odio vel,
          elementum ipsum. Praesent neque odio, vestibulum id facilisis nec, porttitor eu massa. Phasellus risus diam,
          pharetra sollicitudin semper non, convallis et mi. Pellentesque odio odio, vestibulum id mi vitae, tempus
          lobortis arcu. In pretium, eros ut consequat ultrices, arcu sapien vehicula lorem, a pretium est ex quis quam.
          In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Aliquam accumsan leo at feugiat placerat. Cras id mauris justo.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu magna dolor. Etiam euismod velit in
          mollis vestibulum. Vestibulum dapibus enim purus, ut ultrices eros blandit non. Cras varius erat ante, vitae
          maximus mi rutrum sed. Proin sed est tortor. In hac habitasse platea dictumst. Curabitur dapibus nisi et
          tristique rutrum. Morbi at eros tortor. Aenean pretium id turpis at mattis. Nunc erat orci, interdum ut semper
          eu, sollicitudin et elit. Nam odio sem, viverra eget ex rhoncus, pulvinar gravida urna.
        =image_tag('new_design/serg_kar.jpg', class: 'img-responsive')
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae odio finibus, mattis nulla et,
          rutrum justo. Cras vulputate gravida magna sit amet fringilla. Sed egestas, arcu eget dictum tempus,
          sapien sapien lacinia ipsum, vel consectetur nisi lorem at orci. Duis vitae nunc dapibus, accumsan odio vel,
          elementum ipsum. Praesent neque odio, vestibulum id facilisis nec, porttitor eu massa. Phasellus risus diam,
          pharetra sollicitudin semper non, convallis et mi. Pellentesque odio odio, vestibulum id mi vitae, tempus
          lobortis arcu. In pretium, eros ut consequat ultrices, arcu sapien vehicula lorem, a pretium est ex quis quam.
          In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Aliquam accumsan leo at feugiat placerat. Cras id mauris justo.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu magna dolor. Etiam euismod velit in
          mollis vestibulum. Vestibulum dapibus enim purus, ut ultrices eros blandit non. Cras varius erat ante, vitae
          maximus mi rutrum sed. Proin sed est tortor. In hac habitasse platea dictumst. Curabitur dapibus nisi et
          tristique rutrum. Morbi at eros tortor. Aenean pretium id turpis at mattis. Nunc erat orci, interdum ut semper
          eu, sollicitudin et elit. Nam odio sem, viverra eget ex rhoncus, pulvinar gravida urna.
      .article-social-btns
        .social-buttons
          %a.social-button.facebook{:href => "#"}
            %i.fa.fa-facebook
          %a.social-button.twitter{:href => "#"}
            %i.fa.fa-twitter
          %a.social-button.google{:href => "#"}
            %i.fa.fa-google
    .col-xs-4.baners-blocks
      %img{:src => "http://placehold.it/360x200/ffd304/ffffff"}
      %img{:src => "http://placehold.it/360x200/ffd304/ffffff"}
