:scss
  .news-list {
    position: relative;
    min-height: calc(100vh - (103px + 120px));
    height: auto;
    top: 73px;
    margin-bottom: 73px;
    .news-items {
      .title {
        width: 100%;
        margin: 0 10px 25px 0;
        float: right;
        p {
          float: right;
          text-transform: uppercase;
          margin: 0;
          padding: 10px;
          font-family: 'Lato', sans-serif;
          font-size: 3rem;
          background: #ffd304;
          color: #0c2231;
        }
      }
      .row {
        margin: 0 -60px;
        .news-item {
          padding: 0 60px 20px;
          a {
            text-decoration: none;
            color: black;
            &:hover,
            &:focus {
              .img {
                content: ' ';
                -webkit-filter: sepia(1);
                filter: sepia(1);
                transition: .4s;
                background: #ffd304;
              }
            }
            .img {
              img {
                width: 100%;
                padding: 10px;
              }
            }
            .data {
              margin: 0 0 10px 0;
              padding: 0 10px;
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 1.5rem;
              i.fa-clock-o {
                &:before {
                  padding: 0 5px 0 0;
                }
              }
            }
            .title {
              height: 6rem;
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 1.3rem;
              text-transform: uppercase;
              margin: 0;
              padding: 0 10px;
            }
          }
        }
      }
      .pagination-bar {
        ul.pagination {
          margin: 0;
          li {
            &:first-child,
            &:last-child {
              & > a {
                border-radius: 0;
              }
            }
            a {
              border: none;
              color: black;
              font-size: 1.8rem;
              font-family: 'Lato', sans-serif;
              font-weight: 600;
            }
          }
          .active {
            a {
              background-color: #ffd304;
            }
          }
        }
      }
    }
  }

.container.news-list
  .news-items
    .title
      %p Новини
    .row
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to demo_news_item_path do
          .img
            =image_tag('new_design/road.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 1 may
          .title
            Набір до "Вищої політичної школи-2016"
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to '#' do
          .img
            =image_tag('new_design/docs.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 5 may
          .title
            План дій з реалізації декларації відкритості парламенту
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to '#' do
          .img
            =image_tag('new_design/invest.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 10 may
          .title
            Результати конкурсу журналістських розслідувань з використанням порталу E-Data
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to '#' do
          .img
            =image_tag('new_design/road.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 1 may
          .title
            Набір до "Вищої політичної школи-2016"
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to '#' do
          .img
            =image_tag('new_design/docs.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 5 may
          .title
            План дій з реалізації декларації відкритості парламенту
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to '#' do
          .img
            =image_tag('new_design/invest.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 10 may
          .title
            Результати конкурсу журналістських розслідувань з використанням порталу E-Data
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to '#' do
          .img
            =image_tag('new_design/road.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 1 may
          .title
            Набір до "Вищої політичної школи-2016"
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to '#' do
          .img
            =image_tag('new_design/docs.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 5 may
          .title
            План дій з реалізації декларації відкритості парламенту
      .col-xs-12.col-sm-6.col-md-4.news-item
        =link_to '#' do
          .img
            =image_tag('new_design/invest.jpg', class: 'img-responsive')
          .data
            %i.fa.fa-clock-o{"aria-hidden" => "true"} 10 may
          .title
            Результати конкурсу журналістських розслідувань з використанням порталу E-Data
    .row.text-center
      %nav.pagination-bar
        %ul.pagination
          %li
            %a{"aria-label" => "Previous", :href => "#"}
              %i.fa.fa-caret-left{"aria-hidden" => "true"}
          %li
            %a{:href => "#"} 1
          %li.active
            %a{:href => "#"}
              2
              %span.sr-only (current)
          %li
            %a{:href => "#"} 3
          %li
            %a{"aria-label" => "Next", :href => "#"}
              %i.fa.fa-caret-right{"aria-hidden" => "true"}