:scss
  .news-list-item {
    position: relative;
    min-height: calc(100vh - (103px + 120px));
    height: auto;
    top: 73px;
    margin-bottom: 73px;
  }
.container.news-list-item
  .news-items
    News item