:scss
  .clarity-analysis{
    .btn-prozorro-style {
      margin-top: 5px;
      margin-left: 10px;
      background-color: #000;
      border-radius: 0;
      padding: 4px;
      color: #fff;
      text-transform: none;
      font-weight: 600;
      .prozorro-btn-text {
        margin-left: 5px;
      }
    }
    .btn-prozorro-style:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }
    .btn-prozorro-style:active {
      box-shadow: none;
    }
  }

.row.clarity-analysis
  .col-xs-12
    - if @properting_properties.edrpou_balance_holder.present?
      = link_to "https://clarity-project.info/entity/#{correct_edrpou(@properting_properties.edrpou_balance_holder)}", target: '_blank', class: 'btn btn-prozorro-style' do
        %i.fa.fa-credit-card-alt
        %span.prozorro-btn-text= t('properting.property.purchases_prozorro')
