:scss
  .clarity-analysis{
    .btn-prozorro-style {
      margin-top: 5px;
      margin-left: 10px;
      background-color: #000;
      border-radius: 0;
      padding: 4px;
      color: #fff;
      text-transform: none;
      font-weight: 600;
    }
    .btn-prozorro-style:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }
  }

.row.clarity-analysis
  .col-xs-12
    - if @properting_properties.edrpou_balance_holder.present?
      = link_to "https://clarity-project.info/entity/#{correct_edrpou(@properting_properties.edrpou_balance_holder)}", target: '_blank', class: 'btn btn-prozorro-style' do
        %i.fa.fa-credit-card-alt
        %span.prozorro-btn-text Закупівлі КП в системі Prozorro
    -#- if @properting_properties.edrpou_balance_holder.present?
    -#  = link_to image_tag('repairing/customer.png', class: 'img-responsive'),
    -#            "https://clarity-project.info/entity/#{correct_edrpou(@properting_properties.edrpou_balance_holder)}",
    -#            target: '_blank'
    -#
    -#- if @properting_properties.edrpou_renter.present?
    -#  = link_to image_tag('repairing/contractor.png', class: 'img-responsive'),
    -#            "https://clarity-project.info/entity/#{correct_edrpou(@properting_properties.edrpou_renter)}",
    -#            target: '_blank'
