-if roles.member? :admin
  %b
    %i.fa.fa-border.fa-users
      =t('users.index.roles.administrator')

-if roles.member? :public_organisation
  %i.fa.fa-border.fa-user
    =t('users.index.roles.public_organisation')

-if roles.member? :city_authority
  %i.fa.fa-border.fa-university
    =t('users.index.roles.city_authority')

-if roles.member? :central_authority
  %i.glyphicon.glyphicon-tower
    =t('users.index.roles.central_authority')

-if roles.member? :municipal_enterprise
  %i.fa.fa-border.fa-university
    =t('users.index.roles.municipal_enterprise')

-if roles.member? :state_enterprise
  %i.fa.fa-border.fa-university
    =t('users.index.roles.state_enterprise')