:scss
  //init colors
  $white: white;
  $blue: #52cfeb;
  $rGrayGlass: rgba(12, 34, 49, 0.2);
  $rGray: rgba(0, 0, 0, 0.3);

  .blocks {
    background: url('/../assets/login/login_bg.jpg');
    .container {
      .forgot-wrapper {
        position: absolute;
        //half from 270h(form) + 73h(nav)
        top: calc(50vh - 173px);
        left: calc(50vw - 250px);
        width: 500px;
        height: 225px;
        margin: 0 auto;
        padding: 15px;
        &:before {
          content: '';
          position: fixed;
          //half from 270h(form) + 73h(nav)
          top: calc(50vh - 173px);
          left: calc(50vw - 250px);
          width: 500px;
          height: 200px;
          background: $rGrayGlass;
          filter: blur(1px);
          backdrop-filter: grayscale(1) contrast(3) blur(1px);
          -webkit-backdrop-filter: grayscale(1) contrast(3) blur(1px);
        }
        .form {
          padding: 0 5px;
        }
        .vertical {
          background-color: white;
          -webkit-transform: rotate(90deg);
          position: absolute;
          left: 220px;
          width: 140px;
          top: 76px;
        }
        .buttons {
          padding-right: 20px;
          margin-top: 50px;
          .reg-btn,
          .sign-btn {
            width: 100%;
            .register,
            .sign-in {
              width: 100%;
              height: 40px;
              padding: 6px;
              font-size: 2rem;
              line-height: 2.6rem;
              color: $blue;
              text-transform: uppercase;
              border: 1px solid $white;
              border-radius: 0;
              background: transparent;
              cursor: pointer;
              overflow: hidden;
              white-space: normal;
              &:hover,
              &:focus,
              &:active {
                background: $blue;
                outline: none;
              }
              &:hover,
              &:focus {
                color: $white;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
              }
              &:active {
                box-shadow: inset 0 0 5px $rGray,
                inset 0 3px 4px $rGray;
              }
            }
          }
          .reg-btn {
            padding-top: 10px;
          }
          .sign-btn {
            padding-bottom: 10px;
          }
        }
      }
    }
  }

-#Forgot form
.forgot-wrapper
  .row
    .col-xs-12.col-sm-7.form
      = render partial: 'devise/passwords/form'
    %hr.vertical
    .col-xs-12.col-sm-5.buttons
      .sign-btn
        =render partial: 'devise/btns/sign_in',
                  locals: { btn_label: t('.sign') }
      .reg-btn
        = render partial: 'devise/btns/register',
                 locals: { btn_label: t('.register') }