%h1= t('content_manager.page_containers.edit_header')

= render 'form'

= link_to t('content_manager.page_containers.show'), @page_container, class: 'btn btn-primary'
\|
= link_to t('content_manager.page_containers.main'), content_manager_page_containers_path, class: 'btn btn-primary'
