.form-content-manager
  %h1= t('content_manager.page_containers.new_header')

  = render 'form'

  = link_to t('content_manager.page_containers.main'), content_manager_page_containers_path, class: 'btn btn-info'
