= content_for :header do
  .head.pull-left
    %h1= @page_container.header

.container
  = @page_container.content.html_safe
  -#.lead
  -#  Портал "Відкритий бюджет" покликаний створити умови для задоволення потреб громадян в інформації про використання коштів місцевих бюджетів.
  -#
  -#.lead
  -#  Портал містить комплекс програмного забезпечення для створення візуалізацій дохідної та видаткової частини місцевих бюджетів, ключових показників діяльності та бюджету адаптованого для пересічних громадян. Користуючись програмним забезпечення порталу органи місцевого самоврядування мають можливість створювати візуалізації на основі фінансової та статистичної звітності та розміщувати їх на своїх веб-сайтах.
  -#
  -#.lead
  -#  %address
  -#    %p
  -#      Портал адмініструється громадською організацією "Центр політичних студій та аналітики"
  -#    %p
  -#      м. Київ вул. Михайлівська 24-в оф. 43
  -#    %abbr{title: 'Phone'} Тел: (067) 506-81-62
  -#    %p
  -#      %a{href: 'mailto:office@cpsa.org.ua'} office@cpsa.org.ua
