// Place all the styles related to the Indicate/Indicators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;

  .title {
    height: 50px;
    font-weight: bold;
  }

  .comments {
    height: 100px;
    color: #7E8283;
    overflow: auto;
    padding-bottom: 10px;
  }

  path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line {
    stroke: lightgrey;
  }

  .x.axis text {
    font-size: 0.9em;
    fill: #7E8283;
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .x.axis path {
    display: none;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
  }

  .active_point {
    stroke: lightgray;
    stroke-width: 8;
    stroke-opacity: 0.6;
  }

}

.indicator {
  font-size: 0.7em;
  font-weight: normal;
  text-align: center;
  height: 350px;

  .area {
    fill: lightgray;
    fill-opacity: 0.3;
    stroke-width: 0;
  }
}

body {
  div.tooltip {
    background: transparent;
  }

  .tooltip-inner {
    background-color: darkgray;
    color: #ffffff;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: darkgray;
  }

  .load_button {
    text-decoration: none;
  }
}

#year_list, #percent_list {
  .active {
    pointer-events: none;
    color: #0b387c;
  }
}

#indicators {

  .dropdown > a:after {
    content: ""
  }

  .editable-wysihtml5 {
    width: 100%;
    height: 150px;
  }

  .editable-buttons {
    margin-left: 0;
    display: block;
  }

  .editable-container .popover {
    width: 400px;
    height: 300px;
  }
}

.ui-slider-handle.ui-state-active, .tooltip {
  z-index: 3;
}
