.col-sm-12.pies-container
  #canvas-holder1
    %canvas#chart-area1{:height => "200", :width => "200"}
  #canvas-holder2
    %canvas#chart-area2{:height => "400", :width => "400"}


:javascript

  $(function() {

    width = $('.pies-container').width()
    pie1_width = width * .9 + 1
    pie1_cut = 80
    pie2_width = pie1_width*pie1_cut/100 + 4
    pie2_cut = 75

    $('#canvas-holder1').css('left', (width - pie1_width) / 2 - 1).css('top', (width - pie1_width) / 2 - 1).width(pie1_width)
    $('#canvas-holder2').css('left', (width - pie2_width) / 2 - 1).css('top', (width - pie2_width) / 2 - 1).width(pie2_width)

    $.getJSON( "#{home_pie_data_path}", function( data ) {
      var ctx1 = document.getElementById("chart-area1").getContext("2d");
      window.myDoughnut1 = new Chart(ctx1).Doughnut(data.events1, {
        segmentShowStroke : true,
        responsive : true,
        percentageInnerCutout : pie1_cut,
        animateScale : false,
        animateRotate : true,
      });

      var ctx2 = document.getElementById("chart-area2").getContext("2d");
      window.myDoughnut2 = new Chart(ctx2).Doughnut(data.events2, {
        segmentShowStroke : true,
        responsive : true,
        percentageInnerCutout : pie2_cut,
        animateScale : true,
        animateRotate : false,
      });

    });
  })
