.col-md-6

  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active
      %a{href: '#home', role: 'tab', 'data-toggle' => 'tab'}
        Календар
    %li
      %a{href: '#profile', role: 'tab', 'data-toggle' => 'tab'}
        Тайм-лайн
  .tab-content
    #home.tab-pane.fade.in.active
      %h2
        Календар подій
      #calendar.fc.fc-ltr
    #profile.tab-pane.fade
      = render partial: 'timeline'


.col-sm-6
  .col-sm-12
    %h2.col-sm-7 Бюджетний цикл 2014
    .pull-right.col-sm-5
      = render partial: "current_action"

    = render partial: "pie_cycle"
