:css
  #custom_map {
    padding: 0px;
  }
  .map_wrap {
    margin-bottom: 10px;
  }

= content_for :header do
  .head.pull-left
    = 'Редагування територіальних громад'

.col-xs-12
  #flash_message

.map_wrap.col-xs-12.col-md-6
  = render partial: 'map_region'

#edit_table.col-xs-12.col-md-6
  %p
    Натисніть на громаді, щоб відредагувати дані по ній
  %p
    Перетяніть мишкою центр громади, якщо потрібно його змінити
  %p
    Не забудьте натиснути кнопку "Зберегти", щоб зберегти всі зміни по конкретній громаді

.col-xs-12
  = link_to 'Назад', '/community/communities/' + @feature[:properties][:id], :class => 'btn btn-default'
