= content_for :header do
  .head.pull-left
    = t('community.community.index.header')

= render partial: 'map_ukraine'

#embed_code_timeline.col-sm-12
  = render partial: 'widgets/visify/embed_code'

:javascript

  $(document).ready(function(){
    var embed_code = aEmbedCode();
    var src = 'http://' + window.location.host + "/community/map";
    embed_code.initialize({width: '100%', height: '900px', el_id: "#embed_code_timeline", src: src});
  })