// Place all the styles related to the library/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book-index{
  box-shadow: 2px 2px 10px #428bca;
  margin-top: -10px;
  padding-top: 10px;
  table{
    .headt{
      background: #897CA7;
      color:#ffffff;
    }
  }
  th:nth-child(1){
    text-align: center;
    border-radius: 15px 0 0 0;
  }
  th:nth-child(2){
    border-radius: 0 15px 0 0;
  }
  .lead{
    p{
      font-size: 14px;
      line-height: 1.4;
      text-align: justify;
      span{
      }
    }
  }
  .book_image {
    img{
      box-shadow: 2px 2px 10px #428bca;
    }
  }
  .buttom{
    float:right;
    .btn{
      padding: 5px 10px;
    }
  }
}
.show {
  img{
    float: left;
    box-shadow: 2px 1px 3px #428bca;
    margin-right: 10px;
  }
  .link{
    float: right;
    margin-left: 7px;
  }
}

