// Place all the styles related to the library/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link{
  float: right;
  margin-left: 7px;
}
td{
  a {
    margin-left: 7px;
  }
}
