:scss
  footer {
    width: 100%;
    position: absolute;
    background: #0c2231;
    .footer-wrapper {
      .without_margin{
        margin-left: 0;
        margin-right: 0;
      }
      //padding: 0 10%;
      .footer-text {
        padding: 0 10px 0 0;
        margin: 15px 0 25px;
        //border-left: 2px solid #ffd304;
        > p {
          margin: 0;

          padding-left: 10px;
          color: #ffffff;
          text-align: justify;
        }
      }
      .footer-logos {
        padding: 0 0 0 30px;
        margin-top: 15px;
        color: white;
        .row {
          .git {
            float: left;
            margin-bottom: 0;
            padding: 0 5px 0 0;
          }
          .rules {
            float: left;
            padding: 0 5px 0 0;
          }
        }
        .logo {
          padding: 10px 0 10px 2.5%;
        }
        //.eidos {
        //  width: 33%;
        //  //a > img {
        //  //  background: white;
        //  //}
        //}
        //.europe {
        //  width: 18.9%;
        //  a > img {
        //    border: 2px solid white;
        //  }
        //}
        //.renaissance {
        //  width: 41%;
        //}
      }
    }
  }
  @media (max-width: 767px) {
    footer {
      .footer-wrapper {
        .footer-logos {
          //position: relative;
          //top: -100px;
          margin-top: 0;
          padding-bottom: 10px;
        }
        .footer-text {
          //position: relative;
          //top: 100px;
          p {
            margin-bottom: 0;
            //line-height: 1.2;
          }
        }
      }
    }
  }

%footer
  .footer-wrapper
    .container
      .row.without_margin
        .col-xs-12.col-md-6.footer-text
          %p
            = t('new_design.footer.footer-text')
        .col-xs-12.col-md-6.footer-logos
          .row
            %p.git
              = t('new_design.footer.based_code')
            %a{'xmlns:dct' => 'http://purl.org/dc/terms/', 'href' => 'https://github.com/kavaleriy/budget', 'rel' => 'dct:source'}
              %i.fa.fa-github
              https://github.com/kavaleriy/budget
          .row
            %p.rules
              = t('new_design.footer.rules')
            %a{'xmlns:cc' => 'http://creativecommons.org/ns#', 'href'=> 'mailto:begemot.valery@gmail.com?subject=openbudget.in.ua%20support', 'rel' => 'cc:morePermissions'}
              Valeriy Kashpruk
          -#.col-xs-4.logo.eidos
          -#  =link_to '#' do
          -#    = image_tag('new_design/eidos-logo.png', class: 'img-responsive')
          -#.col-xs-4.logo.europe
          -#  =link_to '#' do
          -#    = image_tag('new_design/Europe-flag-logo.svg', class: 'img-responsive')
          -#.col-xs-4.logo.renaissance
          -#  =link_to '#' do
          -#    = image_tag('new_design/renaissance-small_logo.png', class: 'img-responsive')