#test_page{:style => "background-color: black;"}
  %p sdf
  %iframe{:height => "700px", :src => "http://localhost:3000/widgets/calendar/pie_cycle_for_embed/546e284f6c6f63de67010000/?locale=uk", :width => "700px"}
