#test_page{:style => "background-color: black;"}
  %p sdf
  %iframe{:height => "700px", :src => "http://localhost:3000/widgets/calendar/pie_cycle_for_embed/54ce07455261691b58000000/?", :width => "700px"}
