#test_page{:style => "background-color: black;"}
  %p sdf
  %iframe{:height => "700px", :src => "https://localhost:3000/widgets/visify/bubbletree/5538ae9d6c6f630f3c0a0000/?locale=uk", :width => "700px"}
