:scss
  .saved_appeal{
    margin-top: 20px;
    .text{
      font-size: 20px;
    }
  }

.saved_appeal
  %p.text
    Ваше звернення передане на премодерацію адміністратору системи "Відкритий бюджет", після модерації звернення буде надіслане відповідному органу влади".