:scss

  table{
    thead{
      th:nth-last-child(1){
        text-align: right;
      }
    }
    tbody{
      tr{
        &:nth-child(even) {
          background: #ECECEC
        }
        td{
          .alert{
            position: absolute;
            right: 15px;
            margin-top: 25px;
          }
          &.actions{
            padding: 8px 0px;
            text-align: right;
            a.btn{
              display: inline-block;
              padding: 2px;
              font-size: 16px;
              .fa-thumbs-up{
                color: green;
              }
              .fa-thumbs-down{
                color: red;
              }
              &:hover{
                background: lightgrey;
                .fa-border{
                  border-color: lightgrey;
                }
              }
            }
            .status{
              .btn{
                padding: 0 5px;
                margin-bottom: 5px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

= render partial: 'layouts/modal_container'

%h1 Список звернень

%table.table.table-striped
  %thead
    %tr
      %th №
      %th Місто
      %th Категорія
      %th Текст
      %th Отримувачі
      %th Файл
      %th Контакти
      %th ПІБ
      %th Ремонт
      %th Дата
      %th Статус і дії

  %tbody
    - @repairing_appeals.each_with_index do |repairing_appeal, i|
      = render partial: 'repairing/appeals/appeal', locals: { repairing_appeal: repairing_appeal, i: i }
