#calendar_view.fc.fc-ltr{:calendar_id => calendar.id }

:javascript

  $(document).ready(function() {

    init_calendar()

    $(window).resize(init_calendar);

    $('a[href="#calendar_month"]').on('shown.bs.tab', function (e) {
      $('#calendar_view').fullCalendar('render');
    });


    function init_calendar() {
      return $('#calendar_view').fullCalendar({
        lang: document.location.href.split("locale=")[1],
        editable: false,
        header: {
          left: '',
          center: 'title',
          right: 'today prev,next month,agendaWeek,agendaDay'
        },
        defaultView: 'month',
        events: {
          url: '/calendars/calendars/' + $('#calendar_view').attr('calendar_id') + '/events'
        },
        timeFormat: 'H:mm',
        droppable: false,
        selectable: false,
        eventClick: function(calEvent, jsEvent, view) {
          return $.get("/calendars/calendars/#{calendar.id}/events/" + calEvent.id)
        },
        eventRender: function(e, t, n) {
          var icon = (e.icon ? " <i class='fa fa-lg " + e.icon + " '></i> " : "");
          if (e.color)
            t.css('color', e.text_color)
          t.find(".fc-event-title").before($("<span class=\"fc-event-icons\"></span>").html(icon));
        }
      });
    }


  })
