- if countdown_event and countdown_event.ends_at > Date.current
  .countdown
    = link_to(calendar_event_path(calendar, countdown_event), :class => '', :remote => true) do
      %h4.title.col-xs-12
        .date.col-sm-4.pull-right{ 'data-date' => countdown_event.ends_at}
        #{truncate(calendar.countdown_title, :length => 100, :omission => '...')}


  :javascript
    $(function() {
      $('.countdown .date')
        .TimeCircles({
          circle_bg_color: "#CCCCCC",
          fg_width: 0.04,
          time: {
            Days: {
              show: true,
              text: "Днів",
              color: "#FF9933"
            },
            Hours: {
              show: false,
            },
            Minutes: {
              show: false,
            },
            Seconds: {
              show: false,
            },
          }
        });
    })

    $(document).ready(function() {
      $(".countdown a").on("click", function() {
        var marker_id = '#{countdown_event._id.to_s}';
        $('#marker_' + marker_id).find(".flag").trigger("click");
      })
    })
