.right-panel.col-xs-4.pull-right
  = render partial: 'event'

.col-xs-offset-1.col-xs-6
  = render partial: 'pie_cycle', :locals => { calendar: @calendar }


:javascript

  $(document).ready(function() {

    // ------------------ EMBED CODE EVENTS ------------------------

    // ----------------- CALENDAR PIE EVENTS -----------------------
    console.log(1);
    var pie = aCalendarPie()
    pie.init_pie( {loadedCallback: calendar_pie_events} )


    function calendar_pie_events() {
      d3.selectAll("#calendar_pies svg g .actual_path")
         .on("click", function(d) {
           selectEvent(d.data.id);

           var pathEl = Snap.select('.selected_path');
           if(pathEl) {
            pathEl.stop().animate( { 'stroke-width': 1, 'fill-opacity': $('.selected_path').data('fill-opacity'), 'stroke-opacity': '1' }, 1000, mina.elastic);
            $('.selected_path').css("stroke", "#ffffff");
            pathEl.removeClass('selected_path');
           }

           $(this).attr('class', 'events_path actual_path selected_path')

           $('#marker_' + d.data.id).find(".flag").trigger("click");
         })

         .on("mouseover", function(d) {
           var s = Snap.select('#calendar_pies svg g');
           s.append(this); // to move current path to the front
           var pathEl = Snap.select('#path_' + d.data.id);
           if(!pathEl.hasClass("selected_path")) {
            $(this).css("stroke", $(this).css('fill'));
            $(this).data('fill-opacity', $(this).css('fill-opacity'));
            pathEl.stop().animate( { 'stroke-width': 10, 'fill-opacity': '0.8', 'stroke-opacity': '0.8' }, 1000, mina.elastic);
           }
         })
         .on("mouseout", function(d) {
            var pathEl = Snap.select('#path_' + d.data.id);
            if(!pathEl.hasClass("selected_path")) {
              pathEl.stop().animate( { 'stroke-width': 1, 'fill-opacity': $(this).data('fill-opacity'), 'stroke-opacity': '1' }, 1000, mina.elastic);
              $(this).css("stroke", "#ffffff");
            }
         })
    }
    function selectEvent(event_id) {
           if (event_id == undefined)
            return
           $.get("/calendars/calendars/" + "#{@calendar.id}" + "/events/" + event_id);
        }
  });