- @sankeys.each do |sankey|
  %tr
    %td= link_to sankey._id, sankey, :method => :get
    %td
      =link_to t('form.edit', :default => t("helpers.links.edit")), edit_sankey_path(sankey), :method => :get, :class => 'btn btn-default btn-xs'
      =link_to t('form.destroy', :default => t("helpers.links.destroy")), sankey, :method => :delete, :data => { :confirm => t('form.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
  %br

= link_to 'Нова візуалізація', new_sankey_path, :type => "button", :method => :get, :class => "btn btn-primary", :id => "sankey_new"
