:scss
  .indicators_list {
    margin-top: 10px;
  }

.indicators_list
  - indicators.each do |indicator|
    .col-xs-6
      = render partial: 'program_indicators_list_item', locals: { indicator: indicator }
