:scss
  .program_indicators {
    li {
      text-align: center;
    }
  }

.program_indicators
  %ul.nav.nav-tabs
    %li.col-xs-3.active
      %a{:href => '#tab_expences', role: 'tab', 'data-toggle' => 'tab'}
        %i.fa.fa-5x.fa-bar-chart
        %h3
          Витрати
    %li.col-xs-3
      %a{:href => '#tab_product', role: 'tab', 'data-toggle' => 'tab'}
        %i.fa.fa-5x.fa-bar-chart
        %h3
          Продукт
    %li.col-xs-3
      %a{:href => '#tab_effect', role: 'tab', 'data-toggle' => 'tab'}
        %i.fa.fa-5x.fa-bar-chart
        %h3
          Єфективність
    %li.col-xs-3
      %a{:href => '#tab_quality', role: 'tab', 'data-toggle' => 'tab'}
        %i.fa.fa-5x.fa-bar-chart
        %h3
          Якість

  .tab-content
    #tab_expences.tab-pane.fade.in.active
      = render partial: 'program_indicators_list', locals: { indicators: @indicators[:expences] }

    #tab_product.tab-pane.fade
      = render partial: 'program_indicators_list', locals: { indicators: @indicators[:products] }

    #tab_effect.tab-pane.fade
      = render partial: 'program_indicators_list', locals: { indicators: @indicators[:effect] }

    #tab_quality.tab-pane.fade
      = render partial: 'program_indicators_list', locals: { indicators: @indicators[:quality] }
