= t('programs.target_programs.show.program_term')
= @programs_target_program.term_start.to_s + ' - ' + @programs_target_program.term_end.to_s + t('programs.target_programs.show.years')
%br
- if @programs_target_program.phases.length > 0
  = t('programs.target_programs.show.program_phases')
  %ul{ :style => 'list-style-type:circle' }
  - @programs_target_program.phases.each_with_index do |phase, index|
    %li
      = (index + 1).to_s + ' ' + t('programs.target_programs.show.phase') + ' (' + phase + t('programs.target_programs.show.years') + ');'

