= content_for :header do
  .head.pull-left
    Державні програми


#target_programs.col-xs-12
  = render partial: 'programs/target_programs/programs/bar'

  = render partial: 'programs/target_programs/programs/list', locals: { programs: @programs, :years => @years, :year => @year }
