.widget-box.transparent
  .widget-header
    %h3 Дії міської влади
  .widget-main
    #external-events.calendar-event.width-sm
      - @city_actions.each do |calendar_action|
        .external-event.ui-draggable{"data-title" => calendar_action.title.html_safe,
        "data-icon" => calendar_action.icon.html_safe,
        "data-description" => calendar_action.description.html_safe,
        "data-color" => calendar_action.color,
        "data-holder" => calendar_action.holder}

<<<<<<< HEAD
          %h6.title{:style => "background-color: #{calendar_action.color}; position: relative;"}
=======
          %h5.title{:style => "background-color: #{calendar_action.color}; position: relative;"}
>>>>>>> e44e1de961815f80c5208f9acad5b188ddac4dd7
            %span.fa{class: calendar_action.icon}
            = calendar_action.title.html_safe
          .body
            = calendar_action.description.html_safe
