.widget-box.transparent
  .widget-header
    %h3 Дії міської влади
  .widget-main
    #external-events.calendar-event.width-sm


      - @city_actions.each do |calendar_action|
        .external-event.ui-draggable{:style => "background-color: #{calendar_action.color}; position: relative;",
        "data-title" => calendar_action.title.html_safe,
        "data-icon" => calendar_action.icon.html_safe,
        "data-description" => calendar_action.description.html_safe,
        "data-color" => calendar_action.color,
        "data-holder" => calendar_action.holder}
          %h5
            = calendar_action.icon.html_safe
            = calendar_action.title.html_safe
          = calendar_action.description.html_safe
