.col-md-12
  .row-fluid
    .col-md-2
      = render partial: "city_actions"
    .col-md-8
      .space
      #calendar_admin.fc.fc-ltr
    .col-md-2
      = render partial: "people_actions"

#eventModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content

