:scss
  .news-section .container {
    padding: 0;
    .news-block {
      padding: 0;
      .container {
        padding: 0;
      }
    }
    .news-title-block .news-title > hr {
      width: 31%;
    }
  }
  .carousel-wrap {
    /*margin: 0 20px;*/
    padding: 0 6%;
    width: 100%;
    position: relative;
    .owl-carousel .owl-stage-outer {
      /*margin: 0 2%;*/
      /*padding: 0 15px;*/
    }
  }

  .owl-carousel .item {
    position: relative;
    /* fix blank or flashing items on carousel */
    z-index: 100;
    /* fix blank or flashing items on carousel */
    -webkit-backface-visibility: hidden;
    /* fix blank or flashing items on carousel */
    a {
      > p {
        &.title, &.text {
          text-decoration: none;
          color: #000;
        }
      }
      &:hover, &:focus {
        text-decoration: none;
        color: #000;
      }
      &:hover > img, &:focus > img {
        -webkit-filter: sepia(1);
        filter: sepia(1);
        transition: .4s;
      }
      > p {
        &.title {
          font-family: 'Lato', sans-serif;
          font-size: 18px;
          text-transform: uppercase;
          height: 54px;
          overflow: hidden;
          margin: 40px 0 20px;
        }
        &.text {
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          text-align: justify;
          height: 60px;
          margin: 0 0 60px;
          overflow: hidden;
        }
      }
    }
  }

  .owl-nav {
    > div {
      margin-top: -26px;
      position: absolute;
      top: 50%;
      color: #cdcbcd;
    }
    i {
      font-size: 45px;
      position: relative;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(45deg);
      color: black;
    }
    .owl-prev i {
      top: -7px;
      left: 11px;
    }
    .owl-next i {
      top: -2px;
      left: 15px;
    }
    .owl-prev {
      left: -63px;
      border: 2px solid black;
      width: 42px;
      height: 42px;
      top: 80px;
      background: yellow;
      border-radius: 3px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .owl-next {
      right: -63px;
      border: 2px solid black;
      width: 42px;
      height: 42px;
      top: 80px;
      background: yellow;
      border-radius: 3px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  /* ====== Media ===== */
  @media (min-width: 992px) and (max-width: 1199px) {
    .owl-nav {
      .owl-prev {
        left: -51px;
      }
      .owl-next {
        right: -51px;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .owl-nav {
      .owl-next,
      .owl-prev {
        width: 32px;
        height: 32px;
        top: 50px;
        i {
          font-size: 32px;
        }
      }
      .owl-prev {
        left: -39px;
        i {
          left: 7px;
          top: -5px;
        }
      }
      .owl-next {
        right: -39px;
        i {
          left: 11px;
          top: -1px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .news-section {
      .container {
        .news-title-block {
          padding-top: 0;
          .news-title {
            padding: 0;
            p {
              padding: 0;
            }
          }
        }
      }
    }
    .owl-nav {
      .owl-next,
      .owl-prev {
        width: 30px;
        height: 30px;
        top: 50px;
        i {
          font-size: 30px;
        }
      }
      .owl-prev {
        left: -35px;
        top: 150px;
        margin: auto 0;
        i {
          top: -5px;
          left: 7px;
        }
      }
      .owl-next {
        right: -35px;
        top: 150px;
        margin: auto 0;
        i {
          top: -1px;
          left: 12px;
        }
      }
    }
    .owl-carousel .item a > p {
      &.title {
        height: 50px;
        margin: 20px 0 0;
      }
      &.text {
        margin: 0;
      }
    }
  }

.news-section
  .container
    .col-xs-12.news-title-block
      .news-title
        =link_to 'Новини проекту', modules_all_budget_news_path, class: 'title-link'
        -#=link_to 'Новини проекту', demo_news_path, class: 'title-link'
        %hr 
    .col-xs-12.news-block
      .container
        .carousel-wrap
          .owl-carousel
            .item
              =link_to '#' do
                %img.img-responsive{:src => "http://placehold.it/300x150"}
                  %p.title У КРАМАТОРСЬКУ ВІДТЕПЕР ВІДКРИТИЙ БЮДЖЕТ
                  %p.text Місто Краматорськ Донецької області доєдналося до програми Відкритий Бюджет.
            .item
              =link_to '#' do
                %img.img-responsive{:src => "http://placehold.it/300x150"}
                  %p.title САМБІРСЬКА РАЙОННА РАДА ВІДКРИЛА СВІЙ БЮДЖЕТ
                  %p.text Місто Краматорськ Донецької області доєдналося до програми Відкритий Бюджет.
            .item
              =link_to '#' do
                %img.img-responsive{:src => "http://placehold.it/300x150"}
                  %p.title МІСТО БАЛТА ДОЛУЧИЛОСЯ ДО НАШОГО ПРОЕКТУ
                  %p.text Місто Краматорськ Донецької області доєдналося до програми Відкритий Бюджет.
            .item
              =link_to '#' do
                %img.img-responsive{:src => "http://placehold.it/300x150"}
                  %p.title У КРАМАТОРСЬКУ ВІДТЕПЕР ВІДКРИТИЙ БЮДЖЕТ
                  %p.text Місто Краматорськ Донецької області доєдналося до програми Відкритий Бюджет.
            .item
              =link_to '#' do
                %img.img-responsive{:src => "http://placehold.it/300x150"}
                  %p.title САМБІРСЬКА РАЙОННА РАДА ВІДКРИЛА СВІЙ БЮДЖЕТ
                  %p.text Місто Краматорськ Донецької області доєдналося до програми Відкритий Бюджет.
            .item
              =link_to '#' do
                %img.img-responsive{:src => "http://placehold.it/300x150"}
                  %p.title МІСТО БАЛТА ДОЛУЧИЛОСЯ ДО НАШОГО ПРОЕКТУ
                  %p.text Місто Краматорськ Донецької області доєдналося до програми Відкритий Бюджет.
:javascript
  $(document).ready(function() {
      // ***** Carousel ***** //
    $('.owl-carousel').owlCarousel({
        items: 3,
        lazyLoad: true,
        loop: true,
        margin: 50,
        nav: true,
        navText: [
            "<i class='fa fa-angle-left'></i>",
            "<i class='fa fa-angle-right'></i>"
        ],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
          0: {
            items: 1
          },
          768: {
            items: 3
          },
          1000: {
            items: 3
          }
        }
    });
  });