#icons

:javascript
  function aIcons() {

    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width, height;
    var current_year, current_month;

    function hide() {
      $("#icons").html('')
    }

    var self = this;

    return {
      initialize: function(data, options) {
        self.data = data;

        $("#icons").height(options.height || 500)
        self.clickCallback = options.clickCallback
      },
      hide: hide,
      show: function(year, month) {
        current_year = year;
        current_month = month;
        hide();

        if (self.data == null)
          return;

        var nodes = [];
        var percent = 0;
        var totalSize = self.data["amount"];

        $.each(self.data.children, function( index, value ) {
          $.each(value.children, function( key, val ) {
              nodes.push(val);
          });
        });

        sort(nodes);

        function sort(nodes) {
          for(var i in nodes) {
            var tmp = nodes[i];
            if(nodes[parseInt(i)+1] && (nodes[parseInt(i)+1].amount > nodes[i].amount)) {
              nodes[i] = nodes[parseInt(i)+1];
              nodes[parseInt(i)+1] = tmp;
              sort(nodes);
            }
          }
        }

        div = '<table class="table table-striped table-hover">';
        for(i in nodes) {

          div += '<tr class="' + nodes[i].id + '">'
              + '<td class="col-sm-7"><i class="fa ' + nodes[i].icon + '"></i> '
              + nodes[i].label + '</td>'
              + '<td class="col-sm-3" align="right">' + aVisify.helpers.formatNumber(nodes[i].amount) + '</td>'
              + '<td class="col-sm-2">' + aVisify.helpers.getPercentageString(nodes[i] , totalSize) + '</td>'
              + '</tr>';
        }
        div += '</tbody></table>';

        $('#icons').html(div);

        d3.selectAll("#icons tr")
            .datum(nodes)
            .style("cursor", "pointer")
            .on("click", function(d, i) {
                               $("#icons tr").attr("style","cursor: pointer");
                               $(this).attr("style","background-color: #C6E8FA");
                               if (self.clickCallback){
                                self.clickCallback(d[i]);
                               }
                             });
      },
      get_year: function() {
        return current_year;
      },
      get_month: function() {
        return current_month;
      }
    }
  }