#icons

:javascript
  function aIcons() {
    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width, height

    function hide() {
      $("#icons").html('')
    }

    var self = this;

    return {
      initialize: function(options) {
        $("#icons").height(options.height || 500)
        self.clickCallback = options.clickCallback
      },
      hide: hide,
      show: function(budget_file_id, year, month) {
        hide()

        d3.json("/widgets/visify/get_bubbletree_data/" + budget_file_id + "/"+ year+ "/" + month, function(data) {

          if (data == null)
            return

          div = '<table class="table table-hover">'
          $.each(data.children, function( index, value ) {
            var totalSize;
            if (value.parent) {
              totalSize = value.parent.amount;
            } else {
              totalSize = value.amount;
            }
            div += '<tr>'
              + '<td class="col-sm-8"><div style="float: left; margin-right: 10px; margin-top: 4px; width:10px; height:10px; background-color:' + value.color + '"></div>'
              + value.label + '</td>'
              + '<td class="col-sm-2" align="right">' + aVisify.helpers.formatNumber(value.amount) + '</td>'
              + '<td class="col-sm-2">' + aVisify.helpers.getPercentageString(value, totalSize) + '</td>'
              + '</tr>'
          });
          div += '</table>'

          $('#icons').html(div);

          d3.selectAll("#icons tr")
              .style("cursor", "pointer")
              .on("click", function(d, i) {
                   if (self.clickCallback)
                    self.clickCallback(data[i]);
                 });
        })
      },
    }
  }