#icons

:javascript
  function aIcons() {

    var width, height, current_key = null;

    function clear() {
      $("#icons").html('');
    }

    var self = this;

    return {
      initialize: function(data, options) {
        _data = data;
        $("#icons").height(options.height || 500);
        self.clickCallback = options.clickCallback;
      },
      show: function(year, month, quarter) {
        clear();

        if (!_data || !_data["totals"][year] || !_data["totals"][year][month])
          return;

        var nodes = [];
        var percent = 0;
        var totalSize = 0;
        var amount_key, index;
        if(quarter == 0) {
          totalSize = _data["totals"][year][month]
          amount_key = "amount"
          index = month
        } else {
          totalSize = _data["totals"][year]["quarters"][quarter]
          amount_key = "quarters"
          index = quarter
        }

        $.each(_data["levels"], function( key, value ) {
          if(value[amount_key][year] && value[amount_key][year][index]) {
            nodes.push({key: key, amount: value[amount_key][year][index]});
          }
        });

        sort(nodes);

        function sort(nodes) {
          for(var i in nodes) {
            var tmp = nodes[i];
            if(nodes[parseInt(i)+1] && (nodes[parseInt(i)+1].amount > nodes[i].amount)) {
              nodes[i] = nodes[parseInt(i)+1];
              nodes[parseInt(i)+1] = tmp;
              sort(nodes);
            }
          }
        }

        div = '<table class="table table-striped table-hover">';
        for(i in nodes) {
          key = nodes[i]["key"];
          data_sorted = _data["levels"];
          div += '<tr id="' + key + '">'
              + '<td class="col-sm-7"><i class="fa ' + data_sorted[key].icon + '"></i> '
              + data_sorted[key].label + '</td>'
              + '<td class="col-sm-3" align="right">' + aVisify.helpers.formatNumber(data_sorted[key][amount_key][year][index]) + '</td>'
              + '<td class="col-sm-2">' + aVisify.helpers.getPercentageString(data_sorted[key][amount_key][year][index], totalSize) + '</td>'
              + '</tr>';
        }
        div += '</tbody></table>';

        $('#icons').html(div);

        d3.selectAll("#icons tr")
            .datum(nodes)
            .attr("style", function(d, i) { return d[i]["key"] == current_key ? "background-color: #C6E8FA" : "cursor: pointer"; })
            .on("click", function(d, i) {
                               current_key = d[i]["key"];
                               $("#icons tr").attr("style","cursor: pointer");
                               $(this).attr("style","background-color: #C6E8FA");
                               if (self.clickCallback){
                                self.clickCallback(d[i]["key"]);
                               }
                             });
      }
    }
  }