#icons

:javascript
  function aIcons() {

    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width, height;
    var current_year, current_month, datum;

    function hide() {
      $("#icons").html('')
    }

    var self = this;

    return {
      initialize: function(options) {

        d3.json("/vtarnay/module4/get_rows/" + '#{@taxonomy.id}', function(data) {
          self.datum = data["rows_rov"];
        });

        $("#icons").height(options.height || 500)
        self.clickCallback = options.clickCallback
      },
      hide: hide,
      show: function(year, month, current_key) {
        current_year = year;
        current_month = month;
        hide();

        var data = self.datum[year][month];

        if (data == null)
          return;

        var nodes = [];
        var percent = 0;
        var totalSize = self.datum[year]["totals"][month];

        $.each(data, function( key, value ) {
          nodes.push({key: key, amount: value["amount"]});
        });

        sort(nodes);

        function sort(nodes) {
          for(i in nodes) {
            var tmp = nodes[i];
            if(nodes[parseInt(i)+1] && (nodes[parseInt(i)+1].amount > nodes[i].amount)) {
              nodes[i] = nodes[parseInt(i)+1];
              nodes[parseInt(i)+1] = tmp;
              sort(nodes);
            }
          }
        }

        var data_sorted = [];

        for(i in nodes) {
          data_sorted[nodes[i]["key"]] = data[nodes[i]["key"]];
        }

        div = '<table class="table table-striped table-hover">';

        for(key in data_sorted) {
          div += '<tr id="' + key + '">'
              + '<td class="col-sm-7"><i class="fa ' + data_sorted[key].icon + '"></i> '
              + (data_sorted[key].title || key) + '</td>'
              + '<td class="col-sm-3" align="right">' + aVisify.helpers.formatNumber(data_sorted[key].amount) + '</td>'
              + '<td class="col-sm-2">' + aVisify.helpers.getPercentageString(data_sorted[key], totalSize) + '</td>'
              + '</tr>';
        }

        div += '</tbody></table>';

        $('#icons').html(div);

        d3.selectAll("#icons tr")
            .datum(nodes)
            .attr("style", function(d, i) {
                              return nodes[i]["key"] == current_key ? "background-color: #C6E8FA" : "cursor: pointer";
                           })
            .on("click", function(d, i) {
                               $("#icons tr").attr("style","cursor: pointer");
                               $(this).attr("style","background-color: #C6E8FA");
                               if (self.clickCallback){
                                 self.clickCallback(nodes[i]["key"]);
                               }
                             });
      },
      get_year: function() {
        return current_year;
      },
      get_month: function() {
        return current_month;
      }
    }
  }