#icons

:javascript
  function aIcons() {

    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width, height;
    var _data;

    function hide() {
      $("#icons").html('');
    }

    var self = this;

    return {
      initialize: function(data, options) {
        _data = data;
        $("#icons").height(options.height || 500);
        self.clickCallback = options.clickCallback;
      },
      hide: hide,
      show: function(year, month) {

        hide();

        if (!_data || !_data["totals"][year] || !_data["totals"][year][month])
          return;

        var nodes = [];
        var percent = 0;
        var totalSize = _data["totals"][year][month];

        $.each(_data["levels"], function( key, value ) {
          if(value["amount"][year] && value["amount"][year][month]) {
            nodes.push({key: key, amount: value["amount"][year][month]});
          }
        });

        sort(nodes);

        function sort(nodes) {
          for(var i in nodes) {
            var tmp = nodes[i];
            if(nodes[parseInt(i)+1] && (nodes[parseInt(i)+1].amount > nodes[i].amount)) {
              nodes[i] = nodes[parseInt(i)+1];
              nodes[parseInt(i)+1] = tmp;
              sort(nodes);
            }
          }
        }

        var data_sorted = [];
        for(i in nodes) {
          data_sorted[nodes[i]["key"]] = _data["levels"][nodes[i]["key"]];
        }

        div = '<table class="table table-striped table-hover">';
        for(key in data_sorted) {
          div += '<tr id="' + key + '">'
              + '<td class="col-sm-7"><i class="fa ' + data_sorted[key].icon + '"></i> '
              + data_sorted[key].label + '</td>'
              + '<td class="col-sm-3" align="right">' + aVisify.helpers.formatNumber(data_sorted[key].amount[year][month]) + '</td>'
              + '<td class="col-sm-2">' + aVisify.helpers.getPercentageString(data_sorted[key].amount[year][month], totalSize) + '</td>'
              + '</tr>';
        }
        div += '</tbody></table>';

        $('#icons').html(div);

        d3.selectAll("#icons tr")
            .datum(nodes)
            .style("cursor", "pointer")
            .on("click", function(d, i) {
                               $("#icons tr").attr("style","cursor: pointer");
                               $(this).attr("style","background-color: #C6E8FA");
                               if (self.clickCallback){
                                self.clickCallback(d[i]["key"]);
                               }
                             });
      }
    }
  }