#sidebar.col-xs-12

  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active{'role' => 'presentation'}
      %a{href: '#tab_bubbletree', 'aria-controls' => 'tab_bubbletree', role: 'tab', 'data-toggle' => 'tab'}
        %i.fa.fa-spinner.fa-lg
    %li{'role' => 'presentation'}
      %a{href: '#tab_chart', 'aria-controls' => 'tab_chart', role: 'tab', 'data-toggle' => 'tab'}
        %i.fa.fa-bar-chart-o.fa-lg
    %li{'role' => 'presentation'}
      %a{href: '#tab_pie', 'aria-controls' => 'tab_pie', role: 'tab', 'data-toggle' => 'tab'}
        %i.fa.fa-circle-o.fa-lg

  .tab-content
    .tab-pane.fade.in.active{'role' => 'tabpanel', 'id' => 'tab_bubbletree'}
      = render partial: 'bubbletree', :locals => { budget_file_id: budget_file_id }
    .tab-pane.fade.in{'role' => 'tabpanel', 'id' => 'tab_chart'}
      = render partial: 'widgets/visify/sidebar_chart_battery', :locals => { budget_file_id: @taxonomy.id }
    .tab-pane{'role' => 'tabpanel', 'id' => 'tab_pie'}
      = render partial: 'widgets/visify/sidebar_pie', :locals => { budget_file_id: @taxonomy.id }


:javascript

  //$(document).ready(function() {
  //
  //  $('#sidebar a[role="tab"]').on('shown.bs.tab', function (e) {
  //    console.log(this.href.split('#')[1]);
  //  });
  //
  //})

:javascript

  function aSidebar(aContainer) {
    var chart, pie;

    return {
      container: aContainer,

      initialize: function(height, options){
        chart = aSidebarChartBattery('#sidebar')
        chart.initialize(height, options)

        pie = aSidebarPie('#sidebar')
        pie.initialize(height, options)
      },

      hide: function(){
        $(aContainer + ' #description').html('');

        chart.hide();
        pie.hide();
      },
      show: function(node){
        this.getLevelInfo(node)
      },

      getLevelInfo: function(node) {
        $(aContainer + ' #description').html('');
        $.getJSON("/widgets/visify/get_bubbletree_nodedata/#{@taxonomy.id}/" + node.taxonomy + "/" + node.key, function(data) {
          div_descr = ''
          if (data.description) {
            div_descr = "<div class='description'>" + data.description + "</div>"
          }
          $(aContainer + ' #description').html(div_descr)
        })

        chart.show(node.children);
        pie.show(node.children);
      },
    }
  }
