= content_for :header do
  .head.pull-left
    %i.fa.fa-info-circle
    = t('.help')
%h3


%h4
  Файли довільної табличної структури
%p
  Система дозволяє завантажити файли довільної табличної структури - пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити XLS, CSV та DBF),
%p
  Стовпці відповідають за рівні/глибину візуалізації, а строчки за кожну окрему суму.
%p
  Кількість стовпців не обмежена, перший стовпчик – перший рівень деталізації, другий – другий рівень і т.д. Останній стовпчик містить суму.
%p
  Перша строчка файлу містить назви рівнів візуалізації, далі - фактичні дані.
%p
  Для прикладу дивись файл free_form.xlsx.

%h4
  Пояснення до бюджетних файлів.
%p
  Після завантаження файлу з коректними даними відкривається вікно з візуалізацією.
%p
  Можна вказати пояснення (кнопка «Пояснення») для кожної суми:

%ul
  %li
    коротку назву
  %li
    колір
  %li
    детальний опис
  %li
    малюнок для візуалізації
%p
  %b Примітка:
  Пояснення можуть містити в тексті довільний html-код, iframe та ін.

%p
  %b Примітка:
  Спеціальні назви рівнів:
%ul
  %li
    _month – дані в розрізі місяців, тобто один файл може містити дані за декілька місяців
%p
  %b Примітка:
  в систему завантажені довідники:

  %ul
    %li kkd – функціональна класифікація доходів,
    %li ktfk - функціональна класифікація видатків,
    %li kvk – відомча класифікація
    %li ekv – економічна класифікація

  Якщо назва рівня в файлі співпадає з назвою довідника, система автоматично завантажує пояснення до візуалізації.


%hr

%h4
  Система дозволяє завантажити файли з Доходами:
%p
  ROT*.dbf (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити доходи > Завантажити доходи ROT та Завантажити доходи - Фонд
%p
  ROT*.dbf імпортується з зовнішньої системи та має жорстку структуру.
%p
  Файл «Доходи – Фонд» має незмінну табличну структуру: «kkd, Загальний фонд, Спеціальний фонд», останні два стовпці відповідають за суму загального фонду та суму спеціального фонду відповідно,
  %br
  Для прикладу дивись файл fond_revenues.xlsx.

%hr

%h4
  Система дозволяє завантажити файли з Видатками:
%p
  ROV*.dbf (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити видатки > Завантажити доходи ROV та Завантажити видатки - Фонд
%p
  ROV*.dbf імпортується з зовнішньої системи та має жорстку структуру.
%p
  Файл «Видатки – Фонд» має незмінну табличну структуру «Джерело, Розпорядник, Функц класифікація, Загальний фонд, Спеціальний фонд», останні два стовпці відповідають за суму загального фонду та суму спеціального фонду відповідно,
  %br
  Для прикладу дивись файл fond_expences.xlsx.

%h4
