<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>>
        <Cell><Data ss:Type="String">key</Data></Cell>
        <Cell><Data ss:Type="String">indicator</Data></Cell>
        <Cell><Data ss:Type="String">unit</Data></Cell>
      </Row>
      <% @data.each do |d| %>
          <Row>
            <Cell><Data ss:Type="String"><%= d.key %></Data></Cell>
            <Cell><Data ss:Type="String"><%= d.indicator %></Data></Cell>
            <Cell><Data ss:Type="String"><%= d.unit %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>