-# http://geojson.org/geojson-spec.html#examples
-# http://www.rubydoc.info/gems/rgeo-geojson/frames

-# https://github.com/alexreisner/geocoder
-# http://railscasts.com/episodes/273-geocoder

= stylesheet_link_tag 'leaflet/leaflet.css', :media => 'all'

:css
  html, body, #map {
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
  }
#map

:javascript

  $(document).ready(function() {
    $.when(
      $.getScript( "/assets/leaflet/leaflet.js" ),
      $.Deferred(function( deferred ){
          $( deferred.resolve );
      })
    ).done(function(){
      alert(1)
    })

  });
