%h1 Listing vtarnay_module8s

%table
  %tr
    %th
    %th
    %th

  - @vtarnay_module8s.each do |vtarnay_module8|
    %tr
      %td= link_to 'Show', vtarnay_module8
      %td= link_to 'Edit', edit_vtarnay_module8_path(vtarnay_module8)
      %td= link_to 'Destroy', vtarnay_module8, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Module8', new_vtarnay_module8_path
