:scss
  .row-eq-height{
    .header{
      border-bottom: 3px solid #ffd304;
      margin-bottom: 25px;
      padding-bottom: 5px;
      display: inline-block;
    }
  }


.row-eq-height
  %h3.header Громадський бюджет
  %p
    Закреплённый подвал — это удобно, если он не мешает пользоваться интерфейсом и предсказуемо
    реагирует на количество контента на странице.
    Интенсив разделён на пять частей: «разметка», «графика», «сетки», «оформление» и «оптимизация».
    Вас ожидает 800 интерактивных заданий, 16 часов живых вебинаров, 17 интерактивных демонстраций,
    11 скринкастов, 5 качественных макетов дизайна и общение с личным наставником, который будет
    делиться секретами мастерства. Закреплённый подвал — это удобно, если он не мешает пользоваться
    интерфейсом и предсказуемо реагирует на количество контента на странице.

  %p
    Интенсив разделён на пять частей: «разметка», «графика», «сетки», «оформление» и «оптимизация».
    Вас ожидает 800 интерактивных заданий, 16 часов живых вебинаров, 17 интерактивных демонстраций,
    11 скринкастов, 5 качественных макетов дизайна и общение с личным наставником, который будет
    делиться секретами мастерства.

  .budgets_container
    .budget_for_year
      .year 2016
      .description
        %span Громадський бюджет
        %span міста Одеси
        %span на 2016 рік
      .download

  -#- @documents.each do |document|
    - if document.doc_file?
      .col-xs-12.col-sm-6.col-md-4.document
        = link_to document.doc_file.url, {class: 'thumbnail', style: (document.branch && !document.branch.color.blank?) ? 'background-color: rgba(' + hexToRgb(document.branch.color) + ', 0.1);' : 'background-color: white;'} do
          %i.fa{ class: "#{get_file_type_icon(document.doc_file_identifier)}" }
          = document.title.truncate(30)
          %br
          = document.category.title unless document.category.nil?
