.owl-example.owl-carousel
  - Documentation::Branch.all.each do |br|
    - count = @town.documentation_documents.where(:branch => br).count()
    - if count > 0
      .owl-carousel-item
        .town.thumbnail
          .row
            .col-md-4
              %i.fa.fa-folder-o.fa-4x
            .col-md-8
              = br.title
            %span.stat
              %i.fa.fa-file-text-o
              %span
                =count