-#Begin. CSS for Default folder view
:css

  /*.folder {*/
    /*float: left;*/
    /*vertical-align: middle;*/
    /*margin: 25px 25px 0 0;*/
  /*}*/

  /*.folder .back .number {*/
    /*margin: -12px 0 0 2px;*/
  /*}*/



-#End. CSS for Default folder view


-# Begin. Carousel variant

-#.owl-example.owl-carousel
-#  - Documentation::Branch.all.each do |br|
-#    - count = @town.documentation_documents.where(:branch => br).count()
-#    - if count > 0
-#      .owl-carousel-item
-#        .town.thumbnail
-#          .folder
-#            .front
-#              %p.text
-#                = br.title
-#            .back
-#              %span.number
-#                = count

-# End. Carousel variant

-# Begin. Default variant

.docs-inline
  - Documentation::Branch.all.each do |br|
    - count = @documents.select{|t| t.branch == br}.length
    - if count > 0
      .fol
        %p.icon-folder-num
          =count
        %a.bcol{ :href => "/public/documents?town_select=#{@town.id}&branch_select=#{br.id}" }
          .folder
            .folder-text
              %p
                = truncate(br.title, length:48, separator: ' ')
            .folder-inside

            -#.back
            -#  %span.number
            -#    = count

-# End. Default variant

        -#.town.thumbnail
        -#  .row
        -#    .col-md-4
        -#      %i.fa.fa-folder-o.fa-4x
        -#    .col-md-8
        -#      = br.title
        -#    %span.stat
        -#      %i.fa.fa-file-text-o
        -#      %span
        -#        =count