.col-sm-12.col-md-6
  .view.view-tenth
    %img.img-responsive{:src => "http://i.imgur.com/kfLIwei.jpg"}
      .mask
        %h2 Portfolio item
        %p Lorem ipsum dolor asit amet
        %a.info{:href => ""} Read more
