:css
  .view a.info {
    background: rgb(1, 153, 218);
  }

  .view a.info:hover {
    background: #000000;
  }

  .blue-line {
    border-top: 1px solid rgb(1, 153, 218);
  }

  .portfolio-title {
    color: rgb(1, 153, 218);
    font-weight: 700;
    opacity: .9;
  }
-town_items.each do |key, value|
  .col-sm-3
    .view.view-tenth
      %img.img-responsive{:src => value['img_src']}
        .mask
          %a.info{ :href => value['url'] }
            = t('public.towns.portfolio.detail')
      %hr.blue-line
        .portfolio-title
          =value['title']