:scss

- model_class = Taxonomy

= content_for :header do
  .head
    = @town.title
-unless @taxonomy_rot_list.empty?
  .panel.panel-default
    .panel-heading.col-sm-6.col-sm-offset-3
      =select_tag('taxonomy_rot',options_for_select(@taxonomy_rot_list.map { |rot|[rot.title,rot.id,'data'=> widgets_bubbletree_path(rot.id)] }) ,
          class: 'form-control taxonomy_select',id: 'taxonomy_rot')
    .panel-body
      %iframe{ 'width' => '100%', 'height' => '850', src: widgets_bubbletree_path(@taxonomy_rot_list.first)}
-unless @taxonomy_rov_list.empty?
  .panel.panel-default
    .panel-heading.col-sm-6.col-sm-offset-3
      =select_tag('taxonomy_rov',options_for_select(@taxonomy_rov_list.map { |rov|[rov.title,rov.id,'data'=> widgets_bubbletree_path(rov.id) ] }) ,
          class: 'form-control taxonomy_select',id: 'taxonomy_rov')
    .panel-body
      %iframe{ 'width' => '100%', 'height' => '850', src: widgets_bubbletree_path(@taxonomy_rov_list.first)}
-#.budget.row-fluid
-#  .tab-content
-#    %iframe{ 'width' => '100%', 'height' => '850',src: widgets_budget_files_url(@town),id: 'budget_iframe' }

= link_to t('form.back', :default => t("helpers.links.back")), public_path, :class => 'btn btn-default'
.col-sm-12
  #embed_code_budget.embed_code
    = render partial: 'widgets/visify/embed_code'
:javascript

  $(document).on('ready page:load', function() {
    $('.taxonomy_select').change(function(){
      changeIframe(this);
    });

    $('#embed_code_budget').on('click',function(){
      var embed_code = aEmbedCode();
      var taxonomy_rot_link = $('#taxonomy_rot').val();
      var taxonomy_rov_link = $('#taxonomy_rov').val();

      var iframe_url = location.origin + '/widgets/town_profile/budget_files_by_taxonomies/' + taxonomy_rot_link + '/' + taxonomy_rov_link
      //console.log(iframe_url);
      embed_code.initialize({width: 1200, height: 900, el_id: "#embeded_code_modal_window", src: iframe_url})
      $('#embeded_code_modal_window').find('#embed_src').val(iframe_url);
      $('#embeded_code_modal_window').modal();

    });
  });

  var changeIframe = function(dom_elem){
    var iframe_url = $('option:selected', dom_elem).attr('data');
    var parent_panel = $(dom_elem).parents('.panel');

    parent_panel.find('iframe').attr('src',iframe_url);
  };