- model_class = Taxonomy

= content_for :header do
  .head
    = @town.title

.budget.row-fluid
  .tab-content
    %iframe{ 'width' => '100%', 'height' => '850',src: widgets_budget_files_url(@town),id: 'budget_iframe' }

= link_to t('form.back', :default => t("helpers.links.back")), public_path, :class => 'btn btn-default'
.col-sm-12
  #embed_code_budget.embed_code
    = render partial: 'widgets/visify/embed_code'
:javascript

  $(document).on('ready page:load', function() {
    var embed_code = aEmbedCode();
    var iframe_url = $('#budget_iframe').attr('src');

    $('#embed_code_budget').on('click',function(){
      embed_code.initialize({width: 1200, height: 900, el_id: "#embeded_code_modal_window", src: iframe_url})
      $('#embeded_code_modal_window').find('#embed_src').val(iframe_url);
       $('#embeded_code_modal_window').modal();
    });
  });