:css
  .budget {
    cursor: pointer;
  }
  .budget.active {
    cursor: default;
    font-weight: bold;
  }



-#-binding.pry
=content_for :header do
  .head.pull-left
    =@town.title






.col-xs-2
  %img.thumbnail{src: @town.img.thumb.url}
.col-xs-6
  %h4
    Корисні посилання
    -if(!@town.links.nil?)
      =@town.links.html_safe

.clear
.col-xs-10
  = render partial: 'docs'

