:css
  .budget {
    cursor: pointer;
  }
  .budget.active {
    cursor: default;
    font-weight: bold;
  }

=content_for :header do
  .head.pull-left
    =@town.title

.col-xs-2
  %img.thumbnail{src: @town.img.thumb.url}
.col-xs-10
  %h3
    Корисні посилання
    - unless (@town.links.nil?)
      %p
        =@town.links.html_safe

  = render partial: 'docs'

  = render partial: 'revenues_expences'


:javascript

  $(document).ready(function() {

    $('.budget[data-id]').on('click', function (e) {
      $('.budget[data-id]').removeClass('active')
      $(this).addClass('active')

      var vis = $(this).attr('data-vis')
      var id = $(this).attr('data-id')
      set_iframe(vis, id);

    });

    $(".owl-example").owlCarousel({
      //Count on page
      items : 5
      //autoWidth:true
    });

  })