// Place all the styles related to the vtarnay/module5s controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.indicator {
  font-size: 0.8em;
  font-weight: normal;
  text-align: center;
}