// Place all the styles related to the vtarnay/module5s controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;

  .title {
    height: 50px;
  }

  .comments {
    height: 100px;
  }

  path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line {
    stroke: lightgrey;
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .x.axis path {
    display: none;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
  }

  .active_point {
    stroke: lightgrey;
    stroke-width: 8;
    stroke-opacity: 0.6;
  }
}

.indicator {
  font-size: 0.8em;
  font-weight: normal;
  text-align: center;
  height: 350px;
}