// Place all the styles related to the vtarnay/module5s controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;

  .title {
    height: 50px;
    font-weight: bold;
  }

  .comments {
    height: 100px;
    color: #7E8283;
  }

  path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line {
    stroke: lightgrey;
  }

  .x.axis text {
    font-size: 0.9em;
    fill: #7E8283;
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .x.axis path {
    display: none;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
  }

  .active_point {
    stroke: lightgray;
    stroke-width: 8;
    stroke-opacity: 0.6;
  }

}

.indicator {
  font-size: 0.7em;
  font-weight: normal;
  text-align: center;
  height: 350px;
}

body {
  div.tooltip {
    background: transparent;
  }

  .tooltip-inner {
    background-color: darkgray;
    color: #ffffff;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: darkgray;
  }
}

#year_list, #percent_list {
  .active {
    pointer-events: none;
    color: #0b387c;
  }
}