// Place all the styles related to the documentation/documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preambule {

  border: 1px solid #0099da;
  border-radius: 10px;
  padding: 10px 15px 0 15px;
  margin: 20px -15px 20px -15px;
  text-align: justify;

  p {
    text-indent: 20px;
  }

}

.documents_search {
  background: #e7e7e7;
  border: 1px solid lightgrey;
  padding-bottom: 10px;
}

input[type="submit"] {
  border-radius: 4px !important;
}