- relation = case
  - when page.next? then 'next'
  - when page.prev? then 'prev'
  - else nil

- if page.current?
  %li.active
    = content_tag :a, page, remote: true, rel: relation
- else
  %li
    = link_to page, url, remote: true, rel: relation
