:scss
  .blocks {
    background: url('/../assets/login/login_bg.jpg');
    .container {
      .login-wrapper {
        position: absolute;
        //half from 270h(form) + 73h(nav)
        top: calc(50vh - 173px);
        left: calc(50vw - 250px);
        width: 500px;
        height: 270px;
        margin: 0 auto;
        padding: 15px;
        &:before {
            content: '';
            position: fixed;
            //half from 270h(form) + 73h(nav)
            top: calc(50vh - 173px);
            left: calc(50vw - 250px);
            width: 500px;
            height: 270px;
            background: rgba(12, 34, 49, 0.2);
            filter: blur(1px);
            backdrop-filter: grayscale(1) contrast(3) blur(1px);
            -webkit-backdrop-filter: grayscale(1) contrast(3) blur(1px);
        }
        #new_user button i,
        #edit_user button i {
          margin: -2px 0 0 -5px;
        }
      }

    }
  }

-#Login form
.login-wrapper
  -#= content_for :header do
  -#  .head.pull-left
  -#    = t('devise.sessions.sign_in')
  .row
    .col-xs-7
      =render partial: 'form'
    .col-xs-5
      = render 'devise/shared/links'