.owl-item{
    /*overflow: hidden;*/
    /*opacity: .5;*/
}

.owl-item:hover {
    opacity: 1;
}

.owl-item .town {
    width: auto;
    height: auto;
    margin: 10px;
    /*background-color: rgba(128, 128, 128, 0.05);*/
    transition: all .25s ease;
    text-align: center;
}
