= text_field_tag 'town_select', @town_select[:id]

:javascript

  $(document).ready(function() {

    $('#town_select').select2({
      initSelection: function(element, callback) {
        callback( [ { id: '#{@town_select[:id]}', text: '#{@town_select[:title]}' } ]);
      },
      placeholder: I18n.t('documentation.documents.search.town_region'),
      allowClear: true,
      multiSelect: true,
      multiple: true,
      width: '100%',
      ajax: {
        url: '#{search_for_documents_town_path}',
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return {
            query: term, // search term
          };
        },
        results: function (data, page) {
          return { results: data };
        },
        cache: true
      },
    })
  });
