:scss
  .error_panel{
    margin-top: 25%;
    border-color: #8b0000;
    .text_in_center{
    text-align: center;

  }

  }


.row
  .col-xs-4.col-xs-offset-4
    .panel.panel-default.error_panel
      .panel-body.text_in_center
        = @error

