- model_class = BudgetFile
=content_for :header do
  .head.pull-left
    %i.fa.fa-money
    =t('.title')

= render partial: 'budget_files', :locals => { budget_files: @budget_files }

=link_to t('.upload_budget_file'), new_budget_file_free_path, :class => 'btn btn-primary'
.btn-group
  %button.btn.btn-primary.dropdown-toggle{'data-toggle'=>'dropdown', 'type' => 'button', 'aria-expanded' => 'false'}
    =t('.upload_revenues')
    %span.caret
  %ul.dropdown-menu{'role'=>'menu'}
    %li
      =link_to t('.upload_rot'), new_budget_file_rot_path, :class => ''
    %li
      =link_to t('.upload_rot_fond'), new_budget_file_rot_fond_path, :class => ''


.btn-group
  %button.btn.btn-primary.dropdown-toggle{'data-toggle'=>'dropdown', 'type' => 'button', 'aria-expanded' => 'false'}
    =t('.upload_expences')
    %span.caret
  %ul.dropdown-menu{'role'=>'menu'}
    %li
      =link_to t('.upload_rov'), new_budget_file_rov_path, :class => ''
    %li
      =link_to t('.upload_rov_fond'), new_budget_file_rov_fond_path, :class => ''
    %li
      =link_to t('.upload_rov_fact'), new_budget_file_rov_fact_path, :class => ''

=link_to static_budget_file_help_path, :class => 'btn btn-default' do
  %i.fa.fa-info-circle
    =t('static.budget_file_help.help')
