:css
  .map_container {
    height: 700px;
  }


= content_for :top do
  .map_container
    = render partial: 'map'



:javascript

  $(document).ready(function() {

    var aRepairMap = RepairMap({ scrollWheelZoom: false, zoom: 6, minZoom: 6, maxZoom: 8,
      center: [47.97516, 31.48682],
      bounds: [ [47.54677, 21.44531], [52.32182, 41.52832]]
    })


    // add Areas
    aRepairMap.addGeoJsonAreas('#{public_ukraine_geo_json_path}&type=areas', {
      style: {
        "color": "white",
        "fillColor": "yellow",
        "weight": 5,
        "opacity": 0.02,
        "fillOpacity": 0.01
      },
      hoverStyle: {
        "fillOpacity": 0.02
      },
      getPopupContent: getPopupContent,
      getInfoContent: getInfoContent,
    })


    // add markers
    $.ajax({
      method: 'get',
      url: '#{public_ukraine_geo_json_path}',
      dataType: 'json',
    })
    .done(function (data) {
      aRepairMap.addGeoJsonPoints(data, getPoint, {
        clustered: true,
        style: {
          opacity: 0.8,
        },
        hoverStyle: {
          opacity: 1,
        },
        getPopupContent: getPopupContent,
        getInfoContent: getInfoContent,
      })
    })
    .fail(function () {
    });


    var CityIcon = L.Icon.extend({ options: { iconSize: [32, 32] }});
    var TownIcon = L.Icon.extend({ options: { iconSize: [32, 32] }});

    var icons = {}
    icons.city = new CityIcon({iconUrl: '/assets/map/iconCity.png'})
    icons.town = new TownIcon({iconUrl: '/assets/map/iconTown.png'})

    function getPoint(properties) {
      var icon
      switch (properties.level) {
        case 'city':
          icon = icons.city
          break
        case 'town':
          icon = icons.town
          break
        default:
          icon = new L.Icon.Default()
          break
      }

      return icon
    }


    // content callbacks
    function getPopupContent(properties) {
      var content =
        '<div class="popup">' +
          '<h3>' + properties.title + '</h3>' +
          '<p>Документів: ' + properties.documents_count + '</p>' +
        '</div>'

      return content
    }

    function getInfoContent(properties) {
      var content =
        '<h3>' + properties.title + '</h3>' +
        '<p>Документів: ' + properties.documents_count + '</p>'
      return content
    }
  });
