:css
  .cl-block-item{
    width: 100%;
    border-top: 1px solid #e2242d;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 180px;
    overflow: hidden;
    position: relative;
  }
  .cl-block-item:after{
    /*background: #fff ;*/
    content: ' ';
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 0px -14px 27px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:    inset 0px -14px 27px 0px rgba(255, 255, 255, 1);
    box-shadow:         inset 0px -14px 27px 0px rgba(255, 255, 255, 1);
  }
  .cl-block-date{
    width: 46px;
    height: 48px;
    /*background: url(/assets/cl-date-item.png) top left no-repeat;*/
    /*background: url('/assets/news.jpg');*/
    overflow: hidden;
    float: left;
    margin-right: 10px;
  }
  .cl-block-date img{
    height: 100%;
  }
  /*.cl-block-date-month{*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*font-size: 9px;*/
    /*padding-top:3px ;*/
  /*}*/
  /*.cl-block-date-day{*/
    /*text-align: center;*/
    /*font-size: 21px;*/
  /*}*/

  h3.cl-block-title{
    margin: 0 0 10px 0;
    padding: 0 ;
    line-height: 0.8;
  }
  h3.cl-block-title a{
    color: #e35c25;
    font-size: 16px;
    font-weight: bold ;
  }
  .cl-block-img{
    width: 100px;
    height: 75px;
    float: right;
    overflow: hidden;
    margin-left: 10px;
  }
  .cl-block-text{
    font-size: 12px;
    text-align: justify;
    line-height: 1.4;
  }
:scss
  .news_wrapper {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
  }

%h1
  =t(".title")
-unless @news.blank?
  .col-md-12.news_wrapper
    - @news.each do |newsItem|
      .col-md-6
        .cl-block-item
          .cl-block-date
            =image_tag('news.jpg', class: 'img-responsive')
            -#.cl-block-date-month
            -#  = l(newsItem.news_date, :format => '%B')
            -#.cl-block-date-day
            -#  = newsItem.news_date.strftime('%d')
          %h3.cl-block-title
            %a{ "href" => newsItem.get_link }
              = newsItem.title
          .clearfix
          -#.cl-block-img
          -#  = image_tag newsItem.img.thumb
          .cl-block-text
            = newsItem.news_text
-else
  .no-news
    = t(".no_news")