:css
  .cl-block-item{
    width: 100%;
    border-top: 1px solid #e2242d;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .cl-block-date{
    width: 46px;
    height: 48px;
    background: url(/assets/cl-date-item.png) top left no-repeat;
    overflow: hidden;
    float: left;
    margin-right: 10px;
  }
  .cl-block-date-month{
    text-align: center;
    color: #fff;
    font-size: 9px;
    padding-top:3px ;
  }
  .cl-block-date-day{
    text-align: center;
    font-size: 21px;
  }
  h3.cl-block-title{
    color: #e35c25;
    font-size: 14px;
    font-weight: bold ;
  }

.col-md-6
  .cl-block-item
    .cl-block-date
      .cl-block-date-month
        вересень
      .cl-block-date-day
        25
    %h3.cl-block-title
      Новина новина новина новина новина новина новина
    .clearfix
    .cl-block-text
      Текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини

.col-md-6
  .cl-block-item
    .cl-block-date
      .cl-block-date-month
        вересень
      .cl-block-date-day
        25
    %h3.cl-block-title
      Новина новина новина новина новина новина новина
    .clearfix
    .cl-block-text
      Текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини

.col-md-6
  .cl-block-item.clearfix
    .cl-block-date
      .cl-block-date-month
        вересень
      .cl-block-date-day
        25
    %h3.cl-block-title
      Новина новина новина новина новина новина новина
    .clearfix
    .cl-block-text
      Текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини

.col-md-6
  .cl-block-item.clearfix
    .cl-block-date
      .cl-block-date-month
        вересень
      .cl-block-date-day
        25
    %h3.cl-block-title
      Новина новина новина новина новина новина новина
    .clearfix
    .cl-block-text
      Текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини текст новини
