:css
  .town {
    width: 250px;
    margin: 10px;
    height: 250px;
    background-color: rgba(128, 128, 128, 0.05);
    transition: all .25s ease;
    text-align: center;
  }
  .town:hover {
    background-color: rgba(128, 128, 128, 0.1);
  }

  .town h3 {
    text-decoration: none;
  }
  .town img {
  }

%a.town.thumbnail{ href: "#{href}"}
  %h3
    =title
  %img{ src: "#{img[:src]}", alt: "#{img[:alt]}" }
