.col-xs-12
  %h2.right-line
    = title
  .owl-example.owl-carousel
    - towns.each do |town|
      = render partial: 'town', :locals => { href: public_path(town.id), img: { src: town.img.thumb.url, alt: town }, title: town, description: 'Детальніше' }

:javascript
  $(document).ready(function() {

    var owl = $(".owl-example");

    owl.owlCarousel({

      //Count on page
      items : 8,
      navigation: true,
      navigationText: [
      "<span class='fa fa-chevron-left fa-3x'></span>",
      "<span class='fa fa fa-chevron-right fa-3x'></span>"
      ]
      });
  })