.owl-carousel-item
  %a.town.thumbnail{ href: "#{href}"}
    .title-town
      %h3
        =title
      %i.icon-angle-right.icon-large
    .img-town
      %img.img-responsive{ src: "#{img[:src]}", alt: "#{img[:alt]}" }