= render partial: 'slider'


.row
  = render partial: 'map_ukraine'

- [{towns: @areas, title: 'Області'}, {towns: @towns, title: 'Міста'}].each do |item|
  = render partial: 'towns', :locals => { towns: item[:towns], title: item[:title] }

-#= render partial: 'tabs'

%h1
  Calendar
-#%iframe{ src:'http://tympanus.net/Development/Calendario/index.html', width: '100%', height: '600px' }

%h1
  News
-#%iframe{ src:'http://tympanus.net/Blueprints/VerticalTimeline/', width: '100%', height: '1000px' }
