:scss
  #edit_link{
    img{
       width:30px;
    }
  }
  .static_content{
    img{
      max-width: 100%;
    }
    p{
      text-indent: 0 !important;
    }
  }

-#.container
%h1= get_header_by_locale(@page)
%hr
-if check_admin && @page
  .pull-right#edit_link
    = link_to image_tag('icons/pencil.png'), edit_content_manager_page_container_path(@page.id)
-if @page
  .static_content
    = get_content_by_locale(@page)
- unless download_instruction(@page.alias).nil?
  = link_to t('file_example'), download_instruction(@page.alias)

