:scss
  #edit_link{
    img{
       width:30px;
    }
  }

-#= content_for :header do
-#  .head.pull-left
%h1= get_header_by_locale(@page)
%hr
.container
  -if check_admin && @page
    .pull-right#edit_link
      = link_to image_tag('icons/pencil.png'), edit_content_manager_page_container_path(@page.id)


  -if @page
    = get_content_by_locale(@page)
