:scss
  #edit_link{
    img{
       width:30px;
    }
  }
  .small_margin{
    margin: 5px;
  }
  .static_content{
    img{
      max-width: 100%;
    }
    p{
      text-indent: 0 !important;
    }
  }

-#= content_for :header do
-#  .head.pull-left
%h1= get_header_by_locale(@page)
%hr
.small_margin
  -if check_admin && @page
    .pull-right#edit_link
      = link_to image_tag('icons/pencil.png'), edit_content_manager_page_container_path(@page.id)
  -if @page
    .static_content
      = get_content_by_locale(@page)
