:scss
  .book_filters{
    margin-top: 30px;
    margin-bottom: 40px;
    .button_to, div{
      display: inline-block;
    }
    form{
      margin: 5px 6px 5px 0px;
      background: #2f383e;
    }
    div input{
      font-size: 16px;
      padding: 5px 12px 2px 12px;
      background: #2f383e;
      border: 0;
      color: #ebebec;
    }
    div input:hover{
      background: transparent;
    }
    div form:hover {
      background: transparent;
    }
    div input:active, div input:focus {
      outline: 6px solid #d1d1d1;
      color: #ffd304;
    }
  }

.book_filters
  - book_filters.each do |book_filter|
    = button_to "#{book_filter[:title]}", book_filter[:url], remote: true, :method => :get