:scss
  .book_filters{
    .button_to, div{
      display: inline-block;
    }
    form{
        margin: 5px 2px;
    }
    div input{
      font-size: 14px;
      padding: 4px 10px;
    }
    input:hover{
      background: transparent;
    }
  }

.book_filters
  - book_filters(params[:locale]).each do |book_filter|
    = button_to "#{book_filter[:title]}", book_filter[:url], remote: true, :method => :get