:scss

  $greyblue: #2f383e;
  $white: #ebebec;
  $yellow: #ffd304;
  $greylight: #d1d1d1;

  .book_filters{
    margin-top: 30px;
    margin-bottom: 40px;
    .button_to, div{
      display: inline-block;
    }
    form{
      margin: 5px 6px 5px 0px;
      background: $greyblue;
    }
    div input{
      font-size: 16px;
      padding: 5px 12px 2px 12px;
      background: $greyblue;
      border: 0;
      color: $white;
      &:hover,
      &:focus {
        color: $yellow;
      }
      &:active,
      &:focus {
        outline: 6px solid $greylight;
      }
    }
  }

.book_filters
  - book_filters(params[:locale]).each do |book_filter|
    = button_to "#{book_filter[:title]}", book_filter[:url], remote: true, method: :get