.page-header
  %h3=t('vtarnay.module5s.form.loaded')

- if @vtarnay_module5s.length != 0
  %table.col-xs-12
    %tbody
      - @vtarnay_module5s.each do |file|
        %tr
          -if file.title
            %td.col-xs-6
              =file.title
          -else
            %td.col-xs-6
              =file._id
          %td.col-xs-6
            =link_to t('form.destroy', :default => t("helpers.links.destroy")), file, :method => :delete, :data => { :confirm => t('form.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
- else
  =t('vtarnay.module5s.form.loaded_no')
