- model_class = Vtarnay::Module5
= content_for :header do
  .head
    %i.fa.fa-money
    #{t('vtarnay.module5s.show.title')}:
    %span.descr
      =@town

.col-xs-12.col-md-6
  = render :partial => 'form'
.col-xs-12.col-md-6
  = render :partial => 'edit_form'