.page-header
  %h3=t('vtarnay.module5s.show.title')

-#- @groups.each do |group_name|
-#  %p=group_name + ' ' + t('vtarnay.module5s.show.indicators')
-#  - (1..@indicators_num[group_name]).each do |i|
-#    = render :partial => 'indicator_blocks'

= link_to 'Edit', edit_vtarnay_module5_path(@vtarnay_module5)
\|
= link_to 'Back', vtarnay_module5s_path

:javascript

  $(document).ready(function(){
    console.log('#{@rows}');
  })