%table.table.table-striped
  %thead
    %tr

      %th
        =t('form.title')
      %th
        =t('form.value')
  %tbody
    - links.each do |link|
      = render :partial => 'documentation/links/link', :locals => { :link => link }
