
%table.table
  %thead
    %tr
      %th.col-xs-2
      %th.col-xs-2
        = town.title
      - town.key_indicate_town.each do |town|
        %th.col-xs-2
          = town.title
  %tbody
    - indicators.sort_by{|k,v| v['name']}.each do |key, indicator|
      %tr
        %td
          = indicator['name']
        - indicator['towns'].each do |town, value|
          %td
            - count = (value['amount']*10/indicator['max_amount']).ceil
            - (1..count).each do |i|
              %i{:class => 'fa ' + indicator['icon'], :style => 'color: ' + indicator['color'] + ';'}
            - if count < 10
              - (1..(10-count)).each do |i|
                %i{:class => 'fa ' + indicator['icon'], :style => 'color: lightgray;'}
            = value['amount']