.preambule
  %p
    Тут ви можете зручно знайти та завантажити основні визначальні для розвитку міст та регіонів
    документи за 2012-2014 роки, а саме звіти про виконання бюджетів, пояснювальні записки, програми
    соціального та економічного розвитку, довгострокові стратегії розвитку та звіти про їх виконання.
    Документи отримано через офіційні запити, а також з офіційних вебсайтів міських та обласних рад і ОДА.
    У випадку, якщо ви не знайшли те, що шукали, або маєте побажання щодо вдосконалення чи доповнення бази –
    просимо написати на адресу
    = mail_to 'sk@cpsa.org.ua', 'sk@cpsa.org.ua', cc: 'begemot.lery@mail.ru', subject: 'OpenBudget - Документи'
    з поміткою "OpenBudget - Документи".