= content_for :header do
  .header.pull-left
    %h1
      Документи
      %small
        Subtext for header

  .col-xs-9.pull-right
    = render partial: 'search'

.documentation
  %table.table.table-striped
    %thead
      %tr
        %th File
        %th Category
        %th Title
        %th Years
        %th Town
        %th Type
        %th
    %tbody#results
      = render partial: 'search_results', :locals => { documents: @documentation_documents }
