:css
  .documents_search {
    margin-top: 20px;
  }

= content_for :header do
  .header.pull-left
    %h1
      =t('.documents')
      %small
        =t('.documents_search')

.col-xs-12.documents_search
  = render partial: 'search'

.documentation.col-xs-12
  %table.table.table-striped
    %thead
      %tr
        %th File
        %th Category
        %th Title
        %th Years
        %th Town
        %th Type
        %th Locked
    %tbody#results
      = render partial: 'search_results', :locals => { documents: @documentation_documents }
