:css
  .dropdown > a:after {
    content: ""
  }

  .editable-wysihtml5 {
    width: 100%;
  }

  .editable-buttons {
    margin-left: 0;
    display: block;
  }


%a{ href: '#', id: 'description', 'data-type' => 'wysihtml5', 'data-escape' => false, 'data-pk' => "#{category.id}", 'data-resource' => 'repairing_category', 'data-url' => "#{category_path}", 'data-emptytext' => 'Докладніше про категорію...' }

:javascript
  $(document).ready(function() {

      $('#description').html('#{category.description.html_safe() if category.description}');

      I18n.locale = window.aHelper.lang();
      var editor_locale;
      if(I18n.locale == "uk") {
        editor_locale = "ua-UA";
      } else {
        editor_locale = "";
      }

      $('#description').editable({
        escape: false,
        wysihtml5: {
          "font-styles": true, // Font styling, e.g. h1, h2, etc.
          "emphasis": true, // Italics, bold, etc.
          "lists": true, // (Un)ordered lists, e.g. Bullets, Numbers.
          "html": false, // Button which allows you to edit the generated HTML.
          "link": true, // Button to insert a link.
          "image": true, // Button to insert an image.
          "color": false, // Button to change color of font
          "inline": true,
          "size": 'xm', // options are xs, sm, lg
          "locale": editor_locale
        },
      });
  });
