%table.table
  %thead
    %th
      Назва
    %th
      Зображення
  %tbody
    %tr
      %td
        %a.editable{:href => '#', :id => 'title', 'data-resource' => 'repairing_category', 'data-type' => 'text', 'data-pk' => @repairing_category.id, 'data-url' => repairing_category_path(@repairing_category), 'data-emptytext' => 'Вкажіть назву категорії...'}
          = @repairing_category.title
      %td
        = bootstrap_form_for @repairing_category, html: {class: 'form-inline'}, remote: true do |f|
          .upload_img{:style => 'float:left;margin-right:10px;'}
            -if @repairing_category.img?
              =image_tag @repairing_category.img.thumb.url
            -else
              =image_tag "no_image.png"
          = f.file_field :img, :label => "Завантажити/змінити", :multiple => false
          = f.button :class => 'btn btn-primary' do
            %i.fa.fa-upload

:javascript

  $(document).ready(function() {
    $(".editable").editable();
  })
