= bootstrap_form_for new_category, :remote => true, :authenticity_token => true, method: 'POST', :html => { :class => 'form-horizontal', :multipart => true} do |f|

  = f.text_field :title, :label => t('repairing.repairs.form.title')

  .actions
    = f.submit t('form.add'), :class => 'btn btn-primary'

