%p#notice= notice

-#.col-xs-3
-#  =image_tag @repairing_category.img.icon
.col-xs-9
  %b Title:
  = @repairing_category.title
.clear
= link_to 'Edit', edit_repairing_category_path(@repairing_category)
\|
= link_to 'Back', repairing_categories_path
