.clarity-analysis{
  .btn-prozorro-style {
    margin-top: 5px;
    margin-left: 10px;
    background-color: #000;
    border-radius: 0;
    padding: 4px;
    color: #fff;
    text-transform: none;
    font-weight: 600;
    .prozorro-btn-text {
      margin-left: 5px;
    }
  }
  .btn-prozorro-style:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  }
  .btn-prozorro-style:active {
    box-shadow: none;
  }
}
