:css
  .view a.info {
    background: rgb(1, 153, 218);
  }
  .view a.info:hover {
    background: #000000;
  }

  .blue-line {
    border-top: 1px solid rgb(1, 153, 218);
  }

  .portfolio-title {
    color: rgb(1, 153, 218);
    font-weight: 700;
    opacity: .9;
  }

  /*////////////////////////*/
  .view {
    z-index: 9;
    cursor: default;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 10px grey;
    /* height: 400px; */
    max-width: 600px;
  }
  .view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .view-tenth:hover > img {
    /*-webkit-transform: scale(2) rotate(10deg);*/
    /*transform: scale(2) rotate(10deg);*/
    -webkit-transform: scale(2);
    transform: scale(2);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  }

  /*//////////////////////////*/
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);

  h1, h2, h3, h4, h5 {
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal !important;
    font-family: 'Open Sans', sans-serif;
  }
  .view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center;
  }

  .view-tenth p {
    color: #333;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .view {
    z-index: 9;
    cursor: default;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 10px grey;
    /*height: 400px;*/
    max-width: 600px;
  }

  .view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  .view img {
    display: block;
    position: relative;
  }

  .view .no_data {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2.0em;
  }

  .view-tenth img {
    left: 10px;
    margin-left: -10px;
    position: relative;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .view-tenth img {
    height: 145px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
  .view-tenth:hover > img {
    /*-webkit-transform: scale(2) rotate(10deg);*/
    /*transform: scale(2) rotate(10deg);*/
    -webkit-transform: scale(2);
    transform: scale(2);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  }

  .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
    text-shadow: none;
  }

  .view-tenth h2 {
    color: #333;
    margin: 10px 40px 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }

  .view a.info {
    color: #fff;
    background: #000;
    padding: 5px 12px;
    text-decoration: none;
    position: relative;
    top: 35%;
    display: inline-block;
    overflow: hidden;
    text-transform: uppercase;
  }

  .view a.info:hover {
    background: #72c02c;
  }

  .view-tenth a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 0.5s linear;
  }

  .view-tenth:hover h2,
  .view-tenth:hover p,
  .view-tenth:hover a.info {
    -webkit-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  /*///////////////////////////////////*/
%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin: "anonymous"}
.col-xs-10.col-xs-offset-1.fix
  .row
    -town_items.each do |key, value|
      .col-md-3
        .view.view-tenth
          %img.img-responsive{:src => value['img_src']}
            .mask
              %a.info{ :href => value['url'] }
                = t('public.towns.portfolio.detail')
          %hr.blue-line
            .portfolio-title
              =value['title']