:scss
  .modules {
    //border: 1px solid red;
    .module {
      padding: 0 3rem 0 0;
      margin-bottom: 3rem;
      a {
        div:first-child{
          background-position: center;
          background-size: cover;
        }
        .budget {
          background: url('/../assets/new_design/money.jpg');
          .icon {
            .icon-border {
              .svg {
                width: 78%;
                margin: 11%;
              }
            }
          }
        }
        .repair {
          background: url('/../assets/new_design/road.jpg');
          .icon {
            .icon-border {
              .svg {
                width: 68%;
                margin: 16%;
              }
            }
          }
        }
        .programs {
          background: url('/../assets/new_design/invest.jpg');
          .icon {
            .icon-border {
              .svg {
                width: 70%;
                margin: 15%;
              }
            }
          }
        }
        .keys {
          background: url('/../assets/new_design/indicators.jpg');
          .icon {
            .icon-border {
              .svg {
                width: 70%;
                margin: 12% 15% 18%
              }
            }
          }
        }
        .key_docs {
          background: url('/../assets/new_design/docs.jpg');
          .icon {
            .icon-border {
              .svg {
                width: 70%;
                margin: 15%;
              }
            }
          }
        }
       .calendar {
          background: url('/../assets/new_design/docs.jpg');
          .icon {
            .icon-border {
              .svg {
                width: 70%;
                padding-top: 4px;
                margin: 18%;
              }
            }
          }
        }
        .budget,
        .repair,
        .programs,
        .keys,
        .key_docs,
        .calendar {
          //border: 1px solid transparent;
          .img {
            width: calc(100% - 3rem);
            min-height: 243px;
            height: 100%;
            position: absolute;
            background: #000;
            opacity: .5;
            z-index: 1;
          }
          .icon {
            position: relative;
            z-index: 2;
            padding: 2rem 0;
            //top: 0;
            .icon-border {
              width: 88px;
              height: 88px;
              border-radius: 50%;
              border: 1px solid white;
              margin: 0 auto;
            }
          }
          .title {
            position: relative;
            z-index: 2;
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: white;
            text-transform: uppercase;
            margin: 0;
            padding: 1rem 0;
          }
          .more {
            width: 100%;
            min-height: 75px;
            padding: 1rem 0;
            .more-btn {
            display: none;
              border: 2px solid white;
              border-radius: 4px;
              width: 112px;
              height: 50px;
              margin: 0 auto;
              p {
                font-family: 'Lato', sans-serif;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                color: white;
                margin: 10px 0px;
              }
            }
          }
        }
        &:hover,
        &:focus {
          text-decoration: none;
          .budget,
          .repair,
          .programs,
          .keys,
          .key_docs,
          .calendar {
            .img {
              background: darkkhaki;
            }
            .more {
              .more-btn {
                text-align: center;
                display: block;
                position: relative;
                z-index: 2;
              }
            }
          }
        }
      }
    }
  }

.modules
  =render partial: 'module_breadcrumbs',locals: {init_text: t('new_design.town_profile.avaliable_modules')}
  .modules-wrapper
    -@town_items.each do |item|
      .col-xs-12.col-sm-6.col-md-4.module
        = link_to item['url'] do
          %div{class: item['name']}
            .img
            .icon
              .icon-border
                =image_tag(item['img_src'], class: 'svg')
            .title
              =item['title']
            .more
              .more-btn
                %p
                  = t('public.towns.portfolio.detail')