/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all.css.erb
 *= require fullcalendar/fullcalendar
 *= require timecircles
 *= require fileupload/jquery.fileupload

 *= require xeditable/bootstrap3-editable/css/bootstrap-editable
 += require xeditable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2

 *= require bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker

 *= require rails_bootstrap_forms
 *= require select2
 *= require d3.slider


 *= require_self

 *= require_tree .


 */
