/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all.css.erb
 *= require fullcalendar/fullcalendar
 *= require timecircles
 *= require fileupload/jquery.fileupload
 *= require xeditable/bootstrap3-editable/css/bootstrap-editable
 += require xeditable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2
 *= require bootstrap-wysihtml5/b3

 *= require bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker
 *= require font-awesome

 *= require bootstrap-datetimepicker

 *= require rails_bootstrap_forms
 *= require select2
 *= require d3.slider
 *= require summernote/summernote
 *= require bootstrap-datepicker/bootstrap-datepicker

 new design style
 *= require new_design/owl.carousel.min

 *= require_self

 *= require_tree .


 */

/*WARN: Testing, because sometime footer don`t stick to the bottom*/
body > .bootstrap_flash {
    margin-top: 73px;
    margin-bottom: -73px;
}
body > .bootstrap_flash > div {
    margin: 0;
    padding: 10px 35px 10px 10px;
}
body > .blocks > .container {
   margin-top: 73px;
   min-height: calc(100vh - 219px);
}