// Place all the styles related to the calendar_actions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar_actions {
  a {
    text-decoration: none;
  }

  .title {
    margin-top: 15px;
    h2 {
      margin: 30px 10px;
      color: #FF9933;
    }
  }
  .calendar_action {
    border-bottom: 2px ridge;
    border-radius: 15px;
    margin: 20px 0px 10px 0px;
  }

  .city_actions {
    border-right: 2px ridge #FF9933;
    height: 100%;
  }

}

.calendar_action {
  .title {
    margin: 0px;
    padding: 30px;
    color: black;
    background-color: #E6E6E6;
    max-height: 200px;
  }

  .description {
    padding: 10px 30px;
    max-height: 300px;
    overflow: auto;
  }

}