// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.external-event {
  margin: 6px 0;
  padding: 0;
  display: block;
  color: #fff;
  background-color: snow;
  font-size: 13px;
  line-height: 28px;
  border: 2px ridge;
  cursor: move;

  height: 100px;
  overflow: hidden;

  .ui-draggable-dragging {
    cursor: move;
  }

  &> [class*="icon-"]:first-child {
    display: inline-block;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    font-size: 15px;
    border-right: 1px solid #FFF
  }

  .title {
    padding: 10px;
    margin: 0px;
  }
  .body {
    padding: 10px;
    background-color: snow;
  }

}


.fc-header-title > h2 {
  font-size: 22px;
  color: #65a0ce
}

.fc-widget-header, .fc-widget-content {
  border: 1px solid #bcd4e5
}

.fc-state-highlight {
  background: #FFC
}

.fc-event-skin {
  border: none !important;
  background-color: #abbac3;
  padding: 0 0 1px 2px
}

.label-yellow .fc-event-skin {
  color: #963
}

.label-light .fc-event-skin {
  color: #888
}

[class*="label-"] > .fc-event-skin, [class*="label-"] > .fc-event-skin > .fc-event-skin.fc-event-head {
  background-color: inherit
}

.fc-event-skin.ui-draggable-dragging {
  cursor: move
}

.fc-event-skin.fc-event-vert, .fc-event-vert > .fc-event-skin {
  padding: 0 0 1px
}

.fc-grid .fc-day-number {
  color: #2e6589
}

.fc-widget-header {
  background: #ecf2f7;
  color: #8090a0
}

.fc-event-hori, .fc-event-vert {
  border-color: transparent
}

.fc-event-vert .fc-event-content {
  padding-left: 1px;
  padding-right: 1px
}

.fc-event-vert .fc-event-time {
  padding: 0
}

.fc-state-default {
  border: 0
}

.fc-state-default, .fc-state-default .fc-button-inner {
  border: 0;
  background-color: #abbac3;
  color: #FFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  margin-left: 2px
}

.fc-state-default .fc-button-effect {
  display: none
}

.fc-state-disabled, .fc-state-disabled .fc-button-inner {
  opacity: .75;
  filter: alpha(opacity=75);
  color: #DDD
}

.fc-state-active, .fc-state-active .fc-button-inner {
  border-color: #4f99c6;
  background-color: #6fb3e0
}

.fc-state-hover, .fc-state-hover .fc-button-inner {
  background-color: #8b9aa3
}

#calendar {
  .fc-event {
    height: 60px;
    overflow: hidden;
  }
}

#calendar_view {
  margin: 0px 0 30px 0;

  .fc-event {
    cursor: pointer;
    height: 22px;
    overflow: hidden;
    font-size: 12px;
    margin: 3px 6px;
    border-radius: 3px;

    .fc-event-inner {
      margin: 2px 10px;
    }
  }
}
