// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dragandrop {
  padding-left: 0px;
}

#progress {
  width: 450px;
  margin-left: 30px;
  margin-bottom: 0;
}

.modal-body.events-modal{
  /*padding: 0px;*/
}

#select2-chosen-2 div, #select2-chosen-3 div, .select2-choice{
  height: 43px;
}
.select2-container.form-control{
  padding: 0;
}
#select2-chosen-1{
  padding-top: 6px;
}

.event-tab .form-group{
  margin: 0;
}
.event-tab label{
  margin-left: 6px;
}
.modal-body.events-modal{
  padding-bottom: 0px;
}
.events-modal{
  .input-group{
    margin-top:0px;
  }
  #event_title{
    width: 99%;
  }
  .form-group{
    margin-bottom: 0px;
  }
}
.modal-content .modal-footer{
  padding: 20px 0 5px;
}
.modal-footer{
  .pull-right{
    margin-right: 5px;
  }
  .btn-default {
    background-image: linear-gradient(#DADADA, #A6A6A6 60%, #DADADA);
    border-bottom: 1px solid #A6A6A6;
  }
}
.btn-primary.event-btn-primary {
  background-image: linear-gradient(#65A0F6, #0B387C 60%, #2D65B8);
}
.btn-primary.event-btn-primary.active {
  background-color: #2A4989;
  background-image: none;
}
.col-md-4{
  .fa-select, .color-select {
    width: 172px;
    margin-left: 0;

  }
  .form-control{
    width: 98%;
  }
  .checkbox{
    margin-top: 20px;
  }
  .form-control-static{
    padding-top: 0px;
  }

}

/*.modal-open{
  .select2-drop-active{
    left: 1041.5px !important;
    width: 168px !important;
  }
}*/