// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dragandrop {
  padding-left: 30px;
}

#progress {
  width: 450px;
  margin-left: 30px;
  margin-bottom: 0;
}

.modal-body.events-modal{
  /*padding: 0px;*/
}

#select2-chosen-2 div, #select2-chosen-3 div, .select2-choice{
  height: 43px !important;
}
.select2-container.form-control{
  padding: 0;
}
#select2-chosen-1{
  padding-top: 6px;
}

.event-tab .form-group{
  margin: 0;
}
.event-tab label{
  margin-left: 6px;
}