/* Шапка
============================================================== */

.header {
  //padding: 15px 20px ;
  //margin-bottom: 5px;
  //background: #fff;
  color: #fff;
  //height: 120px;
  //max-height: 80px;

  .head {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;

    .descr {
      font-size: 18px;
      color: orange;
    }
  }
}