/* Шапка
============================================================== */

.header {
  padding: 10px 20px ;
  margin-bottom: 15px;
  background: #CCCCCC;
  color: #fff;
  height: 60px;
  max-height: 60px;

  .head {
    font-size: 22px;
    margin-top: 5px;
  }

  .descr {
    font-size: 16px;
  }
}