/* Шапка
============================================================== */

.header {
  //padding: 15px 20px ;
  //margin-bottom: 5px;
  //background: #fff;
  //height: 120px;
  //max-height: 80px;

  .head {
    color: orange;
    font-size: 22px;
    margin-top: 17px;
    margin-bottom: 10px;

    .descr {
      font-size: 16px;
      color: orange;
    }
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  }
}