// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#canvas-holder1 {
  z-index: 998;
  position: absolute;
}
#canvas-holder2{
  z-index: 999;
  position: absolute;
}
