// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart-area1 {
  position: absolute;
  //z-index: -1;
  background-color: transparent;
}
#chart-area12{
  position: absolute;
  background-color: transparent;
  //z-index: -1;
}

.countdown {
  z-index: 1000;
  position: absolute;
  text-align: center;
  padding: 0px; margin: 0px;

  .btn-default {
    margin-left: -60px;
  }
}

.infobox {
  .infobox-progress {
    padding-top: 0;
    display: inline-block;
    vertical-align: top;
    width: 44px;

    .chart {
      position: relative;
      text-align: center;

      .sparkline {
        font-size: 24px;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0
      }

    }
  }
}


.current-action {
  h3 {
    border-bottom: darkcyan solid 1px;
    padding-bottom: 10px;
  }

  .content {
    max-height: 100px;
    overflow: hidden;
  }
}