// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.countdown {

  z-index: 1;
  position: absolute;
  text-align: center;

  .title {
    color: darkolivegreen;
  }

  .date {
    width: 85px;
    height: 85px;
    box-sizing: border-box;
  }
  .btn-default {
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 220px;
  height: 180px;
  overflow: hidden;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}


.infobox {
  .infobox-progress {
    padding-top: 0;
    display: inline-block;
    vertical-align: top;
    width: 44px;

    .chart {
      position: relative;
      text-align: center;

      .sparkline {
        font-size: 24px;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0
      }

    }
  }
}

.current-action {
  margin-bottom: 15px;
  h3 {
    color: darkolivegreen;
    border-bottom: green solid 1px;
    padding-bottom: 10px;
  }

  .content {
    word-wrap: nowrap;
    max-height: 30px;
    overflow: hidden;
  }
}



.cycle {
  #logo-rays-container{
    top: 415px;
    left: 725px;
    display: block;
    margin-left: -410px;
    overflow: hidden;
    position: absolute;
    width: 200px;
    height: 200px;


    #logo-rays {
      -webkit-animation-delay: 0s;
      -webkit-animation-direction: normal;
      -webkit-animation-duration: 60s;
      -webkit-animation-fill-mode: none;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: spin;
      -webkit-animation-play-state: running;
      -webkit-animation-timing-function: linear;
      -webkit-background-clip: border-box;
      -webkit-background-origin: padding-box;
      -webkit-background-size: auto;
      background-attachment: scroll;
      background-clip: border-box;
      background-color: rgba(0, 0, 0, 0);
      background-image: url(rays2.jpg) ;
      background-origin: padding-box;
      background-size: 200px;
      display: block;
      margin-left: 0px;
      opacity: 1;
      height: 200px;
      width: 200px;
      z-index: 0;

    }

  }
}



#profile {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-shadow: rgb(51, 51, 51) 0px 0px 5px 0px;
  -webkit-transform: matrix(1.5, 0, 0, 1.5, 0, 0);
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: width;
  -webkit-transition-timing-function: ease;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(37, 64, 143);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(37, 64, 143);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(37, 64, 143);
  border-left-style: solid;
  border-left-width: 3px;
  border-right-color: rgb(37, 64, 143);
  border-right-style: solid;
  border-right-width: 3px;
  border-top-color: rgb(37, 64, 143);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-style: solid;
  border-top-width: 3px;
  bottom: 114.16676330566406px;
  box-shadow: rgb(51, 51, 51) 0px 0px 5px 0px;
  box-sizing: border-box;
  color: rgb(226, 226, 226);
  display: block;
  font-family: 'DIN Next W01 Light', helvetica, arial, sans-serif;
  font-size: 18px;
  height: 100px;
  left: 108px;
  line-height: 36px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  transform: matrix(1.5, 0, 0, 1.5, 0, 0);
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: width;
  transition-timing-function: ease;
  width: 250px;
  z-index: 11;

  a {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    cursor: auto;
    display: inline;
    font-family: 'DIN Next W01 Light', helvetica, arial, sans-serif;
    font-size: 18px;
    height: auto;
    line-height: 36px;
    text-decoration: none solid rgb(66, 139, 202);
    width: auto;
  }

  .details {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(37, 64, 143);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(226, 226, 226);
    display: block;
    font-family: 'DIN Next W01 Light', helvetica, arial, sans-serif;
    font-size: 18px;
    height: 150px;
    left: 110px;
    line-height: 36px;
    padding-top: 25px;
    position: absolute;
    width: 125px;

    .name {
      box-sizing: border-box;
      color: rgb(226, 226, 226);
      display: block;
      font-family: 'Rockwell W01 Bold', helvetica, arial, sans-serif;
      font-size: 16px;
      font-weight: normal;
      height: 16px;
      line-height: 16px;
      width: 125px;
    }
  }
}