// Place all the styles related to the Sankeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sankey_chart {
  .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }

  .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }

  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
  }

  .link:hover {
    stroke-opacity: .5;
  }

  svg text{
    font-size:12px;
  }

  rect{
    shape-rendering:crispEdges;
  }
}

#status_bar rect {
  fill: none;
  stroke: #082757;
  stroke-width: 2;
}

#status_bar text {
  fill: #082757;
  font-size: 1.0em;
  font-weight: bold;
}