//@font-face {
//  font-family: 'Optima-Cyr-Regular';
//  src: url('Optima-Cyr-Regular.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}
//

.bootstrap_flash {
  &>div {
    margin: 15px;
  }
}

.main {
  form {
    margin: 15px;
  }

  .show {
    margin: 15px;
  }

  .actions>a {
    margin: 5px 5px;
  }
}
//
.fa-select {
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}

.color-select {
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}

.modal-content {
  padding: 15px;
}

.modal-body {
  padding-top: 0px;
}
.afooter {
  height: 100px;
  margin-top: 30px;
  padding: 20px;
  color: white;
  background-color: #0A326E;
}

.btn-default, .btn-danger {
  margin-left: 10px;
  margin-right: 10px;
}
