//@font-face {
//  font-family: 'Optima-Cyr-Regular';
//  src: url('Optima-Cyr-Regular.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}
//

.bootstrap_flash {
  &>div {
    margin: 15px;
  }
}
.clear{
  clear:both;
}
.main {
  form {
    margin: 15px;
  }

  .show {
    margin: 15px;
  }

  .actions>a {
    margin: 5px 5px;
  }
}
//
.fa-select {
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}

.color-select {
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}

.modal-content {
  padding: 15px;
}

.modal-body {
  padding-top: 0px;
}

.afooter {
  padding-top: 1%;
  padding-top: 20px;
  padding-bottom: 1%;
  color: #292929;

  p{
    text-align: center;
  }

  .disclaimer {
  }

  .logos {
    [class*='logo'] {
      float: left;
      background-repeat: no-repeat;
      overflow: hidden;
      opacity: .75;

      margin-left: 1.5%;

      &:hover {
        opacity: 1;
      }
    }
    .logo1 {
      width: 12%;
      margin-top: 2%;
      padding-bottom: 12%;
      background: url('footer/LOGO UKR.png');
      background-size: cover;
    }
    .logo2 {
      width: 15%;
      margin-top: 3%;
      padding-bottom: 10%;
      background: url('footer/Euro_Flag.png');
      background-size: cover;
    }
    .logo3 {
      width: 22%;
      margin-top: 5%;
      padding-bottom: 7%;
      background: url('footer/logo.png');
      background-size: cover;
    }
    .logo4 {
      width: 25%;
      margin-top: 4.5%;
      padding-bottom: 7%;
      background: url('footer/vidrodzhennya.png');
      background-size: cover;
    }
    .logo5 {
      width: 7%;
      padding-bottom: 18%;
      background: url('footer/DMFA.png');
      background-size: cover;
    }
    .logo6 {
      width: 7%;
      padding-bottom: 18%;
      background: url('footer/UNDP_logo_UA.png');
      background-size: cover;
    }

  }
}
.bottomlinks{
  display: block;
  float: left;
  font-size: small;
  margin: 0 1em 1em 1em;
  text-align: left;
  width: 15%;
  ul{
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: block;
        list-style: none outside none;
        margin: 2px;
      }
      li.mainlink {
        font-size: big;
        font-weight: bold;
        margin: 0;
        padding-top: 0.5em;
      }
  }
  a:hover {
    text-decoration: none;
    padding-left: 11px;
    border-left: 4px solid #128576;
  }
}


.btn-default, .btn-danger {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  z-index: 9999;
  .lang {
    color: white;
    margin: 10px 20px 20px 0;
    * {
      padding: 10px 5px;
    }
  }
}

// --------------------- CHRONOLOGICAL SLIDER -----------------------
#slider_container {
  margin-top: 10px;
}

#slider_container .btn {
  padding: 10px 10px;
  font-weight: bold;
}

#slider_container .quarter_button {
  font-size: 18px;
}

.btn-default, .btn-danger {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: 0px;
}

#year_button {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}

// ------------------ FORM --------------------------
.title {
  margin-top: 20px;
  font-weight: bold;
}