.bg-white {
  background: #fff !important
}

.bg-silver {
  background: #f0f3f4 !important
}

.bg-black {
  background: #2d353c !important
}

.bg-black-darker {
  background: #242a30 !important
}

.bg-black-lighter {
  background: #575d63 !important
}

.bg-grey {
  background: #b6c2c9 !important
}

.bg-grey-darker {
  background: #929ba1 !important
}

.bg-grey-lighter {
  background: #c5ced4 !important
}

.bg-red {
  background: #ff5b57 !important
}

.bg-red-darker {
  background: #cc4946 !important
}

.bg-red-lighter {
  background: #ff7c79 !important
}

.bg-orange {
  background: #f59c1a !important
}

.bg-orange-darker {
  background: #c47d15 !important
}

.bg-orange-lighter {
  background: #f7b048 !important
}

.bg-yellow {
  background: #e3fa3e !important
}

.bg-yellow-darker {
  background: #b6c832 !important
}

.bg-yellow-lighter {
  background: #e9fb65 !important
}

.bg-green {
  background: #00acac !important
}

.bg-green-darker {
  background: #008a8a !important
}

.bg-green-lighter {
  background: #33bdbd !important
}

.bg-blue {
  background: #348fe2 !important
}

.bg-blue-darker {
  background: #2a72b5 !important
}

.bg-blue-lighter {
  background: #5da5e8 !important
}

.bg-aqua {
  background: #49b6d6 !important
}

.bg-aqua-darker {
  background: #3a92ab !important
}

.bg-aqua-lighter {
  background: #6dc5de !important
}

.bg-purple {
  background: #727cb6 !important
}

.bg-purple-darker {
  background: #5b6392 !important
}

.bg-purple-lighter {
  background: #8e96c5 !important
}

.no-bg {
  background: none !important
}