// Place all the styles related to the timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-timeline {
  .pull-left {
    text-align: right;
  }

  .tl-item {
    .icon {
      text-align: center;
    }

    i {
      color: white;
      width: 55px;
      height: 55px;
      font-size: 32px;
      line-height: 20px;
      border-radius: 55px;
      text-align: center;
      padding-top: 17px;
    }

    .date {
      text-align: center;
      background-color: gray;
      color: #ffffff;
    }

    .title {
      font-weight: bold;
    }

    .content {
      border: 1px ridge;
      margin-bottom: 20px;
      padding: 15px 10px;
    }

  }
}