//.vco-slider .nav-previous,.vco-slider .nav-next{width:200px!important;}.vco-slider .nav-previous .nav-container,.vco-slider .nav-next .nav-container{width:200px!important}
//.vco-slider .nav-next .icon{margin-left: 160px}

#timeline-embed {
  background-color: #E9E9E9;
  overflow: hidden;

  .slider-item {
    padding: 20px 30px!important;
    background-color: #0A316B;
    .content {
      height: inherit;
      .content-container{
        width: 100%;
        .media{
          float:left;
          padding-top: 15px;
          width:100%;
          height: 100%;
          background-color: transparent;
          border-left: 0!important;
        }

        .text {
          .date {
            color: #FF9933;
          }
          h2, h3 {
            color: white;
          }
          p {
            margin: 20px;
            color: #FF9933;
          }
        }
      }

    }
  }

  .timenav-interval-background {
    background-color: #F7F7F8;
  }
}