// Place all the styles related to the towns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.width-container {
  margin: 0 auto;
  width: 1026px;
}
.column_container {
  background-color: #FFFFFF;
  margin-bottom: -30px;
  margin-top: -30px;
  padding: 20px;
}
.edit_town{
  background: linear-gradient(#EEEFEF, #FFFFFF 10%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), 0 1px #FFFFFF inset, 0 -3px 2px rgba(0, 0, 0, 0.25) inset;
  position: relative;
  margin: 50px auto 30px !important;
  padding: 30px;
  width: 780px;
}
