:scss
  // init colors
  $active: #ffd304;
  $text: #0c2231;
  $search-border: #0c2231;
  $search-background: white;


  #edata_items {
    padding: 20px;
    table {
      thead {
        th {
          white-space: nowrap;
          min-width: 90px;
          cursor: pointer;
          opacity: .7;
          &:hover {
            opacity: 1;
          }
          span {
            &:before {
              content: '\f0ec';
              font-family: FontAwesome;
              font-size: 12px;
              -ms-transform: rotate(90deg); /* IE 9 */
              -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
              transform: rotate(90deg);
              float: left;
              margin-right: 5px;
            }
          }
        }
        .active {
          background: none;
          span {
            border-bottom: 2px solid $active;
          }
        }
      }
      tbody {
        tr {
          cursor: pointer;
          opacity: .7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    #pagination {
      .pagination {
        li {
          a {
            border: none;
            border-radius: 0;
            color: $text;
            padding: 2px 7px;
            font-weight: bold;
          }
        }
        .active {
          a {
            background-color: $active;
            color: $text;
          }
        }
      }
    }
  }
  #close-btn {
    background: $search-border;
    color: $search-background;
    cursor: pointer;
    height: 22px;
    width: 22px;
    text-align: center;
  }

#close-btn.pull-right
  %i.fa.fa-times.fa-lg

-if @items.blank?
  = t('.no-data')
-else
  #edata_items.table-responsive
    %table.table.table-striped
      %thead
        %th{'data-column' => 'edrpou', 'data-sort-direction' => 'asc', 'data-role' => @role}
          %span
            =t('.edrpou')
        %th.active{'data-column' => 'pnaz', 'data-sort-direction' => 'asc', 'data-role' => @role}
          %span
            =t('.org_name')
        %th{'data-column' => 'naz_v', 'data-sort-direction' => 'asc', 'data-role' => @role}
          %span
            =t('.org_name_v')
        %th{'data-column' => 'adp', 'data-sort-direction' => 'asc', 'data-role' => @role}
          %span
            =t('.address')

      = render partial: 'by_type_results'
    #pagination.text-center
      = paginate @items, remote: true, theme: 'e_data_template', params: {'sort_col' => 'trans_date', 'sort_dir' => 'asc', "method" => 'post'}
:javascript
  $(document).ready(function() {
    $('#close-btn').click(function() {
      $("#items-list").fadeOut();
    });
  });
