%p
  * Дані щодо розпорядників та отримувачів бюджетних коштів базуються на класифікаторі "Мережа"
  Державної Казначейської Служби України та групуються за географічним, а не адміністративним принципом.
%p
  ** Дані щодо транзакцій отримуються з сайту
  %a{'href' => 'http://spending.gov.ua/', 'target' => 'blank'} spending.gov.ua
  , який функціонує на виконання
  %a{'href' => 'http://zakon3.rada.gov.ua/laws/show/183-viii', 'target' => 'blank'} Закону "Про відкритість використання публічних коштів".
%p *** Модуль знаходиться у тестовій експлуатації.