-# TODO: development solution, comment this in production
-#.addthis_inline_share_toolbox
  %script{:src => Rails.configuration.addthis_url, :type => "text/javascript"}

-# TODO: uncomment this in production ('prod' and 'dev' use different version 'addthis')
.addthis_sharing_toolbox
  %script{:src => Rails.configuration.addthis_url, :type => "text/javascript"}
