.addthis_inline_share_toolbox
  %script{:src => Rails.configuration.addthis_url, :type => "text/javascript"}
-#.addthis_sharing_toolbox
  %script{:src => Rails.configuration.addthis_url, :type => "text/javascript"}
