= f.text_field :citizens, label: t('mongoid.attributes.town.citizens')
= f.text_field :house_holdings, label: t('mongoid.attributes.town.house_holdings')
= f.text_field :square, label: t('mongoid.attributes.town.square')
