= f.text_field :city_council, label: t('mongoid.attributes.town.city_council')
= f.text_field :local_deputy, label: t('mongoid.attributes.town.local_deputy')
= f.text_field :peoples_deputy, label: t('mongoid.attributes.town.peoples_deputy')
= f.text_field :state_audit_office, label: t('mongoid.attributes.town.state_audit_office')