.col-xs-12
  .counters-table
    %p.text-center
      %b Числові дані міста
    %table.table.table-bordered
      %tr
        %td koatuu
        %td citizens
        %td house_holdings
        %td square
      %tr
        %td 1424555100
        %td 2000
        %td 312
        %td 1234211.1
      %tr
        %td 3224555100
        %td 30210
        %td 3132
        %td 4432211.1
      %tr
        %td 4354555100
        %td 54224
        %td 1223
        %td 545431.1

    %p
      Де <mark>koatuu</mark>: koatuu міста
    %p
      Де <mark>citizens</mark>: кільість мешканців міста
    %p
      Де <mark>house_holdings</mark>: кількість домогосподарств міста
    %p
      Де <mark>square</mark>: площа міста

  .emails-table
    %p.text-center
      %b Електронні скриньки органів влади міста
    %table.table.table-bordered
      %tr
        %td koatuu
        %td city_council
        %td local_deputy
        %td peoples_deputy
        %td state_audit_office
      %tr
        %td 0500000000
        %td vin_1@gmail.com
        %td vin_2@gmail.com
        %td vin_3@gmail.com
        %td vin_4@gmail.com
      %tr
        %td 5310400000
        %td kre_1@gmail.com
        %td kre_2@gmail.com
        %td kre_3@gmail.com
        %td kre_4@gmail.com

    %p
      Де <mark>koatuu</mark>: koatuu міста
    %p
      Де <mark>city_council</mark>: Міська рада
    %p
      Де <mark>local_deputy</mark>: Місцевий депутат
    %p
      Де <mark>peoples_deputy</mark>: Народний депутат
    %p
      Де <mark>state_audit_office</mark>: Державна аудиторська служба