:scss
  #regions_title{
    display: none;
  }

= content_for :header do
  .head.pull-left
    =t('.create_city')
.row
  .col-xs-8
    =bootstrap_form_for(@town) do |f|
      =f.number_field :koatuu
      =f.text_field :title
      =f.select :level,Town.get_levels_array.map{|level|[level.last,level.first]},{label: t('.level')}
      #regions_title
        .form-group
          =label_tag :region_title,'Район'
          =text_field_tag :region_title,'' ,{class: 'form-control'}
        %br
      =f.submit t('.create_city'), {class: 'btn btn-primary'}

:javascript
  $(document).ready(function(){
    var region_level = 3;
    var village_level = 31;
    var region_title_dom = $('#regions_title');

    if(($('#town_level').val() == region_level || $('#town_level').val() == village_level) && $('#town_koatuu').val()){
        $.ajax({
          url: 'towns/get_parent',
          data: {level: $('#town_level').val(),koatuu: $('#town_koatuu').val()},
        });
       region_title_dom.show('fast');
    }

    $('#town_level').change(function(){
      $('#region_title').val('');
      if(($(this).val() == region_level || $(this).val() == village_level) && $('#town_koatuu').val()){
        $.ajax({
          url: 'get_parent',
          data: {level: $(this).val(),koatuu: $('#town_koatuu').val()},
        });
        if ($(this).val() == village_level){
          $('#region_title').attr('disabled', true);
        }
        else {
          $('#region_title').attr('disabled', false);
        }
        region_title_dom.show('slow');
      }
      else {
        region_title_dom.hide('slow');
      }
    });

    function focusOnErrorDom(dom_elem){
      dom_elem.focus();
      dom_elem.parents('.form-group').addClass('has-error');
      dom_elem.parents('.form-group').delay(7000).queue(function(){
        $(this).removeClass("has-error");
      });
    };

    $('form').submit(function(){
      var area_title_input = $('#town_area_title');
      var area_title_is_visible = area_title_input.css('display');

      var valid = true;

      var koatuu_length = 10;
      var koatuu_input = $('#town_koatuu');

      if (koatuu_input.val().length != koatuu_length){
        focusOnErrorDom(koatuu_input);
        return !valid;
      }
      if( !area_title_is_visible && area_title_input.val() ){
          area_title_input.val('');
          return valid;
      };
      if(area_title_is_visible && !area_title_input.val()){
        focusOnErrorDom(area_title_input);
        return !valid;
      }

      return valid;
    });

  });

