:scss
  #area_title{
    display: none;
  }

= content_for :header do
  .head.pull-left
    =t('.create_city')
.row
  .col-xs-8
    =bootstrap_form_for(@town) do |f|
      =f.number_field :koatuu
      =f.text_field :title
      =f.select :level,Town.get_levels_array.map{|level|[level.last,level.first]},{label: t('.level')}
      #area_title
        =f.text_field :area_title,{label: t('.area_title')}
      =f.submit t('.create_city'), {class: 'btn btn-primary'}

:javascript
  $(document).ready(function(){
    var area_level = 1;
    var area_title_dom = $('#area_title');

    if($('#town_level').val() != area_level){
      area_title_dom.show('fast');
    }

    $('#town_level').change(function(){
      if($(this).val() == area_level){
        area_title_dom.hide('slow');
      }
      else {
        area_title_dom.show('slow');
      }
    });

    function focusOnErrorDom(dom_elem){
      dom_elem.focus();
      dom_elem.parents('.form-group').addClass('has-error');
      dom_elem.parents('.form-group').delay(7000).queue(function(){
        $(this).removeClass("has-error");
      });
    };

    $('form').submit(function(){
      var area_title_input = $('#town_area_title');
      var area_title_is_visible = area_title_input.css('display');

      var valid = true;

      var koatuu_length = 10;
      var koatuu_input = $('#town_koatuu');

      if (koatuu_input.val().length != koatuu_length){
        focusOnErrorDom(koatuu_input);
        return !valid;
      }
      if( !area_title_is_visible && area_title_input.val() ){
          area_title_input.val('');
          return valid;
      };
      if(area_title_is_visible && !area_title_input.val()){
        focusOnErrorDom(area_title_input);
        return !valid;
      }

      return valid;
    });

  });

