<p>Вітаємо <%= @resource.email %>!</p>

<p>Був надісланий запит щодо зміни Вашого пароль. Ви можете зробити це за посиланням нижче.</p>

<p><%= link_to "Змінити мій пароль", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо Ви не подавали такий запит, проігноруйте цей лист.</p>
<p>Ваш пароль не буде змінено, поки Ви не пройдете за посиланням вказаним вище і не вкажете новий пароль.</p>
