<p>Вітаємо <%= @resource.email %>!</p>

<p>Ваш обліковий запис був заблокований через надмірну кількість спроб увійти до нього.</p>

<p>Натисніть посилання нижче, щоб розблокувати Ваш обліковий запис:</p>

<p><%= link_to "Розблокувати мій обліковий запис", unlock_url(@resource, unlock_token: @token) %></p>
