- if devise_mapping.registerable? && controller_name != 'registrations'
  - if btn_label.blank? ? msg = t('devise.passwords.forgot_your_password') : msg = btn_label
    = link_to msg, new_registration_path(resource_name), :class => 'btn btn-default register'