- if controller_name != 'sessions'
  - if btn_label.blank? ? msg = t('devise.sessions.sign_in') : msg = btn_label
    = link_to msg, new_session_path(resource_name), :class => 'btn btn-default sign-in'