:scss
  .clarity-analysis{
    a{
      display: inline-block;
      &:nth-child(1){
        margin-right: 10px;
      }
      img {
        max-width: 100% !important;
        max-height: 30px;
      }
    }
  }

.row.clarity-analysis
  .col-xs-12
    - if @municipal.edrpou.present?
      = link_to image_tag('repairing/customer.png', class: 'img-responsive'),
                "https://clarity-project.info/entity/#{correct_edrpou(@municipal.edrpou)}",
                target: '_blank'
    -#- if @municipal.edrpou.present?
      = link_to image_tag('repairing/contractor.png', class: 'img-responsive'),
                "https://clarity-project.info/entity/#{correct_edrpou(@properting_properties.edrpou_renter)}",
                target: '_blank'
