.documentation
  .panel.panel-default
    .panel-heading
      Завантажити отримувачів бюджетних коштів
    .new_document.panel-body
      = render :partial => 'new_acceptors_file', :locals => { :new_file => TaxonomyAcceptorsFile.new }

  .panel.panel-default
    .panel-heading
      Завантажені файли
    .documents.panel-body
      = render :partial => 'acceptors_files', :locals => { :files => @taxonomy.taxonomy_acceptors_files }
