%h3
  Бюджетні файли

.list-group
  - @taxonomy.budget_files.each do |budget_file|
    .list-group-item
      = link_to budget_file.title, budget_file_path(budget_file), :class => ''

      = link_to budget_file_download_path(budget_file), :class => '' do
        %i.fa.fa-download.fa.fa-border.fa-2x