
= bootstrap_form_for @taxonomy, :html => { :class => 'form-horizontal' } do |f|
  = f.text_field :title

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), taxonomies_path, :class => 'btn btn-default'
