.attachment_files.panel-body
  %table.table.table-striped
    - attachments.each do |attachment|
      = render :partial => 'calendars/event_attachments/attachment', :locals => { :event_attachment => attachment, :calendar_id=>calendar_id, :event_id=>event_id}



:javascript

  $('.attachment_files a[data-pk]').editable();