- if I18n.locale == I18n.default_locale
  .lng-item.active
    =image_tag('lang_ua.png')
    %span
      Укр
  .lng-item
    = image_tag('lang_en.png')
    = link_to "En", :locale=>'en'
- else
  .lng-item
    =image_tag('lang_ua.png')
    = link_to "Укр", :locale=>'uk'
  .lng-item.active
    =image_tag('lang_en.png')
    %span
      En