:scss
  .lang-switcher {
    float: right;
    padding-top: 37px;
    li {
      display: inline-block;
      opacity: .8;
      a {
        padding: 15px 5px;
        img {
          width: 20px;
        }
        &:hover,
        &:focus {
          padding-bottom: 12px;
        }
      }
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
    .active {
      opacity: 1;
    }
  }


%ul.lang-switcher
  - if I18n.locale == I18n.default_locale
    %li.active
      =link_to(image_tag('lang_ua.png'))
    %li
      =link_to(image_tag('lang_en.png'), :locale=>'en')
  - else
    %li.active
      =link_to(image_tag('lang_en.png'))
    %li
      =link_to(image_tag('lang_ua.png'), :locale=>'uk')
