:scss
  .lang-switcher {
    float: right;
    padding: 28px 0 0 0;
    margin: 0;
    li {
      display: inline-block;
      opacity: .8;
      a {
        padding: 15px 5px;
        img {
          width: 20px;
        }
        &:hover,
        &:focus {
          padding-bottom: 12px;
        }
      }
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
    .active {
      opacity: 1;
    }
  }
  @media (min-width: 920px) and (max-width: 1099px) {
    .lang-switcher {
      padding: 34px 20px 0 0;
    }
  }

%ul.lang-switcher
  - if I18n.locale == I18n.default_locale
    %li.active
      =link_to(image_tag('icons/langs/flag_of_ukraine.svg'))
    %li
      =link_to(image_tag('icons/langs/flag_of_the_united_kingdom.svg'), :locale=>'en')
  - else
    %li.active
      =link_to(image_tag('icons/langs/flag_of_the_united_kingdom.svg'))
    %li
      =link_to(image_tag('icons/langs/flag_of_ukraine.svg'), :locale=>'uk')

  = render partial: 'layouts/navbar/search'