:scss
  .page-head {
    padding: 0;
    margin: 0;
    .page-title {
      font-size: large;
      color: black;
      font-weight: bold;
    }

  }

  .btns-add {
    padding-top: 15px;
    margin: 0;
  }

  #targeted_programs {
    padding: 0;
  }

.row.page-head
  .page-title.pull-left
    =t('.header')

.row.btns-add
  =render partial: 'programs/targeted_programs/new_import_btns'

.col-xs-12#targeted_programs
  -#= render partial: 'programs/targeted_programs/programs/bar'
  -unless @programs.empty?
    = render partial: 'programs/targeted_programs/programs/list', locals: { programs: @programs, :years => @years, :year => @year }