:scss
  //init colors
  $black: black;

  .page-head {
    padding: 0;
    margin: 0;
    .page-title {
      font-size: large;
      color: $black;
      font-weight: bold;
    }

  }

  .btns-add {
    padding: 15px 0;
    margin: 0;
  }

  #targeted_programs {
    padding: 0;
  }

.row.page-head
  .page-title.pull-left
    =t('.header')

.row.btns-add
  =render partial: 'programs/targeted_programs/new_import_btns'

.row.data-table
  -if @programs.empty?
    =render partial: 'layouts/no_data_yet'
  -else
    =render partial: 'data_table'