#calendar_view.fc.fc-ltr{:calendar_id => @calendar.id }

#eventModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content

