#calendar_view.fc.fc-ltr{:calendar_id => @calendar.id }

:javascript

  function init_calendar() {
    return $('#calendar_view').fullCalendar({
      lang: 'uk',
      editable: false,
      header: {
        left: '',
        center: 'title',
        right: 'prev,next today'
      },
      defaultView: 'month',
      events: {
        url: '/events',
        data: {
          calendar_id: $('#calendar_view').attr('calendar_id')
        }
      },
      timeFormat: 'H:mm',
      droppable: false,
      selectable: false,
      eventClick: function(calEvent, jsEvent, view) {
        return $.get("/events/" + calEvent.id, {
          calendar_id: $('#calendar_view').attr('calendar_id')
        });
      },
      eventRender: function(e, t, n) {
        var icon;
        t.css('color', e.text_color);
        icon = (e.icon ? " <i class='fa fa-lg " + e.icon + " '></i> " : "");
        t.find(".fc-event-title").before($("<span class=\"fc-event-icons\"></span>").html(icon));
      }
    });
  }

  $(document).on('ready page:load', function() {
    init_calendar()

    $('a[href="#calendar_month"]').on('shown.bs.tab', function (e) {
      $('#calendar_view').fullCalendar('render');
    });
  })
