- if @countdown_event and @countdown_event.ends_at > Date.current
  = link_to(event_path(@countdown_event, { :calendar_id => @calendar.id }), :class => '', :remote => true) do
    %h3.title
      #{@calendar.countdown_title.html_safe}
    .date.col-sm-offset-5{ 'data-date' => @countdown_event.ends_at}



  :javascript

    $(function() {
      $('.countdown .date')
        .TimeCircles({
          time: {
            Days: {
              show: true,
              text: "Днів",
              color: "#FC6"
            },
            Hours: {
              show: false,
            },
            Minutes: {
              show: false,
            },
            Seconds: {
              show: false,
            }
          }
        });
    });
