- if @calendar.countdown_date > Date.current
  %h3.title
    #{@calendar.countdown_title.html_safe}
  .date.col-sm-offset-5{ 'data-date' => @calendar.countdown_date}
  .clearfix
  - if @calendar.countdown_event
    = link_to(event_path(@calendar.countdown_event, { :calendar_id => @calendar.id }), :class => 'btn btn-default', :remote => true) do
      %i.fa.fa-info
        Детальніше



  :javascript

    $(function() {
      $('.countdown .date')
        .TimeCircles({
          time: {
            Days: {
              show: true,
              text: "Днів",
              color: "#FC6"
            },
            Hours: {
              show: false,
            },
            Minutes: {
              show: false,
            },
            Seconds: {
              show: false,
            }
          }
        });
    });
