- if @calendar.countdown_date > Date.current
  %h3
    = @calendar.countdown_title.html_safe
  .date{ 'data-date' => @calendar.countdown_date, style: 'width: 85px; height: 85px; ;box-sizing: border-box'}
  .clearfix
  - if @calendar.countdown_event
    = link_to(event_path(@calendar.countdown_event, { :calendar_id => @calendar.id }), :class => 'btn btn-default', :remote => true) do
      %i.fa.fa-info
        Детальніше



  :javascript

    $(function() {
      left = $('.countdown').width() / 2
      $('.countdown .date').css('margin-left', left)
        .TimeCircles({
          time: {
            Days: {
              show: true,
              text: "Днів",
              color: "#FC6"
            },
            Hours: {
              show: false,
            },
            Minutes: {
              show: false,
            },
            Seconds: {
              show: false,
            }
          }
        });
    });
