.circle.pull-left
  = image_tag("calendar/timeline-city.png", width: '50px')

.tabs.pull-left
  = image_tag("calendar/news.png", width: '100%')
  = image_tag("calendar/event-selected.png", width: '100%')
