.col-sm-12.pies-container#calendar_pies{:calendar_id => @calendar.id }
  %canvas#chart-area1{:height => "400", :width => "400"}
  %canvas#chart-area2{:height => "200", :width => "200"}

  = render partial: "countdown"


:javascript

  $(document).ready(function() {

    width = $('.pies-container').width()
    pie1_width = width * .9 + 1
    pie1_cut = 85
    pie2_width = pie1_width*pie1_cut/100 - 40
    pie2_cut = 80

    $('#chart-area1').css('left', (width - pie1_width) / 2 - 1).css('top', (width - pie1_width) / 2 - 1).width(pie1_width)
    $('#chart-area2').css('left', (width - pie2_width) / 2 - 1).css('top', (width - pie2_width) / 2 - 1).width(pie2_width)

    $.getJSON( "#{public_pie_data_path}", { calendar_id: $('#calendar_pies').attr('calendar_id') }, function( data ) {

      var ctx2 = document.getElementById("chart-area2").getContext("2d");
      window.myDoughnut2 = new Chart(ctx2).Doughnut(data.events2, {
        segmentShowStroke: false,
        responsive: false,
        percentageInnerCutout: pie2_cut,
        animateScale: true,
        animateRotate: false,
      });


      var ctx1 = document.getElementById("chart-area1").getContext("2d");
      window.myDoughnut1 = new Chart(ctx1).Doughnut(data.events1, {
        segmentShowStroke: false,
        responsive: false,
        percentageInnerCutout: pie1_cut,
        animateScale: false,
        animateRotate: true,
        tooltipTemplate: '<%if (label){%><%=label%>: <%}%>'
      });

    });
  })



https://github.com/mbostock/d3/wiki/Gallery
