.pies-container#calendar_pies{:calendar_id => @calendar.id }
  %svg#svg_calendar
  %h1
    2014


:javascript

  $(document).ready(function() {
    pie = $('.pies-container')
    size = pie.width() * .76
    $.getJSON( "#{public_pie_data_path}", { calendar_id: $('#calendar_pies').attr('calendar_id') }, function( data ) {
      var pie = d3.layout.pie()
          .sort(null)
          .value(function(d) { return d.value; });

      var svg = d3.select('#svg_calendar')
          .attr("width", size)
          .attr("height", size)
          .append("g")
          .attr("transform", "translate(" + size / 2 + "," + size / 2 + ")");


      var cut = size*0.04
      var radius = size / 2 - data.events1.length * cut;

      $([{events: data.events1, radius: radius, cut: -cut },
         {events: data.events2, radius: radius-10, cut: cut }]).each(function(i, cycle) {
        $(cycle.events).each(function(j, c) {
          if (cycle.radius > 0 && cycle.radius > cycle.cut) {
            var arc = create_arc(cycle.radius, cycle.radius - cycle.cut)
            var g = svg.selectAll(".arc"+i+j)
                .data(pie(c.events))
                .enter().append("g")
                .attr("class", "arc"+i+j);

            append_pathAndText(g, arc)

            cycle.radius = cycle.radius - cycle.cut;
          }
        })
        radius = radius - 10;
      })
    })

    $('.pies-container').css('padding', $('#svg_calendar').width() * .11)
    $('#svg_calendar').css('margin-left', $('#svg_calendar').width() * .01)


    function create_arc(radius1, radius2) {
      return d3.svg.arc()
          .outerRadius(radius1)
          .innerRadius(radius2);
    }

    function append_pathAndText(g, arc) {
      var div = d3.select("body").append("div")
          .attr("class", "tooltip")
          .style("opacity", 0);

      g.append("path")
         .attr("d", arc)
         .style("fill", function(d) { return d.data.color; })
         .style("cursor", function(d) { return (d.data.id == '') ? '' : 'pointer'} )
         .on("click", function(d) {
           if(d.data.id == '')
             return
           $.get("/events/"+d.data.id, { calendar_id: $('#calendar_view').attr('calendar_id') });
         })
         .on("mouseover", function(d) {
           if(d.data.title == '')
             return

           div.transition()
             .duration(200)
             .style("opacity", .7)
             .style("color", d.data.text_color)
             .style("background-color", d.data.color);
           div .html( get_html_for_ev(d) )
             .style("left", (d3.event.pageX - 120) + "px")
             .style("top", (d3.event.pageY - 28) + "px");
         })
         .on("mouseout", function(d) {
           div.transition()
             .duration(200)
             .style("opacity", 0);
         })

         g.append("text")
             .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
             .attr("dy", ".35em")
             .style("text-anchor", "middle")
             .html(function(d,i) {
                //return d.data.title;
             })
    }

    function get_html_for_ev(d) {
      return "<h5><i class='fa " + d.data.icon + "'></i> " + d.data.title + "</h5>з <b>" + d.data.starts_at + "</b> по <b>" + d.data.ends_at + "</b><hr/>" + d.data.desc
    }
  })
