= stylesheet_link_tag "tab_styled/tabs.css", :media => "all"
= stylesheet_link_tag "tab_styled/tabstyles.css", :media => "all"
= javascript_include_tag "tab_styled/cbpFWTabs.js"
= javascript_include_tag "tab_styled/modernizr.custom.js"


%section
  .tabs.tabs-style-bar
    %nav
      %ul
        %li
          %a.fa.fa-user.fa-2x{href: "#section-bar-1"}
            %span
              Візуалізація бюджету
        %li
          %a.fa.fa-user.fa-2x{href: "#section-bar-2"}
            %span
              Санкей
        %li
          %a.fa.fa-user.fa-2x{href: "#section-bar-4"}
            %span
              Показники діяльності
    .content-wrap
      %section#section-bar-1
        %p
          1
      %section#section-bar-2
        %p
          2
      %section#section-bar-3
        %p
          3
      %section#section-bar-4
        %p
          4
      %section#section-bar-5
        %p
          5

  .tabs.tabs-style-underline
    %nav
      %ul
        %li
          %a.fa.fa-user.fa-2x{href: "#section-bar-1"}
            %span
              Візуалізація бюджету
        %li
          %a.fa.fa-user.fa-2x{href: "#section-bar-2"}
            %span
              Санкей
        %li
          %a.fa.fa-user.fa-2x{href: "#section-bar-3"}
            %span
              Бюджетний календар
    .content-wrap
      %section#section-bar-11
        %p
          1
      %section#section-bar-12
        %p
          2
      %section#section-bar-13
        %p
          3
      %section#section-bar-14
        %p
          4
      %section#section-bar-15
        %p
          5


:javascript
  (function() {

      [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
      });

  })();
