:css
  a {
    text-decoration: none;
    outline: none;
  }

  a img {
    border: none;
  }

  .caption {
    display: inline-block;
    position: relative;
    margin: 10px;
  }

  .caption img {
    display: block;
    width: 100%;
  }

  .caption::before,
  .caption::after {
    opacity: 0;
    position: absolute;
    width: 100%;
    color: #fff;
    padding: 20px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .caption::before {
    content: attr(data-title);
    top: 0;
    height: 30%;
    background: darkslateblue;
    font-size: 40px;
    font-weight: 300;
  }

  .caption::after {
    content: '\201C' attr(data-description) '\201D';
    top: 30%;
    height: 70%;
    background: deepskyblue;
    font-size: 16px;
    text-align: right;
  }

  .caption:hover::before,
  .caption:hover::after {
    opacity: 1;
  }

%a.caption.col-xs-12{ href: "#{href}",
  'data-title' =>"Bubble tree",
  'data-description' => "Parallax Content Slider with CSS3 and jQuery..."}
  %img{ src: "#{img[:src]}", alt: "Parallax Content Slider with CSS3 and jQuery" }
