.visify {
  #chart {
    min-height: 200px;
    overflow: hidden !important;
    scrolling: auto !important;
  }

  .slider {
    .month li {
      a {
        width: 55px;
        margin: 5px;
        font-size: 12px;
      }
    }
  }
}

body {
  overflow-x: hidden;
}

.budget {

  iframe {
    border: 1px;
    overflow-x: hidden;
  }

  .visiframe {
    margin-bottom: 20px;

    #visiframe {
      width: 800px;
    }
  }

  #sequence {
    width: 100%;

    text {
//      font-weight: 600;
      font-size: 12px;
      fill: #fff;
    }
  }


  .bubbletree, .sunburst, .sunburst-bievel, .sunburst-seq, .treemap, .icicle, .circles, .collapsible {
    margin: 20px 0px;

    #chart {
      padding-right: 10px;
      border-right: 1px solid #0A326E;
      position: relative;

      path, rect {
        cursor: pointer;
        stroke: #fff;
      }
      text {
        font-size: 11px;
        word-wrap: break-word;
      }
    }

    #sidebar {
      min-width: 300px;
      padding: 0px;
      float: right;
      overflow: auto;

      #title {
        h3, h4 {
          color: #FF9933;
        }
      }

      #description {
        margin: 10px;
      }

      #attachments_list {
        margin-left: 10px;
      }
    }

    #tooltip {
      color: orange;
      background: #237;
      position: absolute;
      z-index: 9999;
      text-align: center;
      width: auto;
      width: 250px;
      height: auto;
      max-height: 150px;
      overflow: hidden;
      padding: 10px;
      font-size: 12px;
      border: 4px;
      border-radius: 8px;
      pointer-events: none;
      border: 1px solid black;
    }
  }

  .sunburst-seq {
    #explanation {
      position: absolute;
      text-align: center;
      color: darkblue;
      z-index: 1;
      font-size: 1em;

      #percentage {
        font-size: 1.0em;
        font-weight: bold;
        text-align: center;
        position: relative;
      }
    }
  }

  .bubbletree {

    #chart {
      .label {
        position: absolute;
        color: #fff;
        text-align: center;
        cursor: default;
        overflow: hidden;

        .amount {
          text-transform: uppercase;
          font-size: 12px;
          margin-bottom: 5px;
        }

        .desc {
          font-size: 11px;
          font-weight: normal;
        }

        i {
          font-size: 20px;
          display: block;
          margin-bottom: 5px;
        }
      }

      .label2 {
        position: absolute;
        color: #000;
        text-align: center;
        cursor: default;
        font-size: 11px;
        margin-top: 5px;
      }

      .label2 span {
        background: rgba(255, 255, 255, .85);
      }
    }
    .loading {
      z-index: 1000;
      position: absolute;
      width: 700px;
      height: 400px;
    }

  }

  .treemap {
    #chart {
      //    display: block;
      //    margin: auto;
      //    margin-top: 40px;
    }

    text {
      font-size: 11px;
    }

    rect {
      fill: none;
    }
  }

  .circles {
    text {
      font-size: 11px;
      pointer-events: none;
    }

    text.parent {
      fill: #0702b4;
    }

    circle {
      fill: #ccc;
      stroke: #999;
      pointer-events: all;
    }

    circle.parent {
      fill: #1f77b4;
      fill-opacity: .1;
      stroke: steelblue;
    }

    circle.parent:hover {
      stroke: #ff7f0e;
      stroke-width: .5px;
    }

    //  circle.child {
    //    pointer-events: none;
    //  }
  }

  .collapsible {
    circle.node {
      cursor: pointer;
      stroke: #000;
      stroke-width: .5px;
    }

    line.link {
      fill: none;
      stroke: #9ecae1;
      stroke-width: 1.5px;
    }
  }

  .sunburst-bievel {
    circle {
      cursor: pointer;
    }

  }
}

#charts_tooltip {
  position: absolute;
  min-width: 130px;
  height: auto;
  padding: 0.5em;
  background-color: rgba(240,240,240,0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  text-align: center;
  z-index: 999;
}

#charts_tooltip.hidden {
  display: none;
}

#charts_tooltip p {
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
}

#icons {
  tr {
    width: 97%;
    display: inline-table;
  }

  table{
  }

  tbody{
    overflow-y: auto;
    width: 97%;
    position: absolute;
  }

  .table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
    background-color: transparent;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #DCDCDC;
  }
}


