= f.collection_radio_buttons :holder, [[1, 'Місто'], [2, 'Громада']],
:first, :last, { item_wrapper_tag: false } do |b|
  = b.radio_button + ' ' + b.label(:class => b.value == 1 ? 'fa fa-university' : 'fa fa-child')
