- if I18n.locale == I18n.default_locale
  =image_tag('lang_ua.png', :class=>'active') + " Укр "
  |
  = image_tag('lang_en.png')
  = link_to "En", :locale=>'en'
- else
  =image_tag('lang_ua.png')
  = link_to "Укр", :locale=>'uk'
  |
  =image_tag('lang_en.png', :class=>'active') + " En "