:scss
  .partner_logo {
    float: left;
    margin-left: 25px;
    opacity: .7;

    max-width: 10vw;
    max-height: 3vh;

    &:hover {
      opacity: 1;
    }

    img {
      width: 100%;
    }
  }

.partner_logo
  = link_to (image_tag 'horizontal-c-withoutCPSA.svg', alt: 'ЕЙДОС'), 'http://eidos.org.ua/#all', :target => '_blank'
.partner_logo
  = link_to (image_tag 'http://www.de-novo.biz/wp-content/themes/denovo/images/logos/logo_denovo_uk.png', alt: 'denovo'), 'http://www.de-novo.biz/', :target => '_blank'
