:css
  #category_description span {
    font-size: 1.2em;
    font-weight: bold;
  }
  #category_content {
    margin-top: 10px;
  }
  .leaflet-top.leaflet-right {
    width: 300px;
  }

#category_description
  %span
    Вибрати категорію робіт:
#category_btns.btn-group
  - Repairing::Category.all.select{|p| p.category.nil? }.each do |category|
    .btn.btn-primary{:title => category.title, 'data-id' => category.id}
      %i.fa{ :class => category.icon.blank? ? 'fa-asterisk' : category.icon }
#category_content
  #category_title
  #subcategories

