:scss
  .map_container {
    min-height: 300px;
    height: calc(100vh - 101px);
  }
  .btn-container{
    text-align: left;
    padding: 5px 0 0;
    .social-btns {
      display: inline-block;
      vertical-align: middle;
    }
    .embedded-button{
      display: inline-block;
      vertical-align: top;
    }
  }
  //hide sidebar for share
  .at4-share-outer {
    display: none;
  }

.map_container
  = render partial: 'map'
- if has_own_referer?
  .col-xs-12.btn-container
    .social-btns
      = render partial: 'layouts/addthis_hor_share'
    .embedded-button
      = render partial: 'show_map'















-#:css
-#  .map_container {
-#    min-height: 300px;
-#    height: calc(100vh - 101px);
-#  }
-#
-#  /*hide sidebar for share*/
-#  .at4-share-outer {
-#    display: none;
-#  }
-#
-#  .social-btns {
-#    padding: 5px 0 0 0;
-#  }
-#
-#.map_container
-#  = render partial: 'map'
-#.col-xs-12.social-btns
-#  =render partial: 'layouts/addthis_hor_share'