= form_tag repairing_search_addr_path, :method => :get, :remote => true, :html => { :class => 'form-vertical' } do |f|
  .input-group.input-group-sm
    = text_field_tag :q, '', { :placeholder=>t('.search'), :class => 'form-control' }
    %span.input-group-btn
      = submit_tag 'Search', :class => 'btn btn-primary' do
        %i.fa.fa-search.fa-lg
