:scss
  // initial colors
  $yellow: #ffd304;
  $darkblue: #0c2231;
  $greyblue: #2f383e;
  $blue: #35566E;
  $light-blue: #42778A;
  $text-color: #ECECEC;

  .status-btns{
    .btn{
      text-transform: uppercase;
      color: $text-color;
      border: none;
      border-radius: 0;
      padding: 3px 8px 2px;
      letter-spacing: 1px;
      background: radial-gradient($light-blue, $blue);
    }
    .btn:nth-of-type(1){
      margin-right: -4px;
      border-right: 2px solid $greyblue;
    }
    .btn.active{
      color: $yellow;
      background: linear-gradient(to bottom, $light-blue 0%, $greyblue 15%, $darkblue 19%, $darkblue 100%);
    }
  }

.btn{'data-status' => :plan}
  = t('js.visify.plan')
.btn{'data-status' => :fact}
  = t('js.visify.fact')

