:scss
  iframe {
    width: 100%;
    height: calc(100vh - 250px);
    padding-top: 5px;
  }
  #embed_code {
    padding-bottom: 5px;
  }

%iframe{src: "/repairing/maps/frame/6?locale=#{params[:locale]}", frameborder: 0}

= render partial: 'show_map'