%iframe{ 'width' => '100%', 'height' => '800', 'border' => 'none', src: 'maps/frame/6/'}

.col-xs-12
  #embed_code.pull-right
    = render partial: 'embed_code'

:javascript

  $(document).ready(function() {

    var embed_code = aMapEmbedCode();
    var src = 'http://' + window.location.host + "/repairing/maps/frame/6/";
    embed_code.initialize({width: '100%', height: '800px', el_id: "#embed_code", src: src});


    $('#town_select').select2({
      sortResults: function(results, container, query) {
        if (query.term) {
            // use the built in javascript sort function
            return results.sort(function(a, b) {
                if (a.text.length > b.text.length) {
                    return 1;
                } else if (a.text.length < b.text.length) {
                    return -1;
                } else {
                    return 0;
                }
            });
        }
        return results;
    },
      allowClear: true,
      multiSelect: false,
      multiple: false,
      minimumInputLength: 2,
      placeholder: "Обрати місто",
      width: '100%',
      ajax: {
        url: '#{search_for_towns_town_path}',
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return {
            query: term, // search term
          };
        },
        results: function (data, page) {
          return { results: data };
        },
        cache: true
      },
    }).on("change", function(){
      set_frame_url($(this).val(), $('#zoom_select').val());
      /*aRepairMap.map.setView(new L.LatLng(39, 40), 14);*/
    });

    $('#zoom_select').on("change", function(){
      set_frame_url($('#town_select').val(), $(this).val());
    })

    $('#embed_code #year_select').on("change", function(){
      set_frame_url($('#town_select').val(), $('#zoom_select').val());
    })

    function set_frame_url(town_id, zoom){
      var src = 'http://' + window.location.host + "/repairing/maps/frame/" + zoom + "/" + town_id  ;

      var year = $('#embed_code #year_select').val()
      if (year != '')
        src += "/" + year

      embed_code.set_iframe(src);
    }

  })