#my-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Title
      .modal-body
        modal form
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close


:javascript
  $(document).ready(function() {
    $('#my-modal').on('click', function(e){
      $('#my-modal').modal();
    })
  })