:scss
  .modal-footer {
    .btn-default {
      background-image: none;
    }
  }

#add-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Title
      .modal-body
        = render partial: '/export_budgets/form'
      .modal-footer
        = simple_form_for(@export_budget) do |f|
          = f.button :submit, t('.save'), class: 'btn btn-primary'

#my-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Title
      .modal-body
        = render partial: 'export_budgets/list'
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

:javascript
  $(document).ready(function() {

    $('.buttons a#mWindow').on('click', function(){
      $('#my-modal').modal();
    }),

    $('.buttons a#mAddWindow').on('click', function(){
      $('#add-modal').modal();
    })
  })