:scss
  .margin_like_form{
    margin: 15px;
  }
  #calendar{
    margin: 0px;
  }


.margin_like_form
  .form-group
    =label_tag('tax_rot',t('taxonomy_rot'))
    =select_tag 'tax_rot', options_from_collection_for_select(@presenter.taxonomies_rot,'id','title'),
      class:'form-control',:prompt => t('.choose_taxonomy_rot')
  .form-group
    =label_tag('tax_rov',t('taxonomy_rov'))
    =select_tag 'tax_rov', options_from_collection_for_select(@presenter.taxonomies_rov,'id','title'),
      class:'form-control',:prompt => t('.choose_taxonomy_rov')
  .form-group
    =label_tag('sankey',t('sankeys.get_sankey'))
    =check_box_tag 'sankey'

  .form-group
    =label_tag('calendar',t('choose_calendar'))
    =select_tag 'calendar', options_from_collection_for_select(@presenter.calendars,'id','title'),
      class:'form-control',:prompt => t('.choose_calendar')
  .form-group
    =label_tag('indicates',t('indicate.taxonomies.form.header'))
    =select_tag 'indicates', options_from_collection_for_select(@presenter.indicates,'id','id'),
      class:'form-control',:prompt => t('.choose_indicate')

:javascript
  $(document).ready(function(){
      var show_iframe_in_modal = function(iframe_url) {
        $('#export_budget_visualisation_modal_window').find('#iframe').attr('src',iframe_url);
        $('#export_budget_visualisation_modal_window').modal();
      };

      $('#calendar').change(function(){
        show_iframe_in_modal('/widgets/calendar/show/' + $(this).val());
      });

      $('#tax_rot').change(function(){
        show_iframe_in_modal('/widgets/visify/bubbletree/' + $(this).val());
      });

      $('#tax_rov').change(function(){
        show_iframe_in_modal('/widgets/visify/bubbletree/' + $(this).val());
      });
      $('#indicates').change(function(){
        alert('indicates change');
      });
      $('#sankey').change(function(){
        if($(this).is(":checked")) {
        }
      });


  });


