:scss
  .margin_like_form{
    margin: 15px;
  }
  #calendar{
    margin: 0px;
  }


.margin_like_form
  .form-group
    =label_tag('tax_rot',t('taxonomy_rot'))
    =select_tag 'tax_rot', options_from_collection_for_select(@presenter.taxonomies_rot,'id','title'),
      class:'form-control',:prompt => t('.choose_taxonomy_rot')
  .form-group
    =label_tag('tax_rov',t('taxonomy_rov'))
    =select_tag 'tax_rov', options_from_collection_for_select(@presenter.taxonomies_rov,'id','title'),
      class:'form-control',:prompt => t('.choose_taxonomy_rov')
  .form-group
    =label_tag('sankey',t('sankeys.get_sankey'))
    =check_box_tag 'sankey',false,false,disabled: true

  .form-group
    =label_tag('calendar',t('choose_calendar'))
    =select_tag 'calendar', options_from_collection_for_select(@presenter.calendars,'id','title'),
      class:'form-control',:prompt => t('.choose_calendar')
  .form-group
    =label_tag('indicates',t('indicate.taxonomies.form.header'))
    =select_tag 'indicates', options_from_collection_for_select(@presenter.indicates,'id','id'),
      class:'form-control',:prompt => t('.choose_indicate')

:javascript

    $(document).ready(function(){

      var show_iframe_in_modal = function(iframe_url,panel_selector = 'div.active') {
        $('#export_budget_visualisation_modal_window').find('#iframe').attr('src',iframe_url);
        $('#export_budget_visualisation_modal_window').find('#iframe').attr('data-panel-selector',panel_selector);

        $('#export_budget_visualisation_modal_window').modal();
      };

      var set_sankey_button_status = function(tax_rot_value,tax_rov_value){
        var sankey_dom = $('#sankey');
        sankey_dom.attr('disabled','disabled');
        if (tax_rot_value && tax_rov_value){
          sankey_dom.removeAttr('disabled');
        }
      }

      $('#calendar').change(function(){
        var calendar_id = $(this).val();
        if (calendar_id){
          show_iframe_in_modal('/widgets/calendar/show/' + calendar_id);
        }
      });

      $('#tax_rot').change(function(){
        var tax_rot_id = $(this).val();
        if(tax_rot_id){
          show_iframe_in_modal('/widgets/visify/bubbletree/' + tax_rot_id);
        }
        set_sankey_button_status(tax_rot_id,$('#tax_rov').val());
      });

      $('#tax_rov').change(function(){
        var tax_rov_id = $(this).val();
        if(tax_rov_id){
          show_iframe_in_modal('/widgets/visify/bubbletree/' + $(this).val());
        }
        set_sankey_button_status($('#tax_rot').val(),tax_rov_id);
      });

      $('#indicates').change(function(){
        if($(this).val()){
          show_iframe_in_modal('/widgets/town_profile/show_indicates/' + $(this).val(),'#indicators');
        }
      });

      $('#sankey').change(function(){
        if($(this).is(":checked")) {
          if($('#tax_rot').val() && $('#tax_rov').val()){
            show_iframe_in_modal('/widgets/town_profile/sankey_by_taxonomies/' +
                $('#tax_rot').val() + '/' + $('#tax_rov').val());
          }
        }
      });


  });


