.header-budget-form
  %h2
    =t('.header')
  %h2
    = link_to t('show'), @export_budget,class: 'btn btn-primary'
  -unless @export_budget.town.nil?
    = link_to t('export_budgets.town_profile'),public_path(@export_budget.town),class: 'btn btn-primary'
= render 'form'

