
%iframe#res{:height => "900", :src => @url, :width => "1200",'data-url' => create_pdf_path }
:javascript


  $('#res').on('load',function(){
    $.when(
      $.getScript( "/assets/html2canvas/html2canvas.js" ),
      $.getScript( "/assets/html2canvas/html2canvas.svg.js" ),
      $.Deferred(function( deferred ){
        $( deferred.resolve );
      })
    ).done(function(){
        alert('Load!!!');
        var test = $("#res").contents();
        test.find('.chart li:eq(2) a').tab('show');
        test.find('.active').removeClass('active');
        test.find('#tab_pie').addClass('active');
        var url_data = $('#res').attr('data-url');
        setTimeout(function(){
            html2canvas(test.find('#tab_pie'), {

            onrendered: function(canvas) {
            canvas.getContext('2d');
            var canvasdata = canvas.toDataURL("image/png");
            sendAjax(canvasdata,url_data);
            //var image = new Image();
            //image.src = canvasdata;

            //document.body.appendChild(image);
            }
          });
        },1000);
    });
  });
  var sendAjax = function(data,url){
    $.ajax({
        url: url,
        type: 'post',
        data: {test : data}
    });
  };
