:scss
  #res{

    //position: absolute;
  }
  #back{
    z-index: 15;
    img{
      width: 1368px;
      height: 760px;
    }

    position: fixed;
  }




%iframe#res{:height => "900", :src => @url, :width => "1200",'data-url' => create_pdf_path }
#back
  =image_tag('budjet.jpg')
= form_tag(create_pdf_path) do
  =text_field_tag :base64
  =hidden_field_tag :id, @export_budget.id
  =submit_tag

:javascript


  $('#res').on('load',function(){
    $.when(
      $.getScript( "/assets/html2canvas/html2canvas.js" ),
      $.getScript( "/assets/html2canvas/html2canvas.svg.js" ),
      $.Deferred(function( deferred ){
        $( deferred.resolve );
      })
    ).done(function(){
        var iframe_dom = $("#res").contents();
        iframe_dom.find('.chart li:eq(2) a').tab('show');
        iframe_dom.find('.active').removeClass('active');
        iframe_dom.find('#tab_pie').addClass('active');
        var url_data = $('#res').attr('data-url');
        setTimeout(function(){
            html2canvas(iframe_dom.find('#tab_pie'), {

            onrendered: function(canvas) {
            canvas.getContext('2d');
            var canvasdata = canvas.toDataURL("image/png");

            $('#base64').val(canvasdata);
            $('form').submit();
            //sendAjax(canvasdata,url_data);
            }
          });
        },1500);
    });
  });
  var sendAjax = function(data,url){
    $.ajax({
        url: url,
        dataType: 'json',
        type: 'post',
        data: {test : data}
    });
  };
